<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no"
        />
        <meta name="format-detection" content="telephone=no" />

        <title>Konnect World</title>

        <!-- meta tag -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"> 
        <meta property="image" content="https://s3.ap-northeast-2.amazonaws.com/asset.konnect-world.com/images/share.png">
        <meta name="title" content="Konnect World">
        <meta name="description" content="Connect virtual and reality. Meet the real benefits through the story of Konnect World and NFTs from Konnect.">
        <meta name="keywords" content="Konnect World, Konnect, Konnectworld, KCT, kct, konnectkct, NFT, nft, Duman, DUMAN, 듀먼, 커넥트, 커넥트 월드">
        <meta name="robots" content="index, follow">
        <meta name="language" content="English">
        <meta name="revisit-after" content="1 days">
        <meta name="author" content="KCT-Konnect">
        <!-- // meta tag -->

        <!-- Open Graph -->
        <meta property="og:locale" content="us_EN">
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="Konnect World">
        <meta property="og:title" content="Konnect World">
        <meta property="og:description" content="Connect virtual and reality. Meet the real benefits through the story of Konnect World and NFTs from Konnect.">
        <meta property="og:url" content="https://konnect-world.com">
        <meta property="og:image" content="https://s3.ap-northeast-2.amazonaws.com/asset.konnect-world.com/images/share.png">
        <meta property="og:image:alt" content="Konnect World"><meta property="og:image:width" content="650">
        <meta property="og:image:height" content="650"><meta name="twitter:card" content="summary">
        
        <meta property="og:url" content="https://konnect-world.com/invitation">
        <meta property="og:title" content="Konnect Membership">
        <meta property="og:description" content="당신의 라이프스타일에 딱 맞는 멤버십 (Perfect Fit Your Lifestyle Membership)">
        <meta property="og:image" content="https://s3.ap-northeast-2.amazonaws.com/asset.konnect-world.com/images/invitation_banner.png">
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://konnect-world.com/invitation">
        <meta property="twitter:title" content="Konnect Membership">
        <meta property="twitter:description" content="당신의 라이프스타일에 딱 맞는 멤버십 (Perfect Fit Your Lifestyle Membership)">
        <meta property="twitter:image" content="https://s3.ap-northeast-2.amazonaws.com/asset.konnect-world.com/images/invitation_banner.png">
        <meta property="og:type" content="website"><meta property="og:url" content="https://konnect-world.com/invitation">
        <meta property="og:title" content="Konnect Membership">
        <meta property="og:description" content="당신의 라이프스타일에 딱 맞는 멤버십 (Perfect Fit Your Lifestyle Membership)">
        <meta property="og:image" content="https://s3.ap-northeast-2.amazonaws.com/asset.konnect-world.com/images/invitation_banner.png">

        <meta name="twitter:title" content="Konnect World"><meta name="twitter:site" content="@KONNECT_KCT">
        <meta name="twitter:description" content="Connect virtual and reality. Meet the real benefits through the story of Konnect World and NFTs from Konnect.">
        <meta name="twitter:image" content="https://s3.ap-northeast-2.amazonaws.com/asset.konnect-world.com/images/share.png">
        <meta name="twitter:image:alt" content="Konnect World"><meta property="og:type" content="website">

        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
        <!-- Open Graph -->

        <!-- Icon & Favicon -->  
        <link rel="apple-touch-icon" sizes="180x180" href="../img/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon/favicon-16x16.png">
        <link rel="manifest" href="../img/favicon/site.webmanifest">
        <link rel="mask-icon" href="../img/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <!-- // Icon & Favicon -->

        <link rel="stylesheet" href="../css/common.css" />


    </head>

    <body class="body_bg">
        <div class="wrap">
            <header id="header" class="header main_header">
                <div class="header_wrap">
                    <div class="header_logo">
                        <a href="../views/index_ko.html">
                            <div class="header_logo">
                                <img src="../img/main_logo.png" alt="" />
                            </div>
                        </a>
                    </div>
                    <div class="header_right">
                        <div class="language">
                            <div class="language_status language_box">
                                <img src="../img/svg/global.svg" alt="global" />
                                <p class="language_text is-active">KR</p>
                            </div>
                            <ul class="language_list">
                                <li>
                                    <a href="../views/index_ko.html">
                                        <p class="language_text is-active">KR</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="../views/index_en.html">
                                        <p class="language_text">EN</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="menu">

                        </div>
                    </div>
                </div>
            </header>
            <main id="main" class="main_content">
                <div class="section">
                    <div class="content"></div>
                </div>
                <div class="section">
                    <div class="content content_2"></div>
                </div>
            </main>
            <footer id="footer" class="footer main_footer p_side_32">
                <div class="footer_sub email">
                    <form class="email_form">
                        <div class="email_input">
                            <input id="email_form" type="text" class="email_input_field" required area-required="true" value="">
                            <label for="email_form" class="email_input_label">Enter your email</label>    
                        </div>
                        <button class="email_btn"></button>
                    </form> 
                </div>
                <div class="footer_sub footer_menu">
                    <div class="footer_menu_list">
                        <h3>About us</h3>
                        <ul>
                            <li>Our company</li>
                            <li>Our company</li>
                            <li>Our company</li>
                            <li>Our company</li>
                        </ul>
                    </div>
                    <div class="footer_menu_list">
                        <h3>About us</h3>
                        <ul>
                            <li>Our company</li>
                            <li>Our company</li>
                            <li>Our company</li>
                            <li>Our company</li>
                        </ul>
                    </div>
                    <div class="footer_menu_list">
                        <h3>About us</h3>
                        <ul>
                            <li>Our company</li>
                            <li>Our company</li>
                            <li>Our company</li>
                            <li>Our company</li>
                        </ul>
                    </div>
                    
                </div>
                <div class="footer_sub">
                    <p class="copyright">© Copyright 2023 KCT All right are reserved.</p>
                    <p class="copyright">
                        CDF Switzerland GmbH - <b>Konnect</b> 21 Banhhofstrasse 6300 Zug, Switzerland<br/>
                        contact@konnect.finance
                    </p>
                    <p class="copyright">
                        씨디에프 스위치랜드 유한책임회사 (CDF Switzerland GmbH)<br/>
                        대표자 김주영 / 사업자등록번호 518-84-00025
                    </p>
                </div>
            </footer>
        </div>

    </body>
</html>


<!-- //js script -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../js/common.js"></script>

<!-- //js script -->