body,
button,
input,
select,
textarea {
    font-family: 'Pretendard',sans-serif;
    color:#000;
}


/****************** 폰트 font ******************/
@font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    src: url("../../font/Pretendard-Thin.ttf") format("ttf");
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    src: url("../../font/Pretendard-ExtraLight.ttf") format("ttf"); 
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    src: url("../../font/Pretendard-Light.ttf") format("ttf");
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    src: url("../../font/Pretendard-Regular.ttf") format("ttf");
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    src: url("../../font/Pretendard-Medium.ttf") format("ttf");
} 

@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    src: url("../../font/Pretendard-SemiBold.ttf") format("ttf");
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    src: url("../../font/Pretendard-Bold.ttf") format("ttf");
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    src: url("../../font/Pretendard-ExtraBold.ttf") format("ttf");
}

@font-face {
    font-family: 'Pretendard';             
    font-weight: 900;
    src: url("../../font/Pretendard-Black.ttf") format("ttf");
}

/****************** 색상 color ******************/
.bg--white{
    background-color:#fff !important;
}
.bg--gray{
    background-color:#f3f4f6 !important;
}
.bg--black{
    background-color:#000 !important;
}

/****************** 버튼 button ******************/
 
.btn{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-width: 1.5px;
    border-style: solid;
    border-radius: 15px;
    border-color:#000;
    color: #000;
    font-size: 13px;
    padding: 6px 12px;
}

.btn--full{
    width:100%;
}
.btn--xs{
    height:24px;
    font-size:13px;
    font-weight:800;
}
.btn--lg{
    height:48px;
    font-size:14px;
    font-weight:700;
}
.btn--primary1{
    background-color:#0039cc;
    color:#fff;
    border:none;
}
.btn--primary2{
    border:none;
    background-color:#00a3ff;
    color:#fff;
}
.btn--white-stroke{
    border:2px solid #fff;
    color:#fff;
    background-color:rgba(0,0,0,0);
}
.btn--stroke-primary1{
    border-color:#0039cc;
    color:#0039cc;
}


.btn--icon{
    display:flex;
    gap: 4px;
    align-items: center;
}
.btn--no-border{
    border:none;
    padding:0;
    margin:0;
}

.btn_box{
    margin:40px 0;
}
.btn_box2{
    margin:20px 0;
}

/****************** 마진 margin ******************/
.m_0{
    margin:0 !important;
}
.m_center{
    margin:0 auto !important;
}

.m_10{
    margin:10px !important;
}

.mt_2{
    margin-top:2px !important;
}
.mt_4{
    margin-top:4px !important;
}
.mt_8{
    margin-top:8px !important;
}
.mt_10{
    margin-top:10px !important;
}
.mt_20{
    margin-top:20px !important;
}
.mt_30{
    margin-top:30px !important;
}
.mt_40{
    margin-top:40px !important;
}
.mt_60{
    margin-top:60px !important;
}
.mt_80{
    margin-top:80px !important;
}

.mb_2{
    margin-bottom:2px !important;
}
.mb_4{
    margin-bottom:4px !important;
}
.mb_8{
    margin-bottom:8px !important;
}
.mb_10{
    margin-bottom:10px !important;
}
.mb_20{
    margin-bottom:20px !important;
}
.mb_30{
    margin-bottom:30px !important;
}
.mb_40{
    margin-bottom:40px !important;
}
.mb_60{
    margin-bottom:60px !important;
}
.mb_80{
    margin-bottom:80px !important;
}

/****************** 패딩 padding ******************/
.p_0{
    padding:0 !important;
}

.p_side_20{
    padding:0 20px;
}
.p_side_40{
    padding:0 40px;
}


.p_10{
    padding:10px !important;
}
.p_20{
    padding:20px !important;
}


.pt_10{
    padding-top:10px !important;
}
.pt_20{
    padding-top:20px !important;
}
.pt_30{
    padding-top:30px !important;
}
.pt_50{
    padding-top:50px !important;
}
.pt_70{
    padding-top:70px !important;
}



.pb_2{
    padding-bottom:2px !important;
}
.pb_4{
    padding-bottom:4px !important;
}
.pb_10{
    padding-bottom:10px !important;
}
.pb_20{
    padding-bottom:20px !important;
}
.pb_30{
    padding-bottom:30px !important;
}
.pb_40{
    padding-bottom:40px !important;
}
.pb_80{
    padding-bottom:80px !important;
}
.pb_100{
    padding-bottom:100px !important;
}



.pr_4{
    padding-right:4px !important;
}
.pr_8{
    padding-right:8px !important;
}
.pr_10{
    padding-right:10px !important;
}


/****************** width height ******************/
.w_100per{
    width:100% !important;
}
.w_50per{
    width:50% !important;
}
.w_230{
    width:230px !important;
}


.h_auto{
    height:auto !important;
}

/****************** 텍스트 text ******************/


.nav_title{
    font-size:18rem;
    font-weight:700;
    line-height:22rem;
    display:flex;
    align-items: center;
    width:calc(100% - 60px);
}

.text_link{
    color:#0039cc;
    font-size:14rem;
    font-weight:700;
    position:relative;
    display:inline-block;
}
.text_link:after{
    content:'';
    position:absolute;
    width:100%;
    height:1px;
    bottom:0;
    left:0;
    background-color:#0039cc;
}

.huge_tit{
    font-size:45rem;
    letter-spacing: -0.3px;
    color:#000;
    text-align:center;
    line-height:50rem;
}
.big_tit{
    font-size:28rem;
    font-weight:700;
    line-height:1.5;
    letter-spacing: -0.5px;
    text-align:center;
    word-break: break-word;
    color:#000;
}
.main_tit{
    color:#000;
    font-weight:700;
    letter-spacing: -0.5px;
    font-size:24rem;
    line-height:1.4;
    text-align:center;
    word-break: break-word;
}
.main_detail{
    color:#000;
    font-weight:600;
    font-size:16rem;
    line-height:1.5;
    text-align:center;
    letter-spacing: -0.5px;
    word-break: break-word;
}
.btn_text{
    font-size:14rem;
    font-weight:700;
    text-align:center;
    letter-spacing: -0.3px;
}
.regular_text{
    font-size:14rem;
    line-height:1.5;
    color:#222;
}
.default_text{
    font-size:12rem;
    line-height:1.5;
    color:#222;
    font-weight:500;
} 


/** 상세화면 **/
.sub_tit{
    font-size:30rem;
    line-height:40rem;    
    letter-spacing: -0.5px;
    font-weight:700;
    text-align: center;
}
.sub_tit2{
    font-size:20rem;
    line-height:1.4;
    font-weight:700;
    color:#000;
    letter-spacing: -0.5px;
}

.membership_grade{
    font-size:36px;
    font-weight:900;
    text-align: center;
    line-height:1.3;
}



.bg--black h1{
    color:#fff;
}


.tx--left{
    text-align:left !important;
}
.tx--center{
    text-align:center !important;
}
.tx--right{
    text-align:right !important;
}

.tx--white{
    color:#fff !important;
}
.tx--darkgray{
    color:#ccc !important;
}
.tx--darkgray2{
    color:#a2a2a2 !important;
}
.tx--lightgray{
    color:#787878 !important;
}
.tx--black{
    color:#000 !important;
}

.tx--darkblue{
    color:#002863 !important;
}
.tx--blue1{
    color:#0039CC !important;
}
.tx--blue2{
    color:#00A3FF !important;
}
.tx--lightblue{
    color:#9FB1CC !important;
}

.tx--gold1{
    color:#e58c23 !important;
}
.tx--gold2{
    color:#FFE189 !important;
}


.tx--gold3{
    color:#eeb23d !important;
}
.tx--silver{
    color:#999 !important;
}
.tx--bronze{
    color:#bb9966 !important;
}

.tx--warning{
    color:#CE2827 !important;
}

.tx--gradient{
    font-weight:700;
    background: linear-gradient(to right, #00a3ff, #8ae9e2, #51fff2);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.tx--underline{
    text-decoration:underline;
}

.regular{
    font-weight:400 !important;
}
.medium{
    font-weight:500 !important;
}
.semibold{
    font-weight:600 !important;
}
.bold{
    font-weight:700 !important;
}
.extrabold{
    font-weight:800 !important;
}


.sentence_1{
    display: block;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}
.sentence_2{
    display: block;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}
.sentence_3{
    display: block;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.line_height_0{
    line-height:normal;
}
.line_height_26{
    line-height:26px;
}


/****************** 라벨&뱃지 label&badge ******************/

.label{
    font-weight: 800;
    font-size:16rem;
    display: inline-block;
    flex-flow: row nowrap;
    padding: 8px 16px;
    overflow: visible;
    border-radius: 50px;
    border: 2px solid #0039CC;
    color: #0039CC; 
}
.label--fill-blue1{
    background-color:#0039CC;
    border:none;
    color:#fff;
}  
.label--fill-blue2{
    background-color:#00a3ff;
    border:none;
    color:#fff;
}
.label--stroke-blue2{
    border-color:#00a3ff;
    color:#00a3ff;
}

.badge.en{
    font-size:9px;
    padding:0;
    width:72px;
    font-weight:500;
}
.badge{
    padding:4px 10px;
    height:22px;
    font-weight:700;
    font-size:12px;
    background-color:#313131;
    color:#b3b3b3;
    border-radius:36px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.badge--full{
    width:100% !important;
}

.badge--fill-gray{
    background-color:#2B4C7D;
    color:#fff;
}
.badge--fill-blue1{
    background-color:#0039cc;
    color:#fff;
}
.badge--fill-blue2{
    background-color:#00a3ff;
    color:#fff;
}
.badge--fill-lightgray{
    background-color:#b3b3b3;
    color:#313131;
}

.badge_square{
    border-radius:8px;
}
.badge_circle{
    padding:4px 7px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size:14px;
}

/****************** display ******************/
.d_flex{
    display:flex !important;
}
.d_inlineflex{
    display:flex !important;
}

.align_center{
    align-items: center !important;
}
.align_start{
    align-items:flex-start !important;
}

.content_center{
    justify-content: center !important;
}

.column_direction{
    flex-direction:column !important;
}
.flex_nowrap{
    flex-wrap: nowrap !important;
}

.gap4{
    gap:4px !important;
}
.gap10{
    gap:10px !important;
}
.gap14{
    gap:14px !important;
}
.gap20{
    gap:20px !important;
}

.gap40{
    gap:40px !important;
}


/****************** 포지션 position ******************/
.po_relative{
    position:relative;
}
.po_absolute{
    position:absolute;
}




/****************** transform ******************/
.rotate_90{
    transform:rotate(90deg);
}
.rotate_180{
    transform:rotate(180deg);
}
.rotate_270{
    transform:rotate(270deg);
}
.rotate_180.on{
    transform:rotate(0);
}



/****************** list style ******************/
.dot_list > li{
    position: relative;
    padding-left: 12px;
    line-height: 1.6;
    letter-spacing: -.3px;
    margin-left:6px;
}
.dot_list > li:last-child{
    margin-bottom:0;
}
.dot_list > li:before {
    position: absolute;
    top: 10px;
    left: 0;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #80888a;
    content: "";
}

.dot_list.dot_list2 > li{
    margin-bottom:8px;
}


.dot_list.black_dot > li:before{
    background-color: #000;
    width: 4px;
    height: 4px;
    top: 9px;
}



.dash_list > li{
    position: relative;
    padding-left: 12px;
    line-height: 24px;
    letter-spacing: -.3px;
}
.dash_list > li:before {
    position: absolute;
    top: 11px;
    left: 0;
    width: 5px;
    height: 1px;
    border-radius: 50%;
    background-color: #80888a;
    content: "";
}



/****************** 라인 line border ******************/
.no_border{
    border:none !important;
}


/****************** 아이콘 icon ******************/



/** icon 32px **/
.ic_notice{
    background-image: url(../img/svg/ic_notice.svg);
    background-repeat: no-repeat;
    background-position:center;
    width:32px;
    height:32px;
}
.ic_notice_blue1{
    background-image: url(../img/svg/ic_notice_blue1.svg);
    background-repeat: no-repeat;
    background-position:center;
    width:24px;
    height:24px;
}

/** icon 24px **/
.ic_mypage{
    background-image: url(../img/svg/ic_mypage.svg);
    background-repeat: no-repeat;
    background-position:center;
    width:24px;
    height:24px;
}
.ic_global{
    background-image: url(../img/svg/ic_global.svg);
    background-repeat: no-repeat;
    background-position:center;
    width:24px;
    height:24px;
}
.ic_hamburger{
    background-image: url(../img/svg/ic_hamburger.svg);
    background-repeat: no-repeat;
    background-position:center;
    width:24px;
    height:24px;
}

.ic_mypage_wh{
    background-image: url(../img/svg/ic_mypage_wh.svg);
    background-repeat: no-repeat;
    background-position:center;
    width:24px;
    height:24px;
}
.ic_global_wh{
    background-image: url(../img/svg/ic_global_wh.svg);
    background-repeat: no-repeat;
    background-position:center;
    width:24px;
    height:24px;
}
.ic_hamburger_wh{
    background-image: url(../img/svg/ic_hamburger_wh.svg);
    background-repeat: no-repeat;
    background-position:center;
    width:24px;
    height:24px;
}


.ic_arrow_s_wh{
    display:flex;
    align-items: center;
}
.ic_home{
    background-image: url(../img/svg/ic_home.svg);
    background-repeat: no-repeat;
    background-position:center;
    width:24px;
    height:24px;
}
.ic_wallet{
    background-image: url(../img/svg/ic_wallet.svg);
    background-repeat: no-repeat;
    background-position:center;
    width:24px;
    height:24px;
}
.ic_brand{
    background-image: url(../img/svg/ic_brand.svg);
    background-repeat: no-repeat;
    background-position:center;
    width:24px;
    height:24px;
}
.ic_store{
    background-image: url(../img/svg/ic_store.svg);
    background-repeat: no-repeat;
    background-position:center;
    width:24px;
    height:24px;
}


.ic_all_view{
    background-image: url(../img/svg/ic_view_all.svg);
    background-repeat: no-repeat;
    background-position:center;
    width:24px;
    height:24px;
}

.ic_arrow2{
    background-image: url(../img/svg/ic_arrow2.svg);
    background-repeat: no-repeat;
    background-position:center;
    width:24px;
    height:24px;
}
.ic_close_l{
    background-image: url(../img/svg/ic_close_l.svg);
    background-repeat: no-repeat;
    background-position:center;
    width:24px;
    height:24px;
}



.ic_arrow_L{
    background-image: url(../img/svg/ic_arrow_L.svg);
    background-repeat: no-repeat;
    background-position:center;
    width:24px;
    height:24px;
}
.ic_arrow_L_wh{
    background-image: url(../img/svg/ic_arrow_L_wh.svg);
    background-repeat: no-repeat;
    background-position:center;
    width:24px;
    height:24px;
}
.ic_arrow_L_bk{
    background-image: url(../img/svg/ic_arrow_L_bk.svg);
    background-repeat: no-repeat;
    background-position:center;
    width:24px;
    height:24px;
}


.tabbar_nav_item.is-active .tabbar_icon .ic_home {
    background-image: url(../img/svg/ic_home_active.svg);
    background-repeat: no-repeat;
    background-position:center;
    width:24px;
    height:24px;
}
.tabbar_nav_item.is-active .tabbar_icon .ic_wallet {
    background-image: url(../img/svg/ic_wallet_active.svg);
    background-repeat: no-repeat;
    background-position:center;
    width:24px;
    height:24px;
}
.tabbar_nav_item.is-active .tabbar_icon .ic_brand {
    background-image: url(../img/svg/ic_brand_active.svg);
    background-repeat: no-repeat;
    background-position:center;
    width:24px;
    height:24px;
}
.tabbar_nav_item.is-active .tabbar_icon .ic_store {        
    background-image: url(../img/svg/ic_store_active.svg);
    background-repeat: no-repeat;
    background-position:center;
    width:24px;
    height:24px;
}




/** icon 20px **/
.ic_arrow_m{
    background-image: url(../img/svg/ic_arrow_m.svg);
    background-repeat: no-repeat;
    background-position:center;
    width:20px;
    height:20px;
}
.ic_arrow_m_blue1{
    background-image: url(../img/svg/ic_arrow_m_blue1.svg);
    background-repeat: no-repeat;
    background-position:center;
    width:20px;
    height:20px;
}
.ic_arrow_m_blue2{
    background-image: url(../img/svg/ic_arrow_m_blue2.svg);
    background-repeat: no-repeat;
    background-position:center;
    width:20px;
    height:20px;
}


.ic_location{
    background-image: url(../img/svg/ic_location.svg);
    background-repeat: no-repeat;
    background-position:center;
    width:20px;
    height:20px;
}
.ic_phone{
    background-image: url(../img/svg/ic_phone.svg);
    background-repeat: no-repeat;
    background-position:center;
    width:20px;
    height:20px;
}
.ic_copy{
    background-image: url(../img/svg/ic_copy.svg);
    background-repeat: no-repeat;
    background-position:center;
    width:20px;
    height:20px;
}

.ic_krown{
    background-image: url(../img/svg/ic_krown.svg);
    background-repeat: no-repeat;
    background-position:center;
    width:20px;
    height:20px;
}
.ic_membership{
    background-image: url(../img/svg/ic_membership.svg);
    background-repeat: no-repeat;
    background-position:center;
    width:20px;
    height:20px;
}


/** icon 12px **/
.ic_arrow_s{
    background-image: url(../img/svg/ic_arrow_s.svg);
    background-repeat: no-repeat;
    background-position:center;
    width:12px;
    height:12px;
}




