main > .section_main{
    padding-top:0;
}

.main_btn_box{
    position:absolute;
    bottom:48px;
    width:100%;
    z-index:99;
}


.main_header.deactive .navigation_bar{
  background-color: transparent;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  -webkit-transition-duration:0.4s;
  -webkit-transition-timing-function:ease;
}
.main_header.active .navigation_bar{
  background-color: #000;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  -webkit-transition-duration:0.4s;
  -webkit-transition-timing-function:ease;
}


/** main **/
.main_content{
    position:relative;
    top:0;
    width:100%;
}

.main_slide{
  width:100%;
  height:80vh;
}


.membership{
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:30px;
}
.text_box{
  padding:20px;
  height:20 0px;
  background-color:#fff;
  border-radius:20px;
  width:100%;
}


.notice_area{
    display: flex;
    flex-wrap: nowrap;
    align-items: normal;
    width: 100%; 
    margin: 0px auto;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top:54px;
}

.notice_box  {
    width: 100%;
    height: 50px;
    background:#fff;
    /* border-radius: 15rem; */
    border-radius:10px;
    /* padding: 15rem 25rem 15rem 20rem; */
    padding:13px 25px;
    position: relative;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    align-items: center;
}
.notice_icon{
  display:flex;
  width:24px;
}


.notice{width:100%; height:50px; overflow:hidden;}
.rolling{position:relative; width:100%; height:auto;}
.rolling li{width:100%; height:50px; line-height:50px; font-size:14px; padding-left:6px;}



.swiper {
  width: 100%;
  height: 100%;
}

.main_slide_li {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main_slide_li img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main_pagination{
  bottom:25px !important;
}

.swiper-pagination-bullet{
  width:10px;
  height:10px;
}

.dark_pagination .swiper-pagination-bullet{
  background-color:#393939;
}
.dark_pagination .swiper-pagination-bullet-active{
  background-color:#00a3ff;
}


.main_slide_li .btn_text{
  position:absolute;
  bottom:67px;
}



.membership_swiper{
  padding:25%;
  max-width:600px;
}
.membership_swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */
  display: flex;
  justify-content: center;
  height:60vw;
  align-items: center;
  flex-direction: column;
}

.membership_swiper .swiper-slide .membership_img {
  display: block;
  width: 100%;
  height: 80%;
  object-fit: cover;
  background-color:transparent;
}
.membership_swiper .swiper-slide-active .membership_img {
  height:100%;
}
