
.membership_info{
    display: flex;
    flex-direction: column;
    gap:30px;
    padding:20px 0 80px;
}
.membership_detail{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.membership_tab{
    width:100%;
    display:flex;
}
.membership_tab > li{
    width:50%;
    color:#787878;
    border-bottom:2px solid #222;
    display:flex;
    justify-content: center;
    gap:6px;
    padding-bottom:10px;
}

.membership_tab > li.is-active{
    color:#fff;
    border-color:#fff;
}
.membership_tab > li.is-active em{
    color:#00A3FF;
}

.line_tab_content{
    display:none;
}
.line_tab_content.is-active{
    display:block;
}


.card_benefit_info_box{
    padding:10px 0 10px;
    background-color:transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card_benefit_info_left{
    display:flex;
    width:calc(100% - 50px);
    gap:20px;
}
.card_benefit_info_right{
    display:flex;
    width:30px;
    align-items: center;
    justify-content: center;
}

.card_benefit_info{
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:2px;
}
.card_benefit_info .brand_name{
    color:#fff;
    font-size:16px;
    line-height:1.4;
    font-weight:700;
    display:flex;
    flex-direction: row;
    gap: 2px;
    align-items: center;
}
.card_benefit_info .benefit_tit{
    /* color:#b3b3b3; */
    color:#fff;
    font-size:14px;
    line-height:20px;
    letter-spacing:-0.7px;
    font-weight:500;
}


.card_benefit_swiper{
    position:relative;
    padding:0 20px;
    padding-bottom:30px;
}
.card_benefit_pagination.swiper-pagination{
    bottom:-10px;
}

.no_benefit{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    padding:70px 0 40px;
}
.no_benefit > img{
    width:70px;
    height:auto;
}

.benefit_badge_box{
    display:inline-flex;
    gap:10px;
    margin-bottom:14px;
}
.benefit_badge{
    display:flex;
    align-items: center;
    gap:2px;
}


.my_krown{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:10px;
}
.my_krown + .my_krown{
    margin-top:40px;
}

.krown_box{
    width:100%;
    height:80px;
    background-color:#333;
    border-radius:15px;
    display:flex;
    align-items: center;
}

.krown_box img{
    width:80px;
    height:auto;
}