body{
    min-width:320px;
}
.wrap{
    position:relative;
}
.body_bg_bk{
    background-color:#000;
}
.body_bg_wh{
    background-color:#fff;
}
.body_bg_gray{
    background-color:#f3f4f6;
}

#safe_area_top {
    width: 100%;
    height: 48px;
    display:none;
}
#safe_area_bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 34px;
}


/***** 메인 header *****/
.header{
    position: sticky;
    background-color: unset;
    top: 0px;
    width: 100%; 
    /* height:70px; */
    left: 50%;
    /* max-width: 500rem; */
    margin: 0px auto;
    z-index: 1000;
    transition: all 0.5s ease-in-out 0s;
}
.header_wrap{
    width: 100%;
    height: 70px;
    display: flex;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center; 
}
.header_right{
    display:flex;
}
.header_right svg{
    color:#a4a4a4;
}


.header_logo{
    display: flex;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    padding: 24px 18px;
    width: fit-content;
}
.header_logo > img{
    width:124px;
    height:25px;
}

.icon_area{
    width: 60px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}



/****** 메인 footer ******/
.footer{
    width:100%;
    background-color:#111;
    padding-bottom:34px;
}
.business_info{
    display:flex;
    flex-direction: column;
}
.business_title{
    display:flex;
    padding:20px 20px 0 20px;
    gap:10px;
    justify-content: center;
}
.business_detail{
    padding:24px 30px 30px 30px;
    display:none;
}
.business_detail > li + li{
    padding-top:20px;
}
.business_detail > li  p{
    color:#c8c8c8;
    font-size:12px;
    line-height:1.7;
}
.business_detail > li span{
    color:#787878;
    font-size:12px;
    line-height:1.7;
    padding-right:6px;
}

.footer_fix{
    padding:20px 30px;
}

.quick_menu{
    display:flex;
    gap:24px;
}
.quick_menu > li{
    font-size:12px;
    line-height:1;
    color:#c6c6c6;
    display:flex;
    flex-direction: column;
}
.quick_menu > li:after{
    background-color:#c6c6c6;
    width:100%;
    height:1px;
    content:'';
}



/** 공통 tab bar **/
.tabbar{
    position:fixed;
    height:78px;
    background-color:#fff;
    width:100%;
    bottom:0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index:100;
}
.tabbar_wrap{
    width:100%;
    padding:0 20px;
    height:100%;
    display:flex;
    gap:16px;
}
.tabbar_nav_item{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width:100%;
    gap:8px;
}

.tabbar_icon{
    width:24px;
    height:24px;
}
.tabbar_title{
    color:#9fb1cc;
    font-size:14px;
}

.tabbar_nav_item.is-active .tabbar_title{
    color:#0039cc;
    font-weight:600;
} 


.center_logo{
    width:50px;
    height:auto;
    border:1px solid #eee;
    border-radius:25px;
    padding:10px;
    box-shadow: 0px 1px 4px 0px rgba(131, 191, 225, 0.4);
}
.center_logo > img{
    width:100%;
    height:auto;
}
.tabbar_nav_item.is-active .center_logo{
    box-shadow: 0px 1px 4px 0px rgba(0, 57, 204, 0.4);
}




 
/** 상세화면 header **/
.navigation_bar{
    width: 100%;
    height: 70px;
    /* padding: 0 6px; */
    position: fixed;
    display: flex;
    justify-content: space-between;
}


.arrow_title{
    display:flex;
}
.arrow_back{
    width:70px;
    height:70px;
    display:flex;
    justify-content: center;
    align-items:center;
}
.nav_icon_box{
    display:flex;
    /* width:60px; */
    justify-content: center;
    align-items: center;
    margin-right:10px;
}
.nav_icon_box > .ic{
    width:45px;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
}

/***** content *****/

/** main **/

main > .section{
    padding-top:48px;
}
.section{
    margin:0 auto 60px;
}

/** sub **/
.sub_content{
    position:relative;
    width:100%;
}


.section_tit_box{
    display:flex;
    -webkit-box-pack: center;
    place-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
}

.section_in + .section_in{
    margin-top:100px;
}
.section_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}



/** imag 이미지 **/
.img_full{
    width:100%;
    height:100%;
}
.img_full > img{
    width:100%;
    height:auto;
    object-fit: cover;
}



