body{
    box-sizing: border-box;
    word-break: keep-all;
}

.wrap{
    max-width:680px;
    min-width:320px;
    margin:0 auto;
    box-sizing: border-box;
}



/**************** HEADER ****************/
.header{
    width:100%;
    height:64px;
    background-color:#F1F2F4;
    border-bottom:1px solid #eee;
    box-sizing: border-box;
    position:sticky;
    z-index:20;
    top:0;
}
.header_wrap{
    padding:0 30px;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.header_logo{
    width:auto;
    height:24px;
    display: flex;
    justify-content: center;
}
.header_logo > img{
    width:auto;
    height:100%;
}

.header_right{
    display: flex;
    align-items: center;
}


.language {
    width: 120px;
    height: 100%;
    position: absolute;
    right:26px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
}
.language_status {
    cursor: pointer;
}
.language_box {
    display: flex;
    align-items: center;
    gap: 4px;
}
.language img {
    width: 18px;
    height: 29px;
}

.language_list {
    background-color: #fff;
    border: 2.4px solid #002863;
    position: absolute;
    width: 34px;
    bottom: -58px;
    border-radius: 10px;
    right: 9px;
    display: none;
}
.language_text {
    font-size: 16rem;
    /* height: 30px;
    line-height: 30px; */
    font-weight: 600;
    color: #c2d0e0;
    letter-spacing: -0.5px;
}
.language_text.is-active {
    color: #002863;
}


.language_list > li {
    text-align: center;
}
.language_list > li + li {
    margin-top: 6px;
}
.language_list > li:first-child:after {
    width: 80%;
    height: 3px;
    background-color: #c2d0e0;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.language_list > li > a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 3px 5px;
}
.language_list .language_text{
    font-size:14rem;
}


/**** sub header ****/
.sub_header{
    background-color:#fff;
}
.sub_header.bg_black{
    border:none;
}

.arrow_title{
    display:flex;
    width:100%;
}
.arrow_back{
    width:60px;
    height:70px;
    display:flex;
    justify-content: center;
    align-items:center;
}
.nav_title{
    font-size:18rem;
    font-weight:700;
    line-height:22rem;
    display:flex;
    align-items: center;
    width:calc(100% - 60px);
    /* color:#000; */
}

.navigation_bar{
    width: 100%;
    height: 70px;
    /* padding: 0 6px; */
    position: fixed;
    display: flex;
    justify-content: space-between;
    top:0;
}

/* .sub_header.deactive .navigation_bar{
    background-color: transparent;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    -webkit-transition-duration:0.4s;
    -webkit-transition-timing-function:ease;
    top:0;
    z-index:99;
  }
  .sub_header.active .navigation_bar{
    background-color: rgba(255,255,255,1);
    transition-duration: 0.5s;
    transition-timing-function: ease;
    -webkit-transition-duration:0.4s;
    -webkit-transition-timing-function:ease;
    top:0;
    z-index:99;
  } */


/***************** MAIN ****************/
.main_content{
    position: relative;
    overflow: hidden;
}
.section{
    position:relative;
}
.content{
    margin:0 auto;
    padding-bottom:90px;
    padding-top:90px;
    border-bottom:15px solid #f1f2f4;
}
.content2{
    margin:0 auto;
    padding-top:90px;
}

/** 메인 동영상 **/
.main_img {
    width: 100%;
    height:80vh;
    position: relative;
}
.main_img > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/** 메인배너 하단영역 **/
.main_img_bottom {
    width: 100%;
    height: 128px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
}


/** 멤버십 소개 회색 박스 **/
.konnect_info_box{
    padding-top:0;
}
.info_box{
    padding-top:44px;
    padding-bottom:60px;
}

.info_box + .info_box{
    padding-top:20px;
}
.info_box_list{
    width:100%;
    height:auto;
    background-color:#f1f2f4;
    border-radius:15px;
    padding:24px 18px;
    display:flex;
    flex-direction: column;
    gap:14px;
}
.info_box_list + .info_box_list{
    margin-top:25px;
}
.info_box_list2{
    padding-top:50px;
    align-items: center;
    text-align:center;
    gap:30px;
}
.info_box_list2 .info_box_img {
    height:230rem;
    justify-content: center;
}


.text_img{
    max-width:280rem;
    width:72vw;
    height:auto;
}
.text_img > img{
    width:100%;
    height:auto;
}

.info_box_bottom{
    width:100%;
    position:relative;
}
.info_box_img{
    height:170rem;
    width:auto;
    display: flex;
    justify-content: flex-end;
    margin-top:10px;
}
.info_box_img.po_absolute{
    bottom:-8px;
    right:0;
}
.info_box_img > img{
    height:100%;
    width:auto;
}


/** konnect info **/
.konnect_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:25px;
}
.konnect_main_img{
    height:170rem;
    width:auto;
}
.konnect_main_img > img{
    height:100%;
    width:auto;
}


/** membership info **/
.membership_list_swiper{
    margin-top:50px;
    margin-bottom:100px;
}

.membership_pagination{
    top:290px !important;
}


.membership_button_next:after,
.membership_button_prev:after{
    color:#002863;
    font-weight:900;
    font-size:24rem;
}


.membership_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:50px;
}
.membership_list + .membership_list{
    margin-top:90px;
}
.membership_img{
    height:270rem;
    width:auto;
}
.membership_img > img{
    height:100%;
    width:auto;
}


.membership_info_detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:16px;
    text-align: center;
}
.membership_logo{
    height:30rem;
    width:auto;
}
.membership_logo > img{
    width:auto;
    height:100%;
}
.membership_logo_name{
    font-weight:800;
    font-size:28rem;
    line-height:30rem;
    letter-spacing: 0.3px;
}

.membership_logo2{
    height:36rem;
    width:auto;
}

.content_tit_box{
    padding-top:100px;
    padding-bottom:50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text_logo{
    height:23rem;
    width:auto;
    position:absolute;
    top:96px;
    transform:translateX(-48%);
}

.closed{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap:10px;
    text-align: center;
}
.closed > img{
    width:auto;
    height:124rem;
}



/** benefit info tab **/

.membership_info_more_box{
    text-align: center;
}

/** tab style **/
.tab_content_wrap{
    color:#fff;
}
.tab_content{
    display:none;
}
.tab_content.is-active{
    display:block;
}

.tab_box {
	position: absolute;
    width:100%;
    height:57px;
	display: flex;
	align-items: center;
	justify-content: center;
    top:200px;
}
.benefit_tab {
	display: flex;
	position: relative;
    width:100%;
    display:flex;
    padding:6px;
    background-color:#f2f2f2;
    border-radius:80px;
}
.benefit_tab > label{
    font-size:14rem;
    z-index:9;
}
input[type="radio"] {
	display: none;
}
.benefit_tab_list {
    width: 50%;
    height:45px;
    color: #787878;
    display: flex;
    justify-content: center;
    border-radius:80px;
    padding:14px;
    font-size:14rem;
    color:#5b6b8b;
    font-weight:700;
	transition: color 0.15s ease-in;
    align-items: center;
}
input[type="radio"] {
	&:checked {
		& + label {
			color:#fff;
			& > .notification {
				background-color: #0039cc;
				color: #fff;
			}
		}
	}
}
input[id="radio-1"] {
	&:checked {
		& ~ .glider {
			transform: translateX(0);
            background-color: #0039cc;
		}
	}
}
input[id="radio-2"] {
	&:checked {
		& ~ .glider {
			transform: translateX(100%);
            background-color: #0099a2;
		}
	}
}
.glider {
	position: absolute;
	display: flex;    
    font-size:14rem;
    color:#fff;
	padding:23px;
	width: 49%;   
	z-index: 1;        
	border-radius: 80px; 
	transition: 0.25s ease-out;
}


.card_list_img{
    height:300px;
    width:auto;
    margin-top:60px;
    margin-bottom:40px;
}
.benefit_box + .benefit_box{
    margin-top:110px;
}
.number_box{
    display:flex;
    justify-content: center;
    flex-direction: column;
    gap:10px;
    margin-top:80px;
}



/****** tab2 - 큐레이션 멤버십 탭  *******/
.tab_content1{
    background-color:#0d296f;
    padding-top:90px;
    padding-bottom:100px;
}

/** 멤버십 슬라이드 **/
.swiper {
    width: 100%;
    height: 100%;
}

.flex_membership_swiper{
    margin-top:40px;
}
.flex_membership_swiper .swiper-slide-active .membership_detail{
    opacity:1;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    -webkit-transition-duration:0.3s;
    -webkit-transition-timing-function:ease;
}
.swiper-button-next,
.swiper-button-prev{
    top:140px;
}

.flex_button_next:after,
.flex_button_prev:after{
    color:#fff;
    font-weight:900;
    font-size:24rem;
}


  .card_img {
    height:280rem;
    width:auto;
    margin: 0 auto;
    padding: 0 4px;
  }
  .card_img > img{
    width: auto;
    height: 100%;
    object-fit: cover;
  }
  .membership_detail{
    display:flex;
    gap:8px;
    flex-direction:column;
    margin-top:20px;
  }


  .card_img_s{
    height: 145rem;
    width:auto;
  }
  .card_img_s > img{
    height:100%;
    width:auto;
    object-fit: cover;
  }


  /** 넘버링된 박스 영역 **/
  .asset_box{
    display:flex;
    justify-content:center;
    margin-top:30px;
  }
  .asset_box li{
    display:flex;
    border-radius:10px;
  }
  .asset_box img{
    height:90rem;
    width:auto;
  }

  .box_blue li{
    background-color:#001b5e;
  }


  .box_4{
    flex-direction: row;
    flex-wrap: wrap;
    gap:20px;
    max-width:480rem;
    margin-left:auto;
    margin-right:auto;
  }
.box_4 > li{
    width:150rem;
    height:140rem;
    gap:6px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box_2{
    flex-direction: column;
    align-items: center;
    gap:15px;
}
.box_2 > li{
    width:320rem;
    height:100rem;
    align-items: center;
    padding:5px;
    gap:5px;
}


.roulette_box{
    margin:0 auto;
    margin-top:30px;
    height:auto;
    width:330rem;
    position:relative;
}
.roulette_box > img{
    height:auto;
    width:100%;
}
.roulette_text{
    position: absolute;
    bottom: 8px;
    left: 0;
    display: flex;
    flex-direction: column;
    width:100%;
    padding: 0 24px;
}




/****** tab2 - 콜라보 멤버십 *******/
.tab_content2{
    background-color:#005460;
    padding-top:90px;
    padding-bottom:100px;
}

.text_box{
    display:flex;
    gap:15px;
    flex-direction: column;
}

.text_box .box_green{
    background-color:#004250;
    border-radius:15px;
    padding:14rem 30rem;
    text-align:left;

}
.text_box .number{
    list-style-type: decimal;
}
.text_box li + li{
    padding-top:6px;
}
.poster_img{
    height: 400rem;
    width:auto;
}
.connect_hand_img{
    width:100%;
    height:auto;
    margin-top:-10px;
}





/** ecosystem **/
.ecosystem_info_box{
    margin-bottom:40px;
}
.kct_l{
    height:138rem;
    width:auto;
}
.investment{
    width:350rem;
    height:auto;
}
.tokenomics{
    width:280rem;
    height:auto;
}

.text_box .box_gray{
    background-color:#f1f2f4;
    border-radius:15px;
    padding:14rem 30rem;
    text-align:left;
    font-weight:600;
}


.box_3{
    flex-direction: row;
    gap:20px;
    max-width:430rem;
    margin-left:auto;
    margin-right:auto;
  }
.box_3 > li{
    width:33%;
    height:140rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.box_3 > li > a{
    display:flex;
    gap:10px;
    flex-direction: column; 
}
.box_3 img{
    height:78rem;
    width:auto;
}



/** 파트너사 **/
.ecosystem_box{
    background-color:#779cc1;
}
.ecosystem_img{
    width:100%;
    height:auto;
}
.ecosystem_img > img{
    width:100%;
    height:auto;
}





/** video style **/
.content_video{
    height:500px;
    margin:0 auto;
}
.content_video > video{
    /* width:100%;
    height:auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 100%; */
    /* z-index: -1; */
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}


.video_button{
    background-color: #fff;
    color: #000;
    display: block;
    font-size: 18px;
    position: absolute;
    right: 65px;
    bottom:50px;
    width:44px;
    height:44px;
    border-radius:22px;
    border:1px solid #eee;
    z-index:1;
}

.video_button.active {
    background-color: #fff;
}




/** faq list style **/
.faq_icon{
    font-size:16px;
    color:#0039cc;
    font-weight:800;
}


.faq_list_box{
    border-bottom:1px solid #eee;
}
.faq_list_tit{
    padding:20px 0;
    display: flex;
    justify-content: space-between;
    gap:16px;
}
.faq_text{
    color:#000;
    line-height:24rem;
    display:flex;
    gap:10px;
    font-size:18rem;
}

.faq_list_tit > .faq_text{
    width:calc(100% - 40px);
    font-weight:600;
}

.faq_list_detail{
    width:100%;
    display:none;
    padding-bottom:20px;
}
.faq_list_detail > .faq_text{
    font-weight:400;
}

.faq_list_box.on .faq_list_detail{
    display:block;
}

.faq_list_box .ic_close_m_bk{
    transform:rotate(45deg);
    transform-origin: center center;
    transition: transform 0.45s ease 0s;
}
.faq_list_box .ic_close_m_bk.on{
    transform:rotate(0deg);
    transform-origin: center center;
    transition: transform 0.45s ease 0s;
}


/** 흘러가는 객체 **/
.flow_banner {
    overflow: hidden;
    display: flex;
    max-width: 1180px;
    margin: 30px auto;
}
.flow_banner .flow_banner_list {
    display: flex;
    gap:30px;
}
.flow_banner .flow_banner_list > li {
    white-space: nowrap;
    font-size: 18px;
    padding: 20px;
    width:300px;
    height:300px;
    background-color:#eee;
    border-radius:20px;
}
@keyframes flowRolling {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-30%);
    }
}




/**************** FOOTER ****************/
.footer {
    width: 100%;
    background-color: #0d296f;
}
.footer_in {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 34px 66px 34px;
    gap: 40px;
    display: flex;
    flex-direction: column;
}



.footer_top {
    display: flex;
    gap: 8px;
    flex-direction: column;
}
.footer_top .main_sns {
    width: inherit;
}
.footer_top .main_sns > ul {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 0;
    justify-content: center;
}
.footer_top .main_sns .sns_icon {
    padding:8px;
}
.footer_top .main_sns .sns_icon > a{
    display:flex;
}


.footer_bottom {
    display: flex;
    flex-direction: column;
}
.footer_bottom > ul > li {
    margin-bottom: 30px;
}

.footer_logo {
    width: 162px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 14px;
}
.footer_logo > a {
    display: block;
    width: 100%;
    height: 100%;
}
.footer_logo > a > img {
    width:100%;
    height: auto;
}



.footer_in .app_help{
    display:flex;
    color:#fff;
    font-weight:400;
    font-size:14rem;
    justify-content: center;
    padding-left:0;
    padding-top:0;
    line-height:22rem;
    align-items: center;
    gap:2px;
}
.footer_in .ic_notice_wh{
    scale:0.6;
}



.app_download{
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:18px;
    align-items: center;
}
.app_download > ul{
    max-width:400px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.app_down_link{
    height:38rem;
}
.app_download .app_down_link > a {
    display: block;
    width: auto;
    height: 100%;
}
.app_download .app_down_link img {
    height: 100%;
    width: auto;
}





/** footer text **/
.copyright {
    display: inline-flex;
    color: #c2d0e0;
    font-size: 12rem;
    line-height: 20rem;
}
.footer_tit {
    font-size: 16rem;
    font-weight: 700;
    color: #fff;
    line-height: 24rem;
    padding-bottom:6px;
}
.footer_detail {
    color: #c2d0e0;
    font-size: 14rem;
    line-height: 20rem;
}



