@charset "UTF-8";

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
table,
th,
td,
form,
fieldset,
legend,
textarea,
input,
select,  
textarea,
button,
article,
aside,
dialog,
footer,
header,
section,
footer,
nav,
figure,
main {
  margin: 0;
  padding: 0;
}


html,
body {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  font-size:1px;       

} 

body,
button,
input,
select,
textarea {
    font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, NanumBarunGothic, "Segoe UI", "Helvetica Neue", sans-serif;
    color:#002863;
    font-size:16rem;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::before, ::after{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

article,
aside,
dialog,
footer,
header,
section,
footer,
nav,
figure,
main {
  display: block;
}


img,
form,
fieldset,
svg,
li {
  border: 0;
  vertical-align: top;
}

ul,
ol {
  list-style: none;
}

button {
    overflow: visible;
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }
  
  button:disabled {
    cursor: default;
  }
  
  button::-moz-focus-inner {
    padding: 0;
    margin: -1px;
  }
  
  input,
  button,
  select {
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  input[type='number'] {
    -moz-appearance: textfield;
  }
  
  address,
  caption,
  em {          
    font-style: normal;
  }
  
  a,
  a:focus,
  a:active,
  a:hover {
    text-decoration: none;
  }
  a{
    color:inherit;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }         

  
.ic{
  display:inline-block;
}



/**** padding ****/
.p_side_28{
  padding:0 28px;
}

.pt_4{
  padding-top:4px;
}
.pt_6{
  padding-top:6px;
}
.pt_10{
  padding-top:10px;
}
.pt_16{
  padding-top:16px;
}
.pt_40{
  padding-top:40px;
}
.pt_50{
  padding-top:50px;
}


/**** margin ****/
.mt_30{
  margin-top:30px;
}
.mt_40{
  margin-top:40px;
}
.mt_50{
  margin-top:50px;
}
.mt_80{
  margin-top:80px;
}
.mt_110{
  margin-top:110px;
}



/*** text style ***/
.tit_box{
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
}
h1{
  font-size:36rem;
  line-height:42rem;
  font-weight:700;
}
h2{
  font-size:30rem;
  line-height:36rem;
  font-weight:700;
}
h3{
  font-size:24rem;
  line-height:30rem;
  font-weight:700;
}

h4{       
  font-size:20rem;         
  font-weight:500;
  line-height:28rem;
}
h5{       
  font-size:18rem;         
  font-weight:500;
  line-height:28rem;
}


p{
  font-size:16rem;
  line-height:24rem;
  font-weight:500;
}
b{
  font-weight:700;
}

.detail_text{
  font-size:14rem;
  line-height:20rem;
}


.en{
  letter-spacing: 0.3px;
}
.ko{
  letter-spacing: -0.2px;
}

.tx_darkblue{
  color:#002863;
}
.tx_black{
  color:#000;
}
.tx_blue2{
  color:#00a3ff;
}
.tx_gold{
  color:#FFB800;
}



.tx_center{
  text-align:center;
}
.tx_left{
  text-align:left;
}
.tx_right{
  text-align:right;
}


.thin{
  font-weight:300;
}
.regular{
  font-weight:400;
}
.medium{
  font-weight:500;
}
.semibold{
  font-weight:600;
}
.bold{
  font-weight:700;
}
.extrabold{
  font-weight:800;
}



.required:after {
  content: '*';
  color:#ff0000;
  position:absolute;
  top:2px;
  padding-left:1px;
}

.error{
  color:#ff0000;
  font-size:12rem;
  position:absolute;
  right:0;
  bottom:10px;
}



/**** badge ****/
.badge{
  border:2px solid #fff;
  border-radius:20px;
  padding:6px 20px;
  font-size:14rem;
  font-weight:700;
  margin-bottom:30px;
  display:inline-block;
}

/**** button ****/
.btn{
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  border-color:#000;
  color: #000;
  font-size: 16rem;
  padding: 14px 20px;
  font-weight:700;
}

.btn_full{
  width:100%;
}

.btn_primary{
  background-color:#0039cc;
  color:#fff;
  border:none;
}
.btn_primary_stroke{
  border-color:#0039cc;
  color:#0039cc;
}

.btn_darkblue{
  background-color:#001B5E;
  color:#fff;
  border:none;
}


.btn_box{
  display:flex;
  flex-direction: column;
  gap:10px;
  width:100%;
}
.btn_wrap{
  padding:24px 0;
}




/******** input 입력창 ********/

.input_form{
  border:none;
  border-bottom:1px solid #666;
  padding:4px 0;
  font-size:14rem;
  line-height:20px;
  color:#000;
  width:100%;
}
.input_form::placeholder{
  color:#c9c9c9;
}

/** select랑 input 같이 쓸때 **/
.select_input_group{
  display:flex;
  gap:10px;
  position:relative;
}
.select_input_group .select_option{
  position:initial;
}
.select_input_group .select_option .default_option{
  position:initial;
}




/******** alert 알림창 ********/
/******* 모달&알림창 ********/
.alert_form {
  justify-content: center;
}
.alert_form .alert_box{
  width:300px;
  height:300px !important; 
}

#modal_wrap{
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display:none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index:99999;
}
.modal_bg {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.modal_window {
  background:#fff;   
  box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.2 );
  backdrop-filter: blur( 13.5px );
  -webkit-backdrop-filter: blur( 13.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  width: 100%;
  height:auto;
  position: absolute;
  top: 50%;
  left:50%;
  transform:translate(-50%,-50%);
}


.modal_top{
  width:100%;
  height:50px;
  border-bottom:1px solid #EBEDF3; 
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.modal_tit {
  font-size:16rem;
  font-weight:700;
  text-align:center;
  color:#000;
}
.modal_title h2 {
  display: inline;
}
.modal_text{
  font-size:14rem;
  text-align:left;
  font-weight:400;
  line-height:1.4;
}

.modal_close {
  cursor: pointer;
  position:absolute;
  right:0;
  right:12px;
  top:16px;
}

.modal_content {
  padding:48px 28px 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/**** 알럿 alert ****/

.alert_window{
  width:314px;
}
.alert_content{
  min-height:180px;
  gap:16px;
  min-height:220px;
  justify-content: space-evenly;
}
.alert_content .text_link{
  font-weight:600;
}
.alert_content .modal_text{
  text-align:center;
}
.alert_content .btn{
  margin-top:8px;
  font-size:14rem;
}

.popup_btn.alert{
  padding:0;
  gap:0;
}
.popup_btn.alert .btn{
  border:none;
  padding:0;
  width:50%;
  border-radius:0;
  height:50px;
  font-size:14px;
}


.popup_btn.alert .btn + .btn{
  border-left:1px solid #EBEDF3;
}






/***** 장문 입력창 textarea *****/
textarea{
  resize:none;
}
.textarea_form{
  border:none;
  background-color:#f3f4f6;
  width:100%;
  border-radius:10px;
  padding:14px 18px 40px;
  color:#000;
  font-size:14rem;
  line-height:20rem;
  height:250rem;
  position:relative;
}

.textarea_form::placeholder{
  color:#aaa;
}
.textarea_form:focus{
  border-color:#0039CC;
}




/**** position ****/
.po_relative{
  position:relative;
}
.po_absolute{
  position:absolute;
}


.rotate_90 {
  transform: rotate(90deg);
}





/*** icon ***/

.ic_close_m_bk{
  background-image: url(../img/svg/ic_close_m_bk.svg);
  background-repeat: no-repeat;
  background-position:center;
  width:24px;
  height:24px;
}
.ic_arrow_L_bk {
  background-image: url(../img/svg/ic_arrow_L_bk.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
}