body{
    box-sizing: border-box;
}

.wrap{
    max-width:680px;
    min-width:320px;
    margin:0 auto;
    box-sizing: border-box;
}



/**************** HEADER ****************/
.header{
    width:100%;
    height:55px;
    background-color:#fcfcfc;
    border-bottom:1px solid #e4e2e1;
    box-sizing: border-box;
    position:sticky;
    z-index:20;
    top:0;
}
.header_wrap{
    padding:0 30px;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.header_logo{
    width:170px;
    height:45px;
}
.header_logo > img{
    width:auto;
    height:100%;
}

.header_right{
    display: flex;
    align-items: center;
}


.language {
    width: 120px;
    height: 100%;
    position: absolute;
    right:62px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    margin-right: 10px;
    width: 60px;
}
.language_status {
    cursor: pointer;
}
.language_box {
    display: flex;
    align-items: center;
    gap: 4px;
}
.language img {
    width: 18px;
    height: 29px;
}

.language_list {
    background-color: #fff;
    border: 2.4px solid #002863;
    position: absolute;
    width: 40px;
    bottom: -72px;
    border-radius: 10px;
    right: 9px;
    display: none;
}
.language_list > li {
    text-align: center;
}
.language_list > li + li {
    margin-top: 6px;
}
.language_list > li:first-child:after {
    width: 80%;
    height: 3px;
    background-color: #c2d0e0;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.language_list > li > a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 2px 10px;
}
.language_text {
    font-size: 16px;
    /* height: 30px;
    line-height: 30px; */
    font-weight: 600;
    color: #c2d0e0;
    letter-spacing: -0.5px;
}
.language_text.is-active {
    color: #002863;
}



.menu{
    width:50px;
    height:30px;
    background-color:blue;
}       


/** hamburger menu **/
.menu_tit{
    font-size:16px;
    font-weight:700;
}



.hamburger_item{
    padding: 18px 30px;
    text-align: left;
    border-bottom: 1px solid #eee;
}
.hamburger_item > a{
   position: relative;
   width: 100%;
   display:flex;
}
.hamburger_item > a:hover .sub_sub_sub_sub_tit{
    color: #2AF497 !important;
}
.hamburger_item > a > .sub_sub_sub_sub_tit{
    display: flex;
    justify-content: space-between;
    color: #555 !important;
}
.hamburger_item .btn_area{
    position: absolute;
    width: 24px;
    height: 24px;
    background: blue;
    /* display: none; */
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.hamburger_item > a:hover .btn_area{
    display: block;
}



.header_cate{
    width: 40px;
    height: 40px;
    padding:0 8px;
    z-index:1;
}
.header_close .hamburger_line .line:nth-child(2){
    opacity: 0;
}
.header_close .hamburger_line .line:nth-child(1){
    -webkit-transform: translateY(9px) rotate(45deg);
    -ms-transform: translateY(9px) rotate(45deg);
    -o-transform: translateY(9px) rotate(45deg);
    transform: translateY(9px) rotate(45deg);
}
  
.header_close .hamburger_line .line:nth-child(3){
    -webkit-transform: translateY(-7px) rotate(-45deg);
    -ms-transform: translateY(-7px) rotate(-45deg);
    -o-transform: translateY(-7px) rotate(-45deg);
    transform: translateY(-7px) rotate(-45deg);
}



.hamburger_line{
    width:24px;
    height:18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hamburger_line .line{
    height:2px;
    border-radius:10px;
    width:100%;
    background-color:#000;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}


.hamburger_line.is-active .line:nth-child(2){
    opacity: 0;
}
.hamburger_line.is-active .line:nth-child(1){
    -webkit-transform: translateY(9px) rotate(45deg);
    -ms-transform: translateY(9px) rotate(45deg);
    -o-transform: translateY(9px) rotate(45deg);
    transform: translateY(9px) rotate(45deg);
}
  
.hamburger_line.is-active .line:nth-child(3){
    -webkit-transform: translateY(-7px) rotate(-45deg);
    -ms-transform: translateY(-7px) rotate(-45deg);
    -o-transform: translateY(-7px) rotate(-45deg);
    transform: translateY(-7px) rotate(-45deg);
}



.hamburger_wrap{
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 400;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transition: right 0.35s ease-in-out;
    background-color: white;
}
.hamburger_wrap.on {
    right: 0;
  }



  

/***************** MAIN ****************/
.main_content{
    position: relative;
    overflow: hidden;
}
.section{
    position:relative;
}
.content{
    margin:0 auto  !important;
}


.content_tit_box{
    padding-top:100px;
    padding-bottom:50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


/** scrolltrigger style **/
.scrolltrigger_1{
    background-color:skyblue;
    display: flex;
    flex-direction: column;
    overflow:hidden;
    height:1000px;
}
.scrolltrigger_2{
    background-color:salmon;
    display: flex;
    flex-direction: column;
    overflow:hidden;
    height:100%;
}



/** video style **/
.content_video{
    height:500px;
    margin:0 auto;
}
.content_video > video{
    /* width:100%;
    height:auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 100%; */
    /* z-index: -1; */
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}


.video_button{
    background-color: #fff;
    color: #000;
    display: block;
    font-size: 18px;
    position: absolute;
    right: 65px;
    bottom:50px;
    width:44px;
    height:44px;
    border-radius:22px;
    border:1px solid #eee;
    z-index:1;
}

.video_button.active {
    background-color: #fff;
}




/** faq list style **/
.faq_icon{
    font-size:16px;
    color:#0039cc;
    font-weight:800;
}


.faq_list_box{
    border-bottom:1px solid #eee;
}
.faq_list_tit{
    padding:20px 0;
    display: flex;
    justify-content: space-between;
    gap:16px;
}
.faq_text{
    color:#000;
    line-height:24rem;
    display:flex;
    gap:10px;
    font-size:18rem;
}

.faq_list_tit > .faq_text{
    width:calc(100% - 40px);
    font-weight:600;
}

.faq_list_detail{
    width:100%;
    display:none;
    padding-bottom:20px;
}
.faq_list_detail > .faq_text{
    font-weight:400;
}

.faq_list_box.on .faq_list_detail{
    display:block;
}

.faq_list_box .ic_close_m_bk{
    transform:rotate(45deg);
    transform-origin: center center;
    transition: transform 0.45s ease 0s;
}
.faq_list_box .ic_close_m_bk.on{
    transform:rotate(0deg);
    transform-origin: center center;
    transition: transform 0.45s ease 0s;
}


/** 흘러가는 객체 **/
.flow_banner {
    overflow: hidden;
    display: flex;
    max-width: 1180px;
    margin: 30px auto;
}
.flow_banner .flow_banner_list {
    display: flex;
    gap:30px;
}
.flow_banner .flow_banner_list > li {
    white-space: nowrap;
    font-size: 18px;
    padding: 20px;
    width:300px;
    height:300px;
    background-color:#eee;
    border-radius:20px;
}
@keyframes flowRolling {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-30%);
    }
}




/**************** FOOTER ****************/
.footer {
    width: 100%;
    background-color: #0d296f;
}
.footer_in {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 34px 50px 34px;
    gap: 40px;
    display: flex;
    flex-direction: column;
}



.footer_top {
    display: flex;
    gap: 8px;
    padding: 0 22px;
    flex-direction: column;
}
.footer_top .main_sns {
    width: inherit;
}
.footer_top .main_sns > ul {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 0;
    justify-content: center;
}
.footer_top .main_sns .sns_icon {
    padding:8px;
}
.footer_top .main_sns .sns_icon > a{
    display:flex;
}


.footer_bottom {
    display: flex;
    flex-direction: column;
}
.footer_bottom > ul > li {
    margin-bottom: 30px;
}

.footer_logo {
    width: 162px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 14px;
}
.footer_logo > a {
    display: block;
    width: 100%;
    height: 100%;
}
.footer_logo > a > img {
    width:100%;
    height: auto;
}



.footer_in .app_help{
    display:flex;
    color:#fff;
    font-weight:400;
    font-size:18rem;
    justify-content: center;
    padding-left:0;
    padding-top:0;
    line-height:22rem;
    align-items: center;
    gap:6px;
}
.footer_in .ic_notice > img{
    width:20rem;
}



.app_download{
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:18px;
    align-items: center;
}
.app_download > ul{
    max-width:400px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.app_download .app_down_link > a {
    display: block;
    width: 100%;
    height: auto;
}
.app_download .app_down_link img {
    width: 100%;
    height: auto;
}





/** footer text **/
.copyright {
    display: inline-flex;
    color: #c2d0e0;
    font-size: 16rem;
    line-height: 24rem;
    letter-spacing: -0.3px;
}
.footer_tit {
    font-size: 20rem;
    font-weight: 700;
    color: #fff;
    line-height: 30rem;
    letter-spacing: -0.5px;
}
.footer_detail {
    color: #c2d0e0;
    font-size: 18rem;
    line-height: 28rem;
    letter-spacing: -0.5px;
}



