main > .section_menu{
    padding-top:70px;
    margin:0;
    height:100vh;
}

.menu_top{
    width:100%;   
    padding-top:20px;
    background-color:#fff;
    height:256px;
}

.profile_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:4px;
}
.profile_name{
    font-weight:700;
    font-size:22rem;
    color:#000;
    line-height:1.36;
    display:flex;
}
.profile_name em{
    display:block;
    /* display: -webkit-box; */
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    max-width: 195px;
}

.profile_img{
    width:92rem;
    height:92rem;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #eee; */
    border-radius: 50%;
    overflow: hidden;
}
.profile_img > img{
    width:100%;
    height:auto;
    object-fit: cover;
}

.profile_img.big{
    width:140rem;
    height:140rem;
}
.profile_img.big > img{
    width:100%;
    height:auto;
    object-fit: cover;
}


.profile_grade{
    display:flex;
    gap:4px;
}
.profile_grade .badge_grade {
    width:20px;
    height:20px;
}





.btn--icon > span{
    height:15px;
}

.quick_info{
    width:100%;
    display:flex;
    justify-content: center;
    padding-top:10px;
    padding-bottom:10px;
}
.q_info{
    display:inline-flex;
    justify-content: center;
    width:30%;        
    padding:20px 0;
    font-size:16px;
    font-weight:600;
    color:#002863;
    position:relative;
}
.q_info:first-child{
    margin-left:10px;
}
.q_info:after{
    content:'';
    width:1px;
    height:20px;
    background-color:#eaeaea;
    position: absolute;
    right: 0px;
}
.q_info:last-child::after{
    display:none;
}
.q_info > a{
    display:block;
    width:100%;
    height:100%;
}


.menu_list_area{
    background-color:#f3f4f6;
    padding-top:28px;
    padding-bottom:36px;
    display: flex;
    gap: 40px;
    flex-direction: column;
    justify-content: space-between;
    margin-top:0 !important;
    height:auto;
    /* height:calc(100vh - 326px); */
    /* min-height:390px; */
}

.menu_list{
    display:flex;
    gap:10px;
    flex-direction: row;
    flex-wrap: wrap;
}
.menu_li{
    width: calc(50% - 5px);
    height:50px;
    display:flex;
    border-radius:5px;
    background-color:#fff;
    align-items: center;
}

.menu_link{
    color:#002863;
    font-size:14rem;
    font-weight:700;
}

.menu_icon{
    padding: 0 12px 0 14px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.ad_event{
    width: 100%;
    max-width:400px;
    height: auto;
    margin:0 auto;
    border-radius: 15px;
}
.ad_event > img{
    width:100%;
    height:100%;
    object-fit: cover;
}




/*** 전체메뉴 리뉴얼 디자인 ***/
.menu_top2{
    height:220px;    
    padding-top:30px;
}

.profile_info2{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:10px;
}

.profile_img2{
    width:60rem;
    height:60rem;
}
.profile_info2 .profile_name{
    font-weight:700;
    font-size:14rem;
    color:#000;
    line-height:20rem;
    display:flex;
}
.profile_info2 .profile_name em{
    display:block;
    /* display: -webkit-box; */
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    max-width: 195px;
}



.quick_info2{
    padding-top:20px;
}
.quick_info2 .q_info{
    color:#000;
    font-weight:700;
    flex-direction: column;
    align-items: center;
    width:35%;
}
.quick_info2 .q_info_value{
    font-weight:400;
    color:#555;
    padding-top:4px;
}
.quick_info2 .q_info:first-child{
    margin-left:0;
}


.menu_list_area2 .menu_list{ 
    flex-direction: column;
    gap:0;
}
.menu_list_area2 .menu_li{
    height:60px;
    width:100%;
    border-bottom:1px solid #f3f4f6;
    padding:0 20px;
    justify-content: space-between;
}
.menu_list_area2 .menu_icon{
    padding-left:4px;
}


.konnect_membership{
    padding : 50px 0 40px;
}
.konnect_membership_box{
    display:flex;
    flex-direction: column;
    gap:12px;
}
.konnect_membership_box + .konnect_membership_box{
    margin-top:30px;
}
.membership_box{
    padding:20px 22px;
    background-color:#fff;
    border-radius:10px;
    display:flex;
    gap:15px;
    align-items: center;
}


.membership_box_list_wrap{
    overflow-x:auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.membership_box_list_wrap::-webkit-scrollbar{
    display:none; /* Chrome, Safari, Opera*/
}

.membership_box_list{
    white-space: nowrap;
}

.membership_box_li{
    padding:20px 10px;
    background-color:#fff;
    border-radius:10px;
    display:inline-block;
    width:100px;
    height:140px;
    gap:8px;
}
.membership_box_li{
    margin-right:10px;
}         
.membership_box_li:last-child{
    margin-right:20px;
}
.membership_box2{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:6px;
    white-space: initial;
}




/*** 어떤 도움이 필요하신가요? ***/
.cs_direct{
    padding-top:60px;
    padding-bottom:80px;
    display:flex;
    flex-direction: column;
}
.cs_direct_list{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap:8px 4px;
    /* margin-top:25px; */
}

.body_bg_wh .cs_direct_btn{
    background-color:#F3F4F6;
    color:#333;
}


