<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no"
        />
        <meta name="format-detection" content="telephone=no" />

        <title>Konnect World</title>

        <!-- meta tag -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"> 
        <meta property="image" content="https://s3.ap-northeast-2.amazonaws.com/asset.konnect-world.com/images/share.png">
        <meta name="title" content="Konnect World">
        <meta name="description" content="Connect virtual and reality. Meet the real benefits through the story of Konnect World and NFTs from Konnect.">
        <meta name="keywords" content="Konnect World, Konnect, Konnectworld, KCT, kct, konnectkct, NFT, nft, Duman, DUMAN, 듀먼, 커넥트, 커넥트 월드">
        <meta name="robots" content="index, follow">
        <meta name="language" content="English">
        <meta name="revisit-after" content="1 days">
        <meta name="author" content="KCT-Konnect">
        <!-- // meta tag -->

        <!-- Open Graph -->
        <meta property="og:locale" content="us_EN">
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="Konnect World">
        <meta property="og:title" content="Konnect World">
        <meta property="og:description" content="Connect virtual and reality. Meet the real benefits through the story of Konnect World and NFTs from Konnect.">
        <meta property="og:url" content="https://konnect-world.com">
        <meta property="og:image" content="https://s3.ap-northeast-2.amazonaws.com/asset.konnect-world.com/images/share.png">
        <meta property="og:image:alt" content="Konnect World"><meta property="og:image:width" content="650">
        <meta property="og:image:height" content="650"><meta name="twitter:card" content="summary">
        
        <meta property="og:url" content="https://konnect-world.com/invitation">
        <meta property="og:title" content="Konnect Membership">
        <meta property="og:description" content="당신의 라이프스타일에 딱 맞는 멤버십 (Perfect Fit Your Lifestyle Membership)">
        <meta property="og:image" content="https://s3.ap-northeast-2.amazonaws.com/asset.konnect-world.com/images/invitation_banner.png">
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://konnect-world.com/invitation">
        <meta property="twitter:title" content="Konnect Membership">
        <meta property="twitter:description" content="당신의 라이프스타일에 딱 맞는 멤버십 (Perfect Fit Your Lifestyle Membership)">
        <meta property="twitter:image" content="https://s3.ap-northeast-2.amazonaws.com/asset.konnect-world.com/images/invitation_banner.png">
        <meta property="og:type" content="website"><meta property="og:url" content="https://konnect-world.com/invitation">
        <meta property="og:title" content="Konnect Membership">
        <meta property="og:description" content="당신의 라이프스타일에 딱 맞는 멤버십 (Perfect Fit Your Lifestyle Membership)">
        <meta property="og:image" content="https://s3.ap-northeast-2.amazonaws.com/asset.konnect-world.com/images/invitation_banner.png">

        <meta name="twitter:title" content="Konnect World"><meta name="twitter:site" content="@KONNECT_KCT">
        <meta name="twitter:description" content="Connect virtual and reality. Meet the real benefits through the story of Konnect World and NFTs from Konnect.">
        <meta name="twitter:image" content="https://s3.ap-northeast-2.amazonaws.com/asset.konnect-world.com/images/share.png">
        <meta name="twitter:image:alt" content="Konnect World"><meta property="og:type" content="website">

        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
        <!-- Open Graph -->

        <!-- Icon & Favicon -->  
        <link rel="apple-touch-icon" sizes="180x180" href="../img/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon/favicon-16x16.png">
        <link rel="manifest" href="../img/favicon/site.webmanifest">
        <link rel="mask-icon" href="../img/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <!-- // Icon & Favicon -->

        <link rel="stylesheet" href="../css/common.css" />

        <!-- //js script -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="../js/common.js"></script>
        <!-- //js script -->
    </head>

    <body class="body_bg">
        <div class="wrap">
            <header id="header" class="header main_header">
                <div class="header_wrap">
                    <div class="header_center">
                        <a href="../views/index_ko.html">
                            <div class="header_logo">
                                <img src="../img/main_logo.png" alt="" />
                            </div>
                        </a>
                    </div>
                    <div class="language">
                        <div class="language_status language_box">
                            <img src="../img/svg/global.svg" alt="global" />
                            <p class="language_text is-active">KR</p>
                        </div>
                        <ul class="language_list">
                            <li>
                                <a href="../views/index_ko.html">
                                    <p class="language_text is-active">KR</p>
                                </a>
                            </li>
                            <li>
                                <a href="../views/index_en.html">
                                    <p class="language_text">EN</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </header>
            <main id="content" class="main_content">
                <section class="section main_img">
                    <!-- <img src="../img/main_banner.png"> -->
                    <video id="video" autoplay muted playsinline>
                        <source id="video_intro" src="../img/desktop_Intro.mp4" type="video/mp4" />
                        <source id="video_loop" src="../img/desktop_Looping.mp4" type="video/mp4" />
                    </video>

                    <div class="main_img_bottom">
                        <div class="main_sns">
                            <ul>
                                <li class="sns_icon">
                                    <a href="https://t.me/KonnectAnnouncements" target="_blank">
                                        <img src="../img/svg/sns_telegram.svg" alt="sns_telegram" />
                                    </a>
                                </li>
                                <li class="sns_icon">
                                    <a
                                        href="https://twitter.com/KONNECT_KCT"
                                        target="_blank"
                                    >
                                        <img src="../img/svg/sns_twitter2.svg" alt="sns_twitter" />
                                    </a>
                                </li>
                                <li class="sns_icon">
                                    <a href="https://www.instagram.com/konnectkct/" target="_blank">
                                        <img
                                            src="../img/svg/sns_instagram.svg"
                                            alt="sns_instagram"
                                        />
                                    </a>
                                </li>
                                <li class="sns_icon">
                                    <a href="https://medium.com/@KONNECT_KCT" target="_blank">
                                        <img src="../img/svg/sns_medium.svg" alt="sns_medium" />
                                    </a>
                                </li>
                                <!-- <li class="sns_icon">
                                    <a href="https://pf.kakao.com/_yQxcNb" target="_blank">
                                        <img src="../img/svg/sns_kakao.svg" alt="sns_kakao" />
                                    </a>
                                </li> -->
                                <li class="sns_icon">
                                    <a
                                        href="https://blog.naver.com/konnect_finance"
                                        target="_blank"
                                    >
                                        <img src="../img/svg/sns_blog.svg" alt="sns_blog" />
                                    </a>
                                </li>
                                <li class="sns_icon">
                                    <a href="https://discord.com/invite/konnect" target="_blank">
                                        <img src="../img/svg/sns_discord.svg" alt="sns_discord" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="app_download">
                            <ul>
                                <li class="app_down_link">
                                    <a
                                        href="https://bit.ly/kctios"
                                        target="_blank"
                                    >
                                        <img src="../img/temp/appstore.png" alt="appstore" />
                                    </a>
                                </li>
                                <li class="app_down_link">
                                    <a
                                        href="https://bit.ly/kctand"
                                        target="_blank"
                                    >
                                        <img src="../img/temp/googleplay.png" alt="googleplay" />
                                    </a>
                                </li>
                            </ul>
                            <a href="https://d1mrs9xylgng0j.cloudfront.net/apk/konnect.apk" target="_blank">
                                <p class="app_help">
                                    <i class="ic ic_notice"><img src="../img/svg/ic_notice.svg" alt="ic_notice"/></i>
                                    구글스토어에서 앱이 검색되지 않나요?
                                </p>
                            </a>
                        </div>
                    </div>
                </section>
                <section class="section bg_img sub_img">
                    <h1 class="blue_text_46">모두가 앞다투어<br />Web 3.0을 이야기 하는 시대</h1>
                </section>
                <!-- 이모지 배경화면 -->
                <section class="section bg_img sub_img2 bg_face">
                    <img src="../img/bg_face.png" alt="bg_face1"/>
                    <h1 class="blue_text_46">
                        하지만,<br />
                        유틸리티 없는 가짜 Web 3.0 프로젝트에 지친 유저들
                    </h1>
                    <h3 class="navy_text_36">
                        유저가 받을 수 있는 인센티브가 부족한 현재의 Web 3.0 프로젝트들
                    </h3>
                </section>
                <section class="section bg_img sub_img2 bg_face">
                    <img src="../img/bg_face.png" alt="bg_face2"/>
                    <h1 class="blue_text_46">
                        그리고,<br />
                        유틸리티는 있지만 태생적 한계를 지닌 Web 2.0 서비스들
                    </h1>
                    <h3 class="navy_text_36">
                        글로벌 멤버십 서비스를 제공하기엔 비효율적이고 한계가 분명한 Web 2.0 시스템
                    </h3>
                </section>
                <!-- 네이비컬러 배경화면 -->
                <section class="section_full bg_navy">
                    <h1 class="big_tit_wh">
                        WEB 2.0의 실생활 인프라와<br />
                        WEB 3.0의 무한한 가능성을<br />
                        연결할 순 없을까?
                    </h1>
                </section>
                <!-- 라이트그레이컬러 배경화면 -->
                <section class="section_full">
                    <div class="konnect_intro">
                        <img
                            class="main_logo_l"
                            src="../img/main_logo_L.png"
                            alt="main_logo"
                        />
                        <h1 class="blue_text_56 pb_20">Web 3.0 시대의 문을 여는 FLEX한 멤버십의 시작</h1>
                        <p class="main_text">
                            국경에 상관없이 글로벌에서 사용이 가능하며<br />
                            더 많은 혜택을 멤버들에게 공정하게 제공해요
                        </p>
                    </div>
                </section>
                <!-- 커넥트 서비스 안내 -->
                <section class="section bg_lightblue">
                    <div class="section_in">
                        <div class="konnect_info">
                            <div class="konnect_info_top">
                                <div class="info_text_box">
                                    <h1 class="big_tit_2">SERVICE</h1>
                                    <h3 class="big_detail">
                                        One <span class="tx_black">Log in,</span> All
                                        <span class="tx_black">Membership</span>
                                    </h3>
                                </div>
                                <ul class="konnect_info_content">
                                    <li class="content_4">
                                        <div class="konnect_info_img">
                                            <img src="../img/temp/service_1.png" alt="service_1" />
                                        </div>
                                        <h5 class="blue_text_28 pb_20">Web3 지갑 제공</h5>
                                        <p class="sub_text">
                                            Web3Auth를 이용한<br />
                                            지갑 서비스 제공
                                        </p>
                                    </li>
                                    <li class="content_4">
                                        <div class="konnect_info_img">
                                            <img src="../img/temp/service_2.png" alt="service_2" />
                                        </div>
                                        <h5 class="blue_text_28 pb_20">글로벌 로그인</h5>
                                        <p class="sub_text">
                                            한 번의 로그인으로<br />
                                            전 세계 어디서나 즐기는 편리한 멤버십
                                        </p>
                                    </li>
                                    <li class="content_4">
                                        <div class="konnect_info_img">
                                            <img src="../img/temp/service_3.png" alt="service_3" />
                                        </div>
                                        <h5 class="blue_text_28 pb_20">압도적 멤버십</h5>
                                        <p class="sub_text">
                                            커넥트 파트너와 함께 제공하는<br />
                                            라이프스타일 멤버십 베네핏
                                        </p>
                                    </li>
                                    <li class="content_4">
                                        <div class="konnect_info_img">
                                            <img src="../img/temp/service_4.png" alt="service_4" />
                                        </div>
                                        <h5 class="blue_text_28 pb_20">유저 인센티브</h5>
                                        <p class="sub_text">
                                            생태계 확장에 따른 유저 인센티브 증가<br />
                                            (세이빙 프로그램)
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="line_gray"></div>
                            <div class="konnect_info_bottom">
                                <div class="konnect_process">
                                    <img src=../img/temp/service_process_ko.png alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- 커넥트 멤버쉽 안내 -->
                <section class="section bg_navy">
                    <div class="section_in">
                        <div class="konnect_info">
                            <div class="konnect_info_top">
                                <div class="info_text_box">
                                    <h1 class="big_tit_2 tx_white">MEMBERSHIP</h1>
                                    <p class="big_detail2 tx_white">
                                        당신의 라이프스타일에 딱 맞는 멤버십을 골라보세요<br />
                                        커넥트의 멤버십은 크게 3가지로 분류할 수 있어요
                                    </p>
                                </div>
                                <ul class="konnect_info_content pt_0">
                                    <li class="content_1">
                                        <img src="../img/temp/membership.png" alt="membership" />
                                    </li>
                                </ul>
                            </div>
                            <div class="line_white"></div>
                            <div class="konnect_info_bottom">
                                <div class="info_text_box">
                                    <h5 class="big_detail tx_white">FLEX TYPE</h5>
                                    <p class="big_detail2 tx_white">
                                        똑같은 일상을 특별함으로 바꾸는 타입, 23개의 브랜드로
                                        여유로운 가끔의 사치, 호캉스부터<br />
                                        나에게 주는 선물 같은, 뷰티&스파까지 FLEX하는 선물같은
                                        혜택만 사용해보세요
                                    </p>
                                </div>
                                <ul class="konnect_info_content center pt_0">
                                    <li>
                                        <img src="../img/temp/flex_type.png" alt="flex_type" />
                                    </li>
                                </ul>
                                <div class="info_text_box">
                                    <h5 class="big_detail tx_white">SUBSCRIPTION TYPE</h5>
                                    <p class="big_detail2 tx_white">
                                        커넥트 플렉스 타입은 2가지 유형으로 가입할 수 있어요
                                    </p>
                                </div>
                                <ul class="konnect_info_content pt_0">
                                    <li class="content_3">
                                        <div class="big_number_box">
                                            <h1 class="big_number">1.</h1>
                                            <div>
                                                <p class="big_detail2 tx_white">구독유형선택</p>
                                                <p class="big_sub_detail2">
                                                    주간 미션 수행시마다 KCT를 추가 증정해요
                                                </p>
                                            </div>
                                        </div>
                                        <div class="konnect_info_img2">
                                            <img src="../img/temp/type_1.png" alt="type_1" />
                                        </div>
                                    </li>
                                    <li class="content_3">
                                        <div class="big_number_box">
                                            <h1 class="big_number">2.</h1>
                                            <div>
                                                <p class="big_detail2 tx_white">구독유형선택</p>
                                                <p class="big_sub_detail2">
                                                    주간 미션 수행시마다 KCT를 추가 증정해요
                                                </p>
                                            </div>
                                        </div>
                                        <div class="konnect_info_img2">
                                            <img src="../img/temp/type_2.png" alt="type_2" />
                                        </div>
                                    </li>
                                    <li class="content_3">
                                        <div class="big_number_box">
                                            <h1 class="big_number">3.</h1>
                                            <div>
                                                <p class="big_detail2 tx_white">구독유형선택</p>
                                                <p class="big_sub_detail2">
                                                    주간 미션 수행시마다 KCT를 추가 증정해요
                                                </p>
                                            </div>
                                        </div>
                                        <div class="konnect_info_img2">
                                            <img src="../img/temp/type_3.png" alt="type_3" />
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- 커넥트 인프라 안내 -->
                <section class="section">
                    <div class="section_in">
                        <div class="konnect_info">
                            <div class="konnect_info_top">
                                <div class="info_text_box">
                                    <h1 class="big_tit_2">INFRA</h1>
                                    <p class="big_detail2">
                                        면세 유통업/인바운드 여행업 분야 1,3위 면세 유통업/인바운드
                                        여행업 분야 1,3위 회사가<br />
                                        연매출 6조원의 인프라를 통해 혜택을 제공해요
                                    </p>
                                </div>
                                <ul class="konnect_info_content w_1100">
                                    <li class="content_3">
                                        <div class="konnect_info_img">
                                            <img src="../img/temp/infra_1.png" alt="infra_1" />
                                        </div>
                                        <p class="sub_text">커넥트 유통 매출 총액</p>
                                    </li>
                                    <li class="content_3">
                                        <div class="konnect_info_img">
                                            <img src="../img/temp/infra_2.png" alt="infra_2" />
                                        </div>
                                        <p class="sub_text">파트너사</p>
                                    </li>
                                    <li class="content_3">
                                        <div class="konnect_info_img">
                                            <img src="../img/temp/infra_3.png" alt="infra_3" />
                                        </div>
                                        <p class="sub_text">B2B 바이어</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="national">
                                <img src="../img/temp/national.png" alt="" />
                            </div>
                            <div class="infra_group">
                                <ul>
                                    <li class="infra_group_li">
                                        <a href="https://chain.link/" target="_blank">
                                            <img src="../img/temp/infra_chain.png" alt="infra_chain" />
                                            <p class="sub_sub_text semibold">CHAINLINK BUILD</p>
                                        </a>
                                    </li>     
                                    <li class="infra_group_li">
                                        <a href="https://www.huobi.com/en-us/trade/kct_usdt" target="_blank">
                                            <img src="../img/temp/infra_huobi.png" alt="infra_huobi" />
                                            <p class="sub_sub_text semibold">LISTED ON HUOBI</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- 커넥트 파트너사 안내 -->
                <section class="section bg_blue">
                    <div class="section_in">
                        <div class="konnect_info">
                            <div class="konnect_info_top pb_0">
                                <div class="info_text_box">
                                    <h1 class="big_tit_2 tx_white">ECOSYSTEM</h1>
                                </div>
                                <ul class="konnect_info_content">
                                    <li class="content_1">
                                        <img src="../img/temp/partner.png" alt="partner" />
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- 커넥트 nft 안내 -->
                <section class="section">
                    <div class="section_in">
                        <div class="konnect_info">
                            <div class="konnect_info_top pb_80">
                                <div class="info_text_box">
                                    <h1 class="big_tit_2">NFT</h1>
                                    <p class="big_detail2">
                                        커넥트의 다양한 NFT로 재밌고 풍성한 혜택을 만나요
                                    </p>
                                </div>
                                <ul class="konnect_info_content">
                                    <li class="content_3">
                                        <div class="konnect_info_img">
                                            <img src="../img/temp/nft_1.png" alt="nft_1" />
                                        </div>
                                        <h5 class="navy_text_28 pb_20">MEMBERSHIP NFT</h5>
                                        <p class="sub_sub_text">
                                            커넥트 멤버십 사용자에게 지급되는 NFT로<br />
                                            카드를 합성하면 더 많은 혜택을 보유할 수 있어요
                                        </p>
                                    </li>
                                    <li class="content_3">
                                        <div class="konnect_info_img">
                                            <img src="../img/temp/nft_2.png" alt="nft_2" />
                                        </div>
                                        <h5 class="navy_text_28 pb_20">PFP NFT</h5>
                                        <p class="sub_sub_text">
                                            PFP NFT(Profile Picture)는<br />
                                            ’커넥트 월드’의 캐릭터로 제작하였어요 프로필이나
                                            증명서<br />
                                            용도로 사용할 수 있으며 포함 혜택은 오픈 예정이에요
                                        </p>
                                    </li>
                                    <li class="content_3">
                                        <div class="konnect_info_img">
                                            <img src="../img/temp/nft_3.png" alt="nft_3" />
                                        </div>
                                        <h5 class="navy_text_28 pb_20">MYSTERY BOX NFT</h5>
                                        <p class="sub_sub_text">
                                            한정판으로 발매되는 랜덤박스 NFT예요<br />
                                            커넥트 멤버십에서 제공하는 바우처를 통해<br />
                                            할인가로 구매할 수 있어요
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="market_link">
                                <button
                                    type="button"
                                    class="btn btn--md"
                                    onclick="location.href='https://market.konnect-world.com/'"
                                >
                                    NFT MARKET PLACE 바로가기
                                </button>
                                <p class="sub_sub_text">
                                    커넥트의 기존 NFT 마켓 플레이스를 방문하여 둘러보세요.
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
            <footer id="footer" class="footer main_footer">
                <div class="footer_in">
                    <div class="footer_left">
                        <div class="footer_left_top">
                            <div class="footer_logo">
                                <a href="../views/index_ko.html">
                                    <img src="../img/logo_white.png" alt="logo_white" />
                                </a>
                            </div>
                            <div class="app_download">
                                <ul>
                                    <li class="app_down_link">
                                        <a
                                            href="https://bit.ly/kctios"
                                            target="_blank"
                                        >
                                            <img
                                                src="../img/temp/appstore_wh.png"
                                                alt="appstore_wh"
                                            />
                                        </a>
                                    </li>
                                    <li class="app_down_link">
                                        <a
                                            href="https://bit.ly/kctand"
                                            target="_blank"
                                        >
                                            <img
                                                src="../img/temp/googleplay_wh.png"
                                                alt="googleplay_wh"
                                            />
                                        </a>
                                    </li>
                                </ul>
                                <a href="https://d1mrs9xylgng0j.cloudfront.net/apk/konnect.apk" target="_blank">
                                    <p class="app_help">
                                        <i class="ic ic_notice"><img src="../img/svg/ic_notice_wh.svg" alt="ic_notice"/></i>
                                        구글스토어에서 앱이 검색되지 않나요?
                                    </p>
                                </a>
                            </div>
                        </div>
                        <p class="copyright">© 2023. Konnect All rights reserved.</p>
                    </div>
                    <div class="footer_right">
                        <div class="footer_right_top">
                            <ul>
                                <li>
                                    <h3 class="footer_tit">Head</h3>
                                    <p class="footer_detail">
                                        CDF Switzerland GmbH - <b>Konnect</b><br />
                                        21 Banhhofstrasse 6300 Zug, Switzerland<br />
                                        contact@konnect.finance
                                    </p>
                                </li>
                                <li>
                                    <h3 class="footer_tit">Korea Branch</h3>
                                    <p class="footer_detail">
                                        씨디에프 스위치랜드 유한책임회사<br />
                                        (CDF Switzerland GmbH)<br />
                                        대표자 김주영 / 사업자등록번호 518-84-00025
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <p class="copyright"> A space where virtual and reality Connect</p>
                    </div>
                    <!-- <div class="footer_copyright">
                        <p class="copyright">
                            A space where virtual and reality
                            connect
                        </p>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <p class="copyright">© 2023. Konnect All rights reserved.</p>
                    </div> -->
                </div>
            </footer>
        </div>
        <div class="m_wrap wrap_ko">
            <header id="header" class="header main_header">
                <div class="header_wrap m_header_wrap">
                    <div class="header_center">
                        <a href="../views/index_ko.html">
                            <div class="header_logo">
                                <img src="../img/main_logo.png" alt="" />
                            </div>
                        </a>
                    </div>
                    <div class="m_language">
                        <div class="language_status language_box">
                            <img src="../img/svg/global.svg" alt="global" />
                            <p class="language_text is-active">KR</p>
                        </div>
                        <ul class="language_list">
                            <li>
                                <a href="../views/index_ko.html">
                                    <p class="language_text is-active">KR</p>
                                </a>
                            </li>
                            <li>
                                <a href="../views/index_en.html">
                                    <p class="language_text">EN</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </header>
            <main id="content" class="main_content m_main_content">
                <section class="m_section_full main_img">
                    <!-- <img src="../img/m_main_banner.png"> -->
                    <video id="video_m" autoplay muted playsinline>
                        <source id="video_m_intro" src="../img/mobile_Intro.mp4" type="video/mp4" />
                        <source
                            id="video_m_loop"
                            src="../img/mobile_Looping.mp4"
                            type="video/mp4"
                        />
                    </video>
                </section>
                <section class="m_section_full m_sub_img">
                    <img src="../img/m_sub_banner.png" alt="m_sub_banner"/>
                </section>
                <section class="m_section_full">
                    <div class="m_konnect_info_in_2">
                        <h1 class="blue_text_46">
                            모두가 앞다투어<br />Web 3.0을 이야기 하는 시대
                        </h1>
                    </div>
                </section>
                <!-- 이모지 배경화면 -->
                <section class="m_section_full">
                    <div class="m_konnect_info_in_2">
                        <h1></h1>
                        <div class="m_bg_face">
                            <img src="../img/temp/m_bg_face_ko.png" alt="m_bg_face" />
                        </div>
                    </div>
                </section>
                <!-- 네이비컬러 배경화면 -->
                <section class="m_section_full">
                    <div class="bg_navy padding_box">
                        <h1 class="big_tit_wh">
                            WEB 2.0의 실생활 인프라와<br />
                            WEB 3.0의 무한한 가능성을<br />
                            연결할 순 없을까?
                        </h1>
                    </div>
                </section>
                <!-- 라이트그레이컬러 배경화면 -->
                <section class="m_section_full">
                    <div class="m_konnect_info_in">
                        <div class="m_intro">
                            <img src="../img/temp/m_intro_ko.png" alt="m_intro" />
                        </div>
                    </div>
                </section>
                <!-- 커넥트 서비스 안내 -->
                <section class="m_section_full">
                    <div class="m_konnect_info_in_2">
                        <div class="m_service">
                            <img src="../img/temp/m_service_ko.png" alt="m_service" />
                        </div>
                    </div>
                </section>
                <!-- 커넥트 멤버쉽 안내 -->
                <section class="section bg_navy">
                    <div class="m_konnect_info">
                        <div class="m_konnect_info_in_3">
                            <div class="m_membership">
                                <img src="../img/temp/m_membership_ko.png" alt="m_membership" />
                            </div>
                        </div>
                    </div>
                </section>
                <!-- 커넥트 인프라 안내 -->
                <section class="section">
                    <div class="m_konnect_info">
                        <div class="m_konnect_info_in_2">
                            <div class="konnect_info_top">
                                <div class="info_text_box">
                                    <h1 class="big_tit_2">INFRA</h1>
                                    <p class="big_detail2">
                                        면세 유통업/인바운드 여행업 분야 1,3위<br />
                                        면세 유통업/인바운드 여행업 분야 1,3위 회사가<br />
                                        연매출 6조원의 인프라를 통해 혜택을 제공해요
                                    </p>
                                </div>
                                <ul class="konnect_info_content">
                                    <li class="content_3">
                                        <div class="konnect_info_img">
                                            <img src="../img/temp/infra_1.png" alt="infra_1" />
                                        </div>
                                        <p class="sub_text">유통 매출 총액</p>
                                    </li>
                                    <li class="content_3">
                                        <div class="konnect_info_img">
                                            <img src="../img/temp/infra_2.png" alt="infra_2" />
                                        </div>
                                        <p class="sub_text">파트너사</p>
                                    </li>
                                    <li class="content_3">
                                        <div class="konnect_info_img">
                                            <img src="../img/temp/infra_3.png" alt="infra_3" />
                                        </div>
                                        <p class="sub_text">B2B 바이어</p> 
                                    </li>
                                </ul>
                            </div>
                            <div class="national">
                                <img src="../img/temp/m_national.png" alt="" />
                            </div>
                            <div class="infra_group">
                                <ul>
                                    <li class="infra_group_li">
                                        <a href="https://chain.link/" target="_blank">
                                            <img src="../img/temp/infra_chain.png" alt="infra_chain" />
                                            <p class="sub_sub_text bold">CHAINLINK<br/>BUILD</p>
                                        </a>
                                    </li>     
                                    <li class="infra_group_li">
                                        <a href="https://www.huobi.com/en-us/trade/kct_usdt" target="_blank">
                                            <img src="../img/temp/infra_huobi.png" alt="infra_huobi" />
                                            <p class="sub_sub_text bold">LISTED ON <br>HUOBI</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- 커넥트 파트너사 안내 -->
                <section class="section bg_blue">
                    <div class="m_konnect_info">
                        <div class="m_konnect_info_in_3">
                            <div class="m_partner">
                                <img src="../img/temp/m_partner.png" alt="m_partner" />
                            </div>
                        </div>
                    </div>
                </section>
                <!-- 커넥트 nft 안내 -->
                <section class="section">
                    <div class="m_konnect_info">
                        <div class="m_konnect_info_in_2">
                            <div class="m_nft">
                                <img src="../img/temp/m_nft.png" alt="m_nft" />
                            </div>
                        </div>
                        <div class="market_link">
                            <button
                                type="button"
                                class="btn btn--md m_btn--md"
                                onclick="location.href='https://market.konnect-world.com/'"
                            >
                                NFT MARKET PLACE 바로가기
                            </button>
                        </div>
                    </div>
                </section>
            </main>
            <footer id="footer" class="footer main_footer">
                <div class="m_footer_in">
                    <div class="m_footer_top">
                        <div class="footer_logo">
                            <a href="../views/index_ko.html">
                                <img src="../img/logo_white.png" alt="logo_white" />
                            </a>
                        </div>
                        <div class="main_sns">
                            <ul>
                                <li class="sns_icon">
                                    <a href="https://t.me/KonnectAnnouncements" target="_blank">
                                        <img
                                            src="../img/svg/sns_telegram_wh.svg"
                                            alt="sns_telegram"
                                        />
                                    </a>
                                </li>
                                <li class="sns_icon">
                                    <a
                                        href="https://twitter.com/KONNECT_KCT"
                                        target="_blank"
                                    >
                                        <img
                                            src="../img/svg/sns_twitter_wh2.svg"
                                            alt="sns_twitter"
                                        />
                                    </a>
                                </li>
                                <li class="sns_icon">
                                    <a href="https://www.instagram.com/konnectkct/" target="_blank">
                                        <img
                                            src="../img/svg/sns_instagram_wh.svg"
                                            alt="sns_instagram"
                                        />
                                    </a>
                                </li>
                                <li class="sns_icon">
                                    <a href="https://medium.com/@KONNECT_KCT" target="_blank">
                                        <img src="../img/svg/sns_medium_wh.svg" alt="sns_medium" />
                                    </a>
                                </li>
                                <!-- <li class="sns_icon">
                                    <a href="https://pf.kakao.com/_yQxcNb" target="_blank">
                                        <img src="../img/svg/sns_kakao_wh.svg" alt="sns_kakao" />
                                    </a>
                                </li> -->
                                <li class="sns_icon">
                                    <a
                                        href="https://blog.naver.com/konnect_finance"
                                        target="_blank"
                                    >
                                        <img src="../img/svg/sns_blog_wh.svg" alt="sns_blog" />
                                    </a>
                                </li>
                                <li class="sns_icon">
                                    <a href="https://discord.com/invite/konnect" target="_blank">
                                        <img
                                            src="../img/svg/sns_discord_wh.svg"
                                            alt="sns_discord"
                                        />
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="app_download">
                            <ul>
                                <li class="app_down_link">
                                    <a
                                        href="https://bit.ly/kctios"
                                        target="_blank"
                                    >
                                        <img
                                            src="../img/temp/appstore_wh.png"
                                            alt="appstore_wh"
                                        />
                                    </a>
                                </li>
                                <li class="app_down_link">
                                    <a
                                        href="https://bit.ly/kctand"
                                        target="_blank"
                                    >
                                        <img
                                            src="../img/temp/googleplay_wh.png"
                                            alt="googleplay_wh"
                                        />
                                    </a>
                                </li>
                            </ul>
                            <a href="https://d1mrs9xylgng0j.cloudfront.net/apk/konnect.apk" target="_blank">
                                <p class="app_help">
                                    <i class="ic ic_notice"><img src="../img/svg/ic_notice_wh.svg" alt="ic_notice"/></i>
                                    구글스토어에서 앱이 검색되지 않나요?
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="m_footer_bottom">
                        <ul>
                            <li>
                                <h3 class="footer_tit">Head</h3>
                                <p class="footer_detail">
                                    CDF Switzerland GmbH - <b>Konnect</b><br />
                                    21 Banhhofstrasse 6300 Zug, Switzerland<br />
                                    contact@konnect.finance
                                </p>
                            </li>
                            <li>
                                <h3 class="footer_tit">Korea Branch</h3>
                                <p class="footer_detail">
                                    씨디에프 스위치랜드 유한책임회사<br />
                                    (CDF Switzerland GmbH)<br />
                                    대표자 김주영 / 사업자등록번호 518-84-00025
                                </p>
                            </li>
                        </ul>
                        <p class="copyright">© Copyright 2023 KCT All right are reserved.</p>
                        <p class="copyright">
                            A space where virtual and reality
                            connect&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;©2023 Konnect
                        </p>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var video = document.getElementById('video');
        var introSource = document.getElementById('video_intro');
        var loopSource = document.getElementById('video_loop');

        video.addEventListener('ended', function () {
            introSource.removeEventListener('ended', replayIntro);
            video.src = loopSource.src;
            video.loop = true;
            video.play();
        });

        function replayIntro() {
            introSource.play();
        }

        introSource.addEventListener('ended', replayIntro);

        var video_m = document.getElementById('video_m');
        var introSource_m = document.getElementById('video_m_intro');
        var loopSource_m = document.getElementById('video_m_loop');

        video_m.addEventListener('ended', function () {
            introSource_m.removeEventListener('ended', replayIntro);
            video_m.src = loopSource_m.src;
            video_m.loop = true;
            video_m.play();
        });

        function replayIntro() {
            introSource_m.play();
        }

        introSource_m.addEventListener('ended', replayIntro);
    });
</script>
