<!DOCTYPE html>
<html lang="EN">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no"
        />
        <meta name="format-detection" content="telephone=no" />

        <title>Konnect World</title>

        <!-- SEO meta tag -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"> 
        <meta property="image" content="https://s3.ap-northeast-2.amazonaws.com/asset.konnect-world.com/images/share.png">
        <meta name="title" content="Konnect World">
        <meta name="description" content="Connect virtual and reality. Meet the real benefits through the story of Konnect World and NFTs from Konnect.">
        <meta name="keywords" content="Konnect World, Konnect, Konnectworld, KCT, kct, konnectkct, NFT, nft, Duman, DUMAN, 듀먼, 커넥트, 커넥트 월드">
        <meta name="robots" content="index, follow">
        <meta name="language" content="English">
        <meta name="revisit-after" content="1 days">
        <meta name="author" content="KCT-Konnect">
        <!-- // SEO meta tag -->

        <!-- Open Graph -->
        <meta property="og:locale" content="us_EN"><meta property="og:type" content="website">
        <meta property="og:site_name" content="Konnect World">
        <meta property="og:title" content="Konnect World">
        <meta property="og:description" content="Connect virtual and reality. Meet the real benefits through the story of Konnect World and NFTs from Konnect.">
        <meta property="og:url" content="https://konnect-world.com">
        <meta property="og:image" content="https://s3.ap-northeast-2.amazonaws.com/asset.konnect-world.com/images/share.png">
        <meta property="og:image:alt" content="Konnect World"><meta property="og:image:width" content="650">
        <meta property="og:image:height" content="650"><meta name="twitter:card" content="summary">

        <meta property="og:url" content="https://konnect-world.com/invitation">
        <meta property="og:title" content="Konnect Membership">
        <meta property="og:description" content="당신의 라이프스타일에 딱 맞는 멤버십 (Perfect Fit Your Lifestyle Membership)">
        <meta property="og:image" content="https://s3.ap-northeast-2.amazonaws.com/asset.konnect-world.com/images/invitation_banner.png">
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://konnect-world.com/invitation">
        <meta property="twitter:title" content="Konnect Membership">
        <meta property="twitter:description" content="당신의 라이프스타일에 딱 맞는 멤버십 (Perfect Fit Your Lifestyle Membership)">
        <meta property="twitter:image" content="https://s3.ap-northeast-2.amazonaws.com/asset.konnect-world.com/images/invitation_banner.png">
        <meta property="og:type" content="website"><meta property="og:url" content="https://konnect-world.com/invitation">
        <meta property="og:title" content="Konnect Membership">
        <meta property="og:description" content="당신의 라이프스타일에 딱 맞는 멤버십 (Perfect Fit Your Lifestyle Membership)">
        <meta property="og:image" content="https://s3.ap-northeast-2.amazonaws.com/asset.konnect-world.com/images/invitation_banner.png">

        <meta name="twitter:title" content="Konnect World"><meta name="twitter:site" content="@KONNECT_KCT">
        <meta name="twitter:description" content="Connect virtual and reality. Meet the real benefits through the story of Konnect World and NFTs from Konnect.">
        <meta name="twitter:image" content="https://s3.ap-northeast-2.amazonaws.com/asset.konnect-world.com/images/share.png">
        <meta name="twitter:image:alt" content="Konnect World"><meta property="og:type" content="website">

        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
        <!-- // Open Graph -->

        
        <!-- Icon & Favicon -->  
        <link rel="apple-touch-icon" sizes="180x180" href="../img/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon/favicon-16x16.png">
        <link rel="manifest" href="../img/favicon/site.webmanifest">
        <link rel="mask-icon" href="../img/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <!-- // Icon & Favicon -->

        <link rel="stylesheet" href="../css/common.css" />

        <!-- //js script -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="../js/common.js"></script>
        <!-- //js script -->
    </head>

    <body class="body_bg">
        <div class="wrap">
            <header id="header" class="header main_header">
                <div class="header_wrap">
                    <div class="header_center">
                        <a href="../views/index_en.html">
                            <div class="header_logo">
                                <img src="../img/main_logo.png" alt="" />
                            </div>
                        </a>
                    </div>
                    <div class="language">
                        <div class="language_status language_box">
                            <img src="../img/svg/global.svg" alt="global" />
                            <p class="language_text is-active">EN</p>
                        </div>
                        <ul class="language_list">
                            <li>
                                <a href="../views/index_ko.html">
                                    <p class="language_text">KR</p>
                                </a>
                            </li>
                            <li>
                                <a href="../views/index_en.html">
                                    <p class="language_text is-active">EN</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </header>
            <main id="content" class="main_content">
                <section class="section main_img">
                    <!-- <img src="../img/main_banner.png"> -->
                    <video id="video" autoplay muted playsinline>
                        <source id="video_intro" src="../img/desktop_Intro.mp4" type="video/mp4" />
                        <source id="video_loop" src="../img/desktop_Looping.mp4" type="video/mp4" />
                    </video>
                    <div class="main_img_bottom">
                        <div class="main_sns">
                            <ul>
                                <li class="sns_icon">
                                    <a href="https://t.me/KonnectAnnouncements" target="_blank">
                                        <img src="../img/svg/sns_telegram.svg" alt="sns_telegram" />
                                    </a>
                                </li>
                                <li class="sns_icon">
                                    <a
                                        href="https://twitter.com/KONNECT_KCT"
                                        target="_blank"
                                    >
                                        <img src="../img/svg/sns_twitter.svg" alt="sns_twitter" />
                                    </a>
                                </li>
                                <li class="sns_icon">
                                    <a href="https://www.instagram.com/konnectkct/" target="_blank">
                                        <img
                                            src="../img/svg/sns_instagram.svg"
                                            alt="sns_instagram"
                                        />
                                    </a>
                                </li>
                                <li class="sns_icon">
                                    <a href="https://medium.com/@KONNECT_KCT" target="_blank">
                                        <img src="../img/svg/sns_medium.svg" alt="sns_medium" />
                                    </a>
                                </li>
                                <!-- <li class="sns_icon">
                                    <a href="https://pf.kakao.com/_yQxcNb" target="_blank">
                                        <img src="../img/svg/sns_kakao.svg" alt="sns_kakao" />
                                    </a>
                                </li> -->
                                <li class="sns_icon">
                                    <a
                                        href="https://blog.naver.com/konnect_finance"
                                        target="_blank"
                                    >
                                        <img src="../img/svg/sns_blog.svg" alt="sns_blog" />
                                    </a>
                                </li>
                                <li class="sns_icon">
                                    <a href="https://discord.com/invite/konnect" target="_blank">
                                        <img src="../img/svg/sns_discord.svg" alt="sns_discord" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="app_download">
                            <ul>
                                <li class="app_down_link">
                                    <a
                                        href="https://bit.ly/kctios"
                                        target="_blank"
                                    >
                                        <img src="../img/temp/appstore.png" alt="appstore" />
                                    </a>
                                </li>
                                <li class="app_down_link">
                                    <a
                                        href="https://bit.ly/kctand"
                                        target="_blank"
                                    >
                                        <img src="../img/temp/googleplay.png" alt="googleplay" />
                                    </a>
                                </li>
                            </ul>
                            <a href="https://d1mrs9xylgng0j.cloudfront.net/apk/konnect.apk" target="_blank">
                                <p class="app_help">
                                    <i class="ic ic_notice"><img src="../img/svg/ic_notice.svg" alt="ic_notice"/></i>
                                    Can't find konnect app in google store?
                                </p>
                            </a>
                        </div>
                    </div>
                </section>
                <section class="section bg_img sub_img">
                    <h1 class="blue_text_46">The era of web 3.0 buzz<br />and excitement</h1>
                </section>
                <!-- 이모지 배경화면 -->
                <section class="section bg_img sub_img2 bg_face">
                    <img src="../img/bg_face_en.png" alt="bg_face1_en" />
                    <h1 class="blue_text_46">
                        Users tired of fake web 3.0 projects lacking utility
                    </h1>
                    <h3 class="navy_text_36">
                        Web 3.0 projects so far with insufficient incentives for users to receive
                    </h3>
                </section>
                <section class="section bg_img sub_img2 bg_face">
                    <img src="../img/bg_face2_en.png" alt="bg_face2_en" />
                    <h1 class="blue_text_46 pt_20">
                        and<br />web 2.0 services with inherent limitations despite their utility
                    </h1>
                    <h3 class="navy_text_36">
                        Inefficient and clearly limited web 2.0 systems for providing global
                        membership services
                    </h3>
                </section>
                <!-- 네이비컬러 배경화면 -->
                <section class="section_full bg_navy">
                    <h1 class="big_tit_wh">
                        Is there a way to connect<br />
                        the real-life infrastructure of web 2.0<br />
                        with the infinite possibilities of web 3.0?
                    </h1>
                </section>
                <!-- 라이트그레이컬러 배경화면 -->
                <section class="section_full">
                    <div class="konnect_intro">
                        <img class="main_logo_l" src="../img/main_logo_L.png" alt="main_logo" />
                        <h1 class="blue_text_56 pb_20">
                            the beginning of FLEX Membership that<br />
                            opens the door to Web 3.0
                        </h1>
                        <p class="main_text">
                            Can be used globally regardless of borders,<br />
                            providing more benefits to members fairly
                        </p>
                    </div>
                </section>
                <!-- 커넥트 서비스 안내 -->
                <section class="section bg_lightblue">
                    <div class="section_in">
                        <div class="konnect_info">
                            <div class="konnect_info_top">
                                <div class="info_text_box">
                                    <h1 class="big_tit_2">SERVICE</h1>
                                    <h3 class="big_detail">
                                        One <span class="tx_black">Log in,</span> All
                                        <span class="tx_black">Membership</span>
                                    </h3>
                                </div>
                                <ul class="konnect_info_content">
                                    <li class="content_4">
                                        <div class="konnect_info_img">
                                            <img src="../img/temp/service_1.png" alt="service_1" />
                                        </div>
                                        <h5 class="blue_text_28 pb_20">Web3 Wallet Offering</h5>
                                        <p class="sub_text">
                                            Increasing user incentives<br />
                                            with ecosystem expansion<br />
                                            (Savings Program)
                                        </p>
                                    </li>
                                    <li class="content_4">
                                        <div class="konnect_info_img">
                                            <img src="../img/temp/service_2.png" alt="service_2" />
                                        </div>
                                        <h5 class="blue_text_28 pb_20">Global Login</h5>
                                        <p class="sub_text">
                                            Convenient membership that<br />
                                            can be enjoyed anywhere in the<br />
                                            world with a single login
                                        </p>
                                    </li>
                                    <li class="content_4">
                                        <div class="konnect_info_img">
                                            <img src="../img/temp/service_3.png" alt="service_3" />
                                        </div>
                                        <h5 class="blue_text_28 pb_20">Overwhelming Membership</h5>
                                        <p class="sub_text">
                                            Offering lifestyle membership<br />
                                            in collaboration with konnect<br />
                                            Partners
                                        </p>
                                    </li>
                                    <li class="content_4">
                                        <div class="konnect_info_img">
                                            <img src="../img/temp/service_4.png" alt="service_4" />
                                        </div>
                                        <h5 class="blue_text_28 pb_20">User Incentives</h5>
                                        <p class="sub_text">
                                            Enabling global login and<br />
                                            wallet services through<br />
                                            Web3Auth
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="line_gray"></div>
                            <div class="konnect_info_bottom">
                                <div class="konnect_process">
                                    <img src=../img/temp/service_process_en.png alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- 커넥트 멤버쉽 안내 -->
                <section class="section bg_navy">
                    <div class="section_in">
                        <div class="konnect_info">
                            <div class="konnect_info_top">
                                <div class="info_text_box">
                                    <h1 class="big_tit_2 tx_white">MEMBERSHIP</h1>
                                    <p class="big_detail2 tx_white">
                                        Discover the membership that perfectly aligns with your
                                        lifestyle.<br />
                                        Konnect provides three distinct membership options.
                                    </p>
                                </div>
                                <ul class="konnect_info_content pt_0">
                                    <li class="content_1">
                                        <img src="../img/temp/membership_en.png" alt="membership" />
                                    </li>
                                </ul>
                            </div>
                            <div class="line_white"></div>
                            <div class="konnect_info_bottom">
                                <div class="info_text_box">
                                    <h5 class="big_detail tx_white">FLEX TYPE</h5>
                                    <p class="big_detail2 tx_white">
                                        The same daily lifeturning it into something special.<br />
                                        (Small Luxury in a Hectic Life, STAYCATION A Gift for Me,
                                        BEAUTY & SPA)
                                    </p>
                                </div>
                                <ul class="konnect_info_content center pt_0">
                                    <li>
                                        <img src="../img/temp/flex_type.png" alt="flex_type" />
                                    </li>
                                </ul>
                                <div class="info_text_box">
                                    <h5 class="big_detail tx_white">SUBSCRIPTION TYPE</h5>
                                    <p class="big_detail2 tx_white">
                                        There are two types of Konnect Flex
                                    </p>
                                </div>
                                <ul class="konnect_info_content pt_0">
                                    <li class="content_3">
                                        <div class="big_number_box">
                                            <h1 class="big_number">1.</h1>
                                            <div>
                                                <p class="big_detail2 tx_white">
                                                    Select a Membership<br />
                                                    Subscription Type
                                                </p>
                                                <!-- <p class="big_sub_detail2">주간 미션 수행시마다 KCT를 추가 증정해요</p> -->
                                            </div>
                                        </div>
                                        <div class="konnect_info_img2">
                                            <img src="../img/temp/type_1_en.png" alt="type_1" />
                                        </div>
                                    </li>
                                    <li class="content_3">
                                        <div class="big_number_box">
                                            <h1 class="big_number">2.</h1>
                                            <div>
                                                <p class="big_detail2 tx_white">
                                                    Benefits of Saving Type
                                                </p>
                                                <p class="big_sub_detail2">
                                                    Bonus awarded for weekly mission completion.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="konnect_info_img2">
                                            <img src="../img/temp/type_2_en.png" alt="type_2" />
                                        </div>
                                    </li>
                                    <li class="content_3">
                                        <div class="big_number_box">
                                            <h1 class="big_number">3.</h1>
                                            <div>
                                                <p class="big_detail2 tx_white">
                                                    variety of benefits
                                                </p>
                                                <p class="big_sub_detail2">
                                                    Unlock a range of perks and benefits<br />
                                                    upon membership enrollment.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="konnect_info_img2">
                                            <img src="../img/temp/type_3_en.png" alt="type_3" />
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- 커넥트 인프라 안내 -->
                <section class="section">
                    <div class="section_in">
                        <div class="konnect_info">
                            <div class="konnect_info_top">
                                <div class="info_text_box">
                                    <h1 class="big_tit_2">INFRA</h1>
                                    <p class="big_detail2">
                                        The No.1 and No.3 companies in the duty-free
                                        distribution/inbound travel industry gather together!<br />
                                        We provide benefits through an infrastructure with annual
                                        sales of 6 trillion won
                                    </p>
                                </div>
                                <ul class="konnect_info_content w_1100">
                                    <li class="content_3">
                                        <div class="konnect_info_img">
                                            <img src="../img/temp/infra_1.png" alt="infra_1" />
                                        </div>
                                        <p class="sub_text">
                                            Total sales revenue of<br />
                                            konnect distribution
                                        </p>
                                    </li>
                                    <li class="content_3">
                                        <div class="konnect_info_img">
                                            <img src="../img/temp/infra_2.png" alt="infra_2" />
                                        </div>
                                        <p class="sub_text">Partner Brand</p>
                                    </li>
                                    <li class="content_3">
                                        <div class="konnect_info_img">
                                            <img src="../img/temp/infra_3.png" alt="infra_3" />
                                        </div>
                                        <p class="sub_text">B2B Buyer</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="national">
                                <img src="../img/temp/national.png" alt="national" />
                            </div>
                            <div class="infra_group">
                                <ul>
                                    <li class="infra_group_li">
                                        <a href="https://chain.link/" target="_blank">
                                            <img
                                                src="../img/temp/infra_chain.png"
                                                alt="infra_chain"
                                            />
                                            <p class="sub_sub_text semibold">CHAINLINK BUILD</p>
                                        </a>
                                    </li>
                                    <li class="infra_group_li">
                                        <a
                                            href="https://www.huobi.com/en-us/trade/kct_usdt"
                                            target="_blank"
                                        >
                                            <img
                                                src="../img/temp/infra_huobi.png"
                                                alt="infra_huobi"
                                            />
                                            <p class="sub_sub_text semibold">LISTED ON HUOBI</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- 커넥트 파트너사 안내 -->
                <section class="section bg_blue">
                    <div class="section_in">
                        <div class="konnect_info">
                            <div class="konnect_info_top pb_0">
                                <div class="info_text_box">
                                    <h1 class="big_tit_2 tx_white">ECOSYSTEM</h1>
                                </div>
                                <ul class="konnect_info_content">
                                    <li class="content_1">
                                        <img src="../img/temp/partner.png" alt="partner" />
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- 커넥트 nft 안내 -->
                <section class="section">
                    <div class="section_in">
                        <div class="konnect_info">
                            <div class="konnect_info_top pb_80">
                                <div class="info_text_box">
                                    <h1 class="big_tit_2">NFT</h1>
                                    <p class="big_detail2">
                                        Let's enjoy fun and rich benefits with Konnect NFT
                                    </p>
                                </div>
                                <ul class="konnect_info_content">
                                    <li class="content_3">
                                        <div class="konnect_info_img">
                                            <img src="../img/temp/nft_1.png" alt="nft_1" />
                                        </div>
                                        <h5 class="navy_text_28 pb_20">MEMBERSHIP NFT</h5>
                                        <p class="sub_sub_text">
                                            You can get more benefits by synthesizing<br />
                                            cards with NFTs provided to Konnect<br />
                                            Membership users
                                        </p>
                                    </li>
                                    <li class="content_3">
                                        <div class="konnect_info_img">
                                            <img src="../img/temp/nft_2.png" alt="nft_2" />
                                        </div>
                                        <h5 class="navy_text_28 pb_20">PFP NFT</h5>
                                        <p class="sub_sub_text">
                                            PFP NFTs are created based on the characters of<br />
                                            'Konnect World', the universe of Konnect It can be
                                            used<br />
                                            for profile pictures or certificates<br />
                                            <br />
                                            The benefits included are scheduled to open soon!
                                        </p>
                                    </li>
                                    <li class="content_3">
                                        <div class="konnect_info_img">
                                            <img src="../img/temp/nft_3.png" alt="nft_3" />
                                        </div>
                                        <h5 class="navy_text_28 pb_20">MYSTERY BOX NFT</h5>
                                        <p class="sub_sub_text">
                                            It's a limited edition random box NFT<br />
                                            You can buy it at a discount<br />
                                            through a voucher provided by Konnect Membership
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="market_link">
                                <button
                                    type="button"
                                    class="btn btn--md"
                                    onclick="location.href='https://market.konnect-world.com/'"
                                >
                                    GO TO KONNECT NFT MARKETPLACE
                                </button>
                                <p class="sub_sub_text">
                                    Visit Konnect's existing NFT Marketplace and take a look.
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
            <footer id="footer" class="footer main_footer">
                <div class="footer_in">
                    <div class="footer_left">
                        <div class="footer_left_top">
                            <div class="footer_logo">
                                <a href="../views/index_en.html">
                                    <img src="../img/logo_white.png" alt="logo_white" />
                                </a>
                            </div>
                            <div class="app_download">
                                <ul>
                                    <li class="app_down_link">
                                        <a
                                            href="https://bit.ly/kctios"
                                            target="_blank"
                                        >
                                            <img
                                                src="../img/temp/appstore_wh.png"
                                                alt="appstore_wh"
                                            />
                                        </a>
                                    </li>
                                    <li class="app_down_link">
                                        <a
                                            href="https://bit.ly/kctand"
                                            target="_blank"
                                        >
                                            <img
                                                src="../img/temp/googleplay_wh.png"
                                                alt="googleplay_wh"
                                            />
                                        </a>
                                    </li>
                                </ul>
                                <a href="https://d1mrs9xylgng0j.cloudfront.net/apk/konnect.apk" target="_blank">
                                    <p class="app_help">
                                        <i class="ic ic_notice"><img src="../img/svg/ic_notice_wh.svg" alt="ic_notice"/></i>
                                        Can't find konnect app in google store?
                                    </p>
                                </a>
                            </div>
                        </div>
                        <p class="copyright">© 2023. Konnect All rights reserved.</p>
                    </div>
                    <div class="footer_right">
                        <div class="footer_right_top">
                            <ul>
                                <li>
                                    <h3 class="footer_tit">Head</h3>
                                    <p class="footer_detail">
                                        CDF Switzerland GmbH - <b>Konnect</b><br />
                                        21 Banhhofstrasse 6300 Zug, Switzerland<br />
                                        contact@konnect.finance
                                    </p>
                                </li>
                                <li>
                                    <h3 class="footer_tit">Korea Branch</h3>
                                    <p class="footer_detail">
                                        씨디에프 스위치랜드 유한책임회사<br />
                                        (CDF Switzerland GmbH)<br />
                                        대표자 김주영 / 사업자등록번호 518-84-00025
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <p class="copyright"> A space where virtual and reality Connect</p>
                    </div>
                </div>
            </footer>
        </div>
        <div class="m_wrap">
            <header id="header" class="header main_header">
                <div class="header_wrap m_header_wrap">
                    <div class="header_center">
                        <a href="../views/index_en.html">
                            <div class="header_logo">
                                <img src="../img/main_logo.png" alt="" />
                            </div>
                        </a>
                    </div>
                    <div class="m_language">
                        <div class="language_status language_box">
                            <img src="../img/svg/global.svg" alt="global" />
                            <p class="language_text is-active">EN</p>
                        </div>
                        <ul class="language_list">
                            <li>
                                <a href="../views/index_ko.html">
                                    <p class="language_text">KR</p>
                                </a>
                            </li>
                            <li>
                                <a href="../views/index_en.html">
                                    <p class="language_text is-active">EN</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </header>
            <main id="content" class="main_content m_main_content">
                <section class="m_section_full main_img">
                    <!-- <img src="../img/m_main_banner.png"> -->
                    <video id="video_m" autoplay muted playsinline>
                        <source id="video_m_intro" src="../img/mobile_Intro.mp4" type="video/mp4" />
                        <source
                            id="video_m_loop"
                            src="../img/mobile_Looping.mp4"
                            type="video/mp4"
                        />
                    </video>
                </section>
                <section class="m_section_full m_sub_img">
                    <img src="../img/m_sub_banner.png" alt="m_sub_banner" />
                </section>
                <section class="m_section_full">
                    <div class="m_konnect_info_in_2">
                        <h1 class="blue_text_46">The era of web 3.0 buzz<br />and excitement</h1>
                    </div>
                </section>
                <!-- 이모지 배경화면 -->
                <section class="m_section_full">
                    <div class="m_konnect_info_in_2">
                        <h1></h1>
                        <div class="m_bg_face">
                            <img src="../img/temp/m_bg_face_en.png" alt="m_bg_face" />
                        </div>
                    </div>
                </section>
                <!-- 네이비컬러 배경화면 -->
                <section class="m_section_full">
                    <div class="bg_navy padding_box">
                        <h1 class="big_tit_wh">
                            Is there a way to connect<br />
                            the real-life infrastructure of web 2.0<br />
                            with the infinite possibilities of web 3.0?
                        </h1>
                    </div>
                </section>
                <!-- 라이트그레이컬러 배경화면 -->
                <section class="m_section_full">
                    <div class="m_konnect_info_in">
                        <div class="m_intro">
                            <img src="../img/temp/m_intro_en.png" alt="m_intro" />
                        </div>
                    </div>
                </section>
                <!-- 커넥트 서비스 안내 -->
                <section class="m_section_full">
                    <div class="m_konnect_info_in_2">
                        <div class="m_service">
                            <img src="../img/temp/m_service_en.png" alt="m_service" />
                        </div>
                    </div>
                </section>
                <!-- 커넥트 멤버쉽 안내 -->
                <section class="section bg_navy">
                    <div class="m_konnect_info">
                        <div class="m_konnect_info_in_3">
                            <div class="m_membership">
                                <img src="../img/temp/m_membership_en.png" alt="m_membership" />
                            </div>
                        </div>
                    </div>
                </section>
                <!-- 커넥트 인프라 안내 -->
                <section class="section">
                    <div class="m_konnect_info">
                        <div class="m_konnect_info_in_2">
                            <div class="konnect_info_top">
                                <div class="info_text_box">
                                    <h1 class="big_tit_2">INFRA</h1>
                                    <p class="big_detail2 minus_margin">
                                        The No.1 and No.3 companies in the duty-free<br />
                                        distribution/inbound travel industry gather<br />
                                        together! We provide benefits through an<br />
                                        infrastructure with annual sales of 6 trillion won
                                    </p>
                                </div>
                                <ul class="konnect_info_content">
                                    <li class="content_3">
                                        <div class="konnect_info_img">
                                            <img src="../img/temp/infra_1.png" alt="infra_1" />
                                        </div>
                                        <p class="sub_text minus_margin">
                                            Total sales<br />
                                            revenue of<br />
                                            konnect distribution
                                        </p>
                                    </li>
                                    <li class="content_3">
                                        <div class="konnect_info_img">
                                            <img src="../img/temp/infra_2.png" alt="infra_2" />
                                        </div>
                                        <p class="sub_text">Partner Brand</p>
                                    </li>
                                    <li class="content_3">
                                        <div class="konnect_info_img">
                                            <img src="../img/temp/infra_3.png" alt="infra_3" />
                                        </div>
                                        <p class="sub_text">B2B Buyer</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="national">
                                <img src="../img/temp/m_national.png" alt="national" />
                            </div>
                            <div class="infra_group">
                                <ul>
                                    <li class="infra_group_li">
                                        <a href="https://chain.link/" target="_blank">
                                            <img
                                                src="../img/temp/infra_chain.png"
                                                alt="infra_chain"
                                            />
                                            <p class="sub_sub_text bold">CHAINLINK BUILD</p>
                                        </a>
                                    </li>
                                    <li class="infra_group_li">
                                        <a
                                            href="https://www.huobi.com/en-us/trade/kct_usdt"
                                            target="_blank"
                                        >
                                            <img
                                                src="../img/temp/infra_huobi.png"
                                                alt="infra_huobi"
                                            />
                                            <p class="sub_sub_text bold">LISTED ON HUOBI</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- 커넥트 파트너사 안내 -->
                <section class="section bg_blue">
                    <div class="m_konnect_info">
                        <div class="m_konnect_info_in_3">
                            <div class="m_partner">
                                <img src="../img/temp/m_partner.png" alt="m_partner" />
                            </div>
                        </div>
                    </div>
                </section>
                <!-- 커넥트 nft 안내 -->
                <section class="section">
                    <div class="m_konnect_info">
                        <div class="m_konnect_info_in_2">
                            <div class="m_nft">
                                <img src="../img/temp/m_nft_en.png" alt="m_nft" />
                            </div>
                        </div>
                        <div class="market_link">
                            <button
                                type="button"
                                class="btn btn--md m_btn--md"
                                onclick="location.href='https://market.konnect-world.com/'"
                            >
                                GO TO KONNECT NFT MARKETPLACE
                            </button>
                        </div>
                    </div>
                </section>
            </main>
            <footer id="footer" class="footer main_footer">
                <div class="m_footer_in">
                    <div class="m_footer_top">
                        <div class="footer_logo">
                            <a href="../views/index_en.html">
                                <img src="../img/logo_white.png" alt="logo_white" />
                            </a>
                        </div>
                        <div class="main_sns">
                            <ul>
                                <li class="sns_icon">
                                    <a href="https://t.me/KonnectAnnouncements" target="_blank">
                                        <img
                                            src="../img/svg/sns_telegram_wh.svg"
                                            alt="sns_telegram"
                                        />
                                    </a>
                                </li>
                                <li class="sns_icon">
                                    <a
                                        href="https://twitter.com/KONNECT_KCT"
                                        target="_blank"
                                    >
                                        <img
                                            src="../img/svg/sns_twitter_wh.svg"
                                            alt="sns_twitter"
                                        />
                                    </a>
                                </li>
                                <li class="sns_icon">
                                    <a href="https://www.instagram.com/konnectkct/" target="_blank">
                                        <img
                                            src="../img/svg/sns_instagram_wh.svg"
                                            alt="sns_instagram"
                                        />
                                    </a>
                                </li>
                                <li class="sns_icon">
                                    <a href="https://medium.com/@KONNECT_KCT" target="_blank">
                                        <img src="../img/svg/sns_medium_wh.svg" alt="sns_medium" />
                                    </a>
                                </li>
                                <!-- <li class="sns_icon">
                                    <a href="https://pf.kakao.com/_yQxcNb" target="_blank">
                                        <img src="../img/svg/sns_kakao_wh.svg" alt="sns_kakao" />
                                    </a>
                                </li> -->
                                <li class="sns_icon">
                                    <a
                                        href="https://blog.naver.com/konnect_finance"
                                        target="_blank"
                                    >
                                        <img src="../img/svg/sns_blog_wh.svg" alt="sns_blog" />
                                    </a>
                                </li>
                                <li class="sns_icon">
                                    <a href="https://discord.com/invite/konnect" target="_blank">
                                        <img
                                            src="../img/svg/sns_discord_wh.svg"
                                            alt="sns_discord"
                                        />
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="app_download">
                            <ul>
                                <li class="app_down_link">
                                    <a
                                        href="https://bit.ly/kctios"
                                        target="_blank"
                                    >
                                        <img
                                            src="../img/temp/appstore_wh.png"
                                            alt="appstore_wh"
                                        />
                                    </a>
                                </li>
                                <li class="app_down_link">
                                    <a
                                        href="https://bit.ly/kctand"
                                        target="_blank"
                                    >
                                        <img
                                            src="../img/temp/googleplay_wh.png"
                                            alt="googleplay_wh"
                                        />
                                    </a>
                                </li>
                            </ul>
                            <a href="https://d1mrs9xylgng0j.cloudfront.net/apk/konnect.apk" target="_blank">
                                <p class="app_help">
                                    <i class="ic ic_notice"><img src="../img/svg/ic_notice_wh.svg" alt="ic_notice"/></i>
                                    Can't find konnect app in google store?
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="m_footer_bottom">
                        <ul>
                            <li>
                                <h3 class="footer_tit">Head</h3>
                                <p class="footer_detail">
                                    CDF Switzerland GmbH - <b>Konnect</b><br />
                                    21 Banhhofstrasse 6300 Zug, Switzerland<br />
                                    contact@konnect.finance
                                </p>
                            </li>
                            <li>
                                <h3 class="footer_tit">Korea Branch</h3>
                                <p class="footer_detail">
                                    씨디에프 스위치랜드 유한책임회사<br />
                                    (CDF Switzerland GmbH)<br />
                                    대표자 김주영 / 사업자등록번호 518-84-00025
                                </p>
                            </li>
                        </ul>
                        <p class="copyright">© Copyright 2023 KCT All right are reserved.</p>
                        <p class="copyright">
                            A space where virtual and reality
                            connect&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;©2023 Konnect
                        </p>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var video = document.getElementById('video');
        var introSource = document.getElementById('video_intro');
        var loopSource = document.getElementById('video_loop');

        video.addEventListener('ended', function () {
            introSource.removeEventListener('ended', replayIntro);
            video.src = loopSource.src;
            video.loop = true;
            video.play();
        });

        function replayIntro() {
            introSource.play();
        }

        introSource.addEventListener('ended', replayIntro);

        var video_m = document.getElementById('video_m');
        var introSource_m = document.getElementById('video_m_intro');
        var loopSource_m = document.getElementById('video_m_loop');

        video_m.addEventListener('ended', function () {
            introSource_m.removeEventListener('ended', replayIntro);
            video_m.src = loopSource_m.src;
            video_m.loop = true;
            video_m.play();
        });

        function replayIntro() {
            introSource_m.play();
        }

        introSource_m.addEventListener('ended', replayIntro);
    });
</script>
