<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no"
        />
        <meta name="format-detection" content="telephone=no" />

        <title>Konnect World</title>

        <!-- meta tag -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"> 
        <meta property="image" content="https://s3.ap-northeast-2.amazonaws.com/asset.konnect-world.com/images/share.png">
        <meta name="title" content="Konnect World">
        <meta name="description" content="Connect virtual and reality. Meet the real benefits through the story of Konnect World and NFTs from Konnect.">
        <meta name="keywords" content="Konnect World, Konnect, Konnectworld, KCT, kct, konnectkct, NFT, nft, Duman, DUMAN, 듀먼, 커넥트, 커넥트 월드">
        <meta name="robots" content="index, follow">
        <meta name="language" content="English">
        <meta name="revisit-after" content="1 days">
        <meta name="author" content="KCT-Konnect">
        <!-- // meta tag -->

        <!-- Open Graph -->
        <meta property="og:locale" content="us_EN">
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="Konnect World">
        <meta property="og:title" content="Konnect World">
        <meta property="og:description" content="Connect virtual and reality. Meet the real benefits through the story of Konnect World and NFTs from Konnect.">
        <meta property="og:url" content="https://konnect-world.com">
        <meta property="og:image" content="https://s3.ap-northeast-2.amazonaws.com/asset.konnect-world.com/images/share.png">
        <meta property="og:image:alt" content="Konnect World"><meta property="og:image:width" content="650">
        <meta property="og:image:height" content="650"><meta name="twitter:card" content="summary">
        
        <meta property="og:url" content="https://konnect-world.com/invitation">
        <meta property="og:title" content="Konnect Membership">
        <meta property="og:description" content="당신의 라이프스타일에 딱 맞는 멤버십 (Perfect Fit Your Lifestyle Membership)">
        <meta property="og:image" content="https://s3.ap-northeast-2.amazonaws.com/asset.konnect-world.com/images/invitation_banner.png">
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://konnect-world.com/invitation">
        <meta property="twitter:title" content="Konnect Membership">
        <meta property="twitter:description" content="당신의 라이프스타일에 딱 맞는 멤버십 (Perfect Fit Your Lifestyle Membership)">
        <meta property="twitter:image" content="https://s3.ap-northeast-2.amazonaws.com/asset.konnect-world.com/images/invitation_banner.png">
        <meta property="og:type" content="website"><meta property="og:url" content="https://konnect-world.com/invitation">
        <meta property="og:title" content="Konnect Membership">
        <meta property="og:description" content="당신의 라이프스타일에 딱 맞는 멤버십 (Perfect Fit Your Lifestyle Membership)">
        <meta property="og:image" content="https://s3.ap-northeast-2.amazonaws.com/asset.konnect-world.com/images/invitation_banner.png">

        <meta name="twitter:title" content="Konnect World"><meta name="twitter:site" content="@KONNECT_KCT">
        <meta name="twitter:description" content="Connect virtual and reality. Meet the real benefits through the story of Konnect World and NFTs from Konnect.">
        <meta name="twitter:image" content="https://s3.ap-northeast-2.amazonaws.com/asset.konnect-world.com/images/share.png">
        <meta name="twitter:image:alt" content="Konnect World"><meta property="og:type" content="website">

        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
        <!-- Open Graph -->

        <!-- Icon & Favicon -->  
        <link rel="apple-touch-icon" sizes="180x180" href="../img/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon/favicon-16x16.png">
        <link rel="manifest" href="../img/favicon/site.webmanifest">
        <link rel="mask-icon" href="../img/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <!-- // Icon & Favicon -->

        <link rel="stylesheet" href="../css/common.css" />


    </head>

    <body class="body_bg">
        <div class="wrap">
            <!-- HEADER start -->
            <header id="header" class="header main_header">
                <div class="header_wrap">
                    <div class="header_logo">
                        <a href="../views/index_ko.html">
                            <div class="header_logo">
                                <img src="../img/main_logo.png" alt="" />
                            </div>
                        </a>
                    </div>
                    <div class="header_right">
                        <div class="language">
                            <div class="language_status language_box">
                                <img src="../img/svg/global.svg" alt="global">
                                <p class="language_text is-active">KR</p>
                            </div>
                            <ul class="language_list">
                                <li>
                                    <a href="../views/index_ko.html">
                                        <p class="language_text is-active">KR</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="../views/index_en.html">
                                        <p class="language_text">EN</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER end -->


            <!-- MAIN start -->
            <main id="main" class="main_content">
                <!-- 메인 동영상 --> 
                <section class="section main_img">
                    <!-- <img src="../img/m_main_banner.png"> -->
                    <video id="video_m" autoplay muted playsinline>
                        <!-- <source id="video_m_intro" src="../video/mobile_Intro.mp4" type="video/mp4" /> -->
                        <source
                            id="video_m_loop"
                            src="../video/mobile_Looping.mp4"
                            type="video/mp4"
                        />
                    </video>
                </section>
                <!-- konnect info start -->
                <section class="section">
                    <div class="content konnect_info_box p_side_28">
                        <ul class="info_box">
                            <li class="info_box_list">
                                <div class="info_box_top">
                                    <div class="text_img">
                                        <img src="../img/temp/text_img1.png" alt="text_img1" />
                                    </div>
                                </div>
                                <div class="info_box_bottom">
                                    <div>
                                        <p class="semibold ko">커넥트가 제안하는 Web3 최초의 실생활 혜택</p>
                                        <p class="bold pt_16 ko">Discount Rate</p>
                                        <p class="medium pt_6 ko">뷰티&스파 10%<br/>
                                            면세점 30%<br/>
                                            호텔 15%<br/>
                                            의료 25%<br/>
                                            교통 5%</p>
                                    </div>
                                    <div class="info_box_img po_absolute">
                                        <img src="../img/temp/info_box_img1.png" alt="info_box_img1" />
                                    </div>
                                </div>
                            </li>
                            <li class="info_box_list">
                                <div class="info_box_top">
                                    <h2 class="en">
                                        Curation<br/>
                                        Membership
                                    </h2>
                                </div>
                                <div class="info_box_bottom">
                                    <div>
                                        <p class="ko">
                                            내 라이프스타일에 꼭 맞는 혜택을 담은<br/>
                                            큐레이션 멤버십과 더 많은 혜택을 누릴 수 있게<br/>
                                            해주는 유저 인센티브
                                        </p>
                                    </div>
                                    <div class="info_box_img">
                                        <img src="../img/temp/service_list.png" alt="service_list" />
                                    </div>
                                </div>
                            </li>
                            <li class="info_box_list">
                                <div class="info_box_top">
                                    <h2 class="en">
                                        Collaboration<br/>
                                        Membership
                                    </h2>
                                </div>
                                <div class="info_box_bottom">
                                    <div>
                                        <p class="ko">
                                            고객 충성도를 높여줄 브랜드별 특화 멤버십과<br/>
                                            유명 인플루언서와 함께 만드는<br/>
                                            콜라보 멤버십까지
                                        </p>
                                    </div>
                                    <div class="info_box_img">
                                        <img src="../img/temp/collabo_list.png" alt="collabo_list" />
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="konnect_info">
                            <div class="konnect_main_img">
                                <img src="../img/temp/konnect_main.png" alt="konnect_main"/>
                            </div>
                            <h5 class="tx_center ko">
                                Web3의 가능성과 Web2의 혜택이 만나<br/>
                                전 세계 어디서나 한 번의 로그인으로<br/>
                                다양한 실생활 혜택을 누리는<br/>
                                <b>Real World Benefit 멤버십의 시작</b>
                            </h5>
                            <div class="btn_box">
                                <button type="button" class="btn btn_full btn_primary_stroke">제휴처 및 혜택보기</button>
                                <button type="button" class="btn btn_full btn_primary">멤버십 제휴 신청</button>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- membership info start -->
                <section class="section">
                    <div class="content membership_info_box p_side_28">
                        <div class="tit_box">
                            <h2 class="tx_center extrabold en">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2023<br/>
                                Launch Membership
                            </h2>
                            <p class="ko">
                                2023년도에 출시한 커넥트와 파트너사들의<br/>
                                다양한 혜택이 담긴 멤버십들을 소개할게요
                            </p>
                        </div>
                        <ul class="membership_list_box pt_40">
                            <li class="membership_list">
                                <div class="membership_img">
                                    <img src="../img/temp/flex_membership.png" alt="flex_membership"/>
                                </div>
                               <div class="membership_info_detail">
                                    <div class="membership_logo">
                                        <img src="../img/main_logo.png" alt="main_logo"/>
                                    </div>
                                    <div class="membership_name">
                                        <h4 class="bold en">FLEX MEMBERSHIP</h4>
                                        <p class="detail_text">GOLD / BLUE</p>
                                    </div>
                                    <div class="membership_detail ko">
                                        <p>커넥트와 수많은 파트너사의 다양한<br/>
                                            혜택을 담아 출시한 첫 번째 멤버십
                                        </p>
                                    </div>
                               </div>
                            </li>
                            <li class="membership_list">
                                <div class="membership_img">
                                    <img src="../img/temp/gateio_membership.png" alt="gateio_membership"/>
                                </div>
                               <div class="membership_info_detail">
                                    <div class="membership_logo">
                                        <img src="../img/temp/gateio_logo.png" alt="gateio_logo"/>
                                    </div>
                                    <div class="membership_name">
                                        <h4 class="bold en">Gate.io MEMBERSHIP</h4>
                                        <p class="detail_text">VVIP / VIP</p>
                                    </div>
                                    <div class="membership_detail ko">
                                        <p>Gate.io와 Konnect의 파트너십을 통해<br/>
                                            양사의 VIP에게 지급되는 멤버십
                                        </p>  
                                    </div>
                               </div>
                            </li>
                            <li class="membership_list">
                                <div class="membership_img">
                                    <img src="../img/temp/kn_membership.png" alt="kn_membership"/>
                                </div>
                               <div class="membership_info_detail">
                                    <div class="membership_logo">
                                        <img src="../img/temp/tron_logo.png" alt="tron_logo"/>
                                        <img src="../img/temp/htx_logo.png" alt="htx_logo"/>
                                    </div>
                                    <div class="membership_name">
                                        <h4 class="bold en">Konnect Night MEMBERSHIP</h4>
                                        <p class="detail_text">VVIP / VIP / BLUE</p>
                                    </div>
                                    <div class="membership_detail ko">
                                        <p>2023 커넥트 나이트를 기념해 TRON×Huobi의<br/>
                                            VIP와 고객들을 위한 혜택을 담은 멤버십
                                        </p>
                                    </div>
                               </div>
                            </li>
                            <li class="membership_list">
                                <div class="membership_img">
                                    <img src="../img/temp/poonam_membership.png" alt="kn_membership"/>
                                </div>
                               <div class="membership_info_detail">
                                    <p class="membership_logo_name">YOUTUBER POONAM</p>
                                    <div class="membership_name">
                                        <h4 class="bold en">POONAM MEMBERSHIP</h4>
                                        <p class="detail_text">GOLD / BLUE</p>
                                    </div>
                                    <div class="membership_detail ko">
                                        <p>
                                            유튜버 Poonam의 라이프스타일에 맞춘 풍성한<br/>
                                            혜택을 팬들과 함께 누릴 수 있도록 만들어진 멤버십
                                        </p>
                                    </div>
                               </div>
                            </li>
                        </ul>
                        <div class="closed"></div>
                    </div>
                </section>



                <!-- 영상 들어가는 영역 -->
                <div class="section">
                    <div class="content scrolltrigger_2">
                        <div class="content_tit_box tx_center">
                            <h1>해당 영역의 타이틀이 들어갑니다.</h1>
                            <p>해당 영역의 상세내용이 들어갑니다.</p>
                        </div>
                        <div class="content_video">
                            <button class="video_button active">Pause</button>
                            <video  id="video" loop muted playsinline autoplay preload="auto" disableremoteplayback>
                                <source src="../video/mobile_Intro.mp4" type="video/mp4" />
                            </video>
                        </div>	
                    </div>
                </div> 

                <div class="section">
                    <div class="content p_side_28">
                        <div class="content_tit_box tx_center">
                            <h1>FAQs</h1>
                        </div>
                        <ul class="faq_list">
                            <li class="faq_list_box">
                                <div class="faq_list_tit">
                                    <p class="faq_text">
                                        자주 찾는 질문이 작성됩니다.
                                    </p>
                                    <i class="ic ic_close_m_bk"></i>
                                </div>
                                <div class="faq_list_detail">
                                    <p class="faq_text">
                                        자주 찾는 질문의 답변이 작성됩니다.
                                    </p>
                                </div>
                            </li>
                            <li class="faq_list_box">
                                <div class="faq_list_tit">
                                    <p class="faq_text">
                                        자주 찾는 질문이 작성됩니다.
                                        자주 찾는 질문이 작성됩니다.
                                        자주 찾는 질문이 작성됩니다.
                                    </p>
                                    <i class="ic ic_close_m_bk"></i>
                                </div>
                                <div class="faq_list_detail">
                                    <p class="faq_text">
                                        자주 찾는 질문의 답변이 작성됩니다.
                                        자주 찾는 질문의 답변이 작성됩니다.
                                        자주 찾는 질문의 답변이 작성됩니다.
                                        자주 찾는 질문의 답변이 작성됩니다.
                                        자주 찾는 질문의 답변이 작성됩니다.
                                    </p>
                                </div>
                            </li>
                            <li class="faq_list_box">
                                <div class="faq_list_tit">
                                    <p class="faq_text">
                                        자주 찾는 질문이 작성됩니다.
                                    </p>
                                    <i class="ic ic_close_m_bk"></i>
                                </div>
                                <div class="faq_list_detail">
                                    <p class="faq_text">
                                        자주 찾는 질문의 답변이 작성됩니다.
                                        자주 찾는 질문의 답변이 작성됩니다.
                                        자주 찾는 질문의 답변이 작성됩니다.
                                        자주 찾는 질문의 답변이 작성됩니다.
                                        자주 찾는 질문의 답변이 작성됩니다.
                                    </p>
                                </div>
                            </li>
                            <li class="faq_list_box">
                                <div class="faq_list_tit">
                                    <p class="faq_text">자주 찾는 질문이 작성됩니다.
                                    </p>
                                    <i class="ic ic_close_m_bk"></i>
                                </div>
                                <div class="faq_list_detail">
                                    <p class="faq_text">
                                        자주 찾는 질문의 답변이 작성됩니다.
                                        자주 찾는 질문의 답변이 작성됩니다.
                                        자주 찾는 질문의 답변이 작성됩니다.
                                        자주 찾는 질문의 답변이 작성됩니다.
                                        자주 찾는 질문의 답변이 작성됩니다.
                                    </p>
                                </div>
                            </li>
                            <li class="faq_list_box">
                                <div class="faq_list_tit">
                                    <p class="faq_text">자주 찾는 질문이 작성됩니다.
                                    </p>
                                    <i class="ic ic_close_m_bk"></i>
                                </div>
                                <div class="faq_list_detail">
                                    <p class="faq_text">
                                        자주 찾는 질문의 답변이 작성됩니다.
                                        자주 찾는 질문의 답변이 작성됩니다.
                                        자주 찾는 질문의 답변이 작성됩니다.
                                        자주 찾는 질문의 답변이 작성됩니다.
                                        자주 찾는 질문의 답변이 작성됩니다.
                                    </p>
                                </div>
                            </li>
                            <li class="faq_list_box">
                                <div class="faq_list_tit">
                                    <p class="faq_text">자주 찾는 질문이 작성됩니다.
                                    </p>
                                    <i class="ic ic_close_m_bk"></i>
                                </div>
                                <div class="faq_list_detail">
                                    <p class="faq_text">
                                        자주 찾는 질문의 답변이 작성됩니다.
                                        자주 찾는 질문의 답변이 작성됩니다.
                                        자주 찾는 질문의 답변이 작성됩니다.
                                        자주 찾는 질문의 답변이 작성됩니다.
                                        자주 찾는 질문의 답변이 작성됩니다.
                                    </p>
                                </div>
                            </li>
                            <li class="faq_list_box">
                                <div class="faq_list_tit">
                                    <p class="faq_text">자주 찾는 질문이 작성됩니다.
                                    </p>
                                    <i class="ic ic_close_m_bk"></i>
                                </div>
                                <div class="faq_list_detail">
                                    <p class="faq_text">
                                        자주 찾는 질문의 답변이 작성됩니다.
                                        자주 찾는 질문의 답변이 작성됩니다.
                                        자주 찾는 질문의 답변이 작성됩니다.
                                        자주 찾는 질문의 답변이 작성됩니다.
                                        자주 찾는 질문의 답변이 작성됩니다.
                                    </p>
                                </div>
                            </li>
                            <li class="faq_list_box">
                                <div class="faq_list_tit">
                                    <p class="faq_text">자주 찾는 질문이 작성됩니다.
                                    </p>
                                    <i class="ic ic_arrow_m_thin"></i>
                                </div>
                                <div class="faq_list_detail">
                                    <p class="faq_text">
                                        자주 찾는 질문의 답변이 작성됩니다.
                                        자주 찾는 질문의 답변이 작성됩니다.
                                        자주 찾는 질문의 답변이 작성됩니다.
                                        자주 찾는 질문의 답변이 작성됩니다.
                                        자주 찾는 질문의 답변이 작성됩니다.
                                    </p>
                                </div>
                            </li>
                            <li class="faq_list_box">
                                <div class="faq_list_tit">
                                    <p class="faq_text">자주 찾는 질문이 작성됩니다.
                                    </p>
                                    <i class="ic ic_close_m_bk"></i>
                                </div>
                                <div class="faq_list_detail">
                                    <p class="faq_text">
                                        자주 찾는 질문의 답변이 작성됩니다.
                                        자주 찾는 질문의 답변이 작성됩니다.
                                        자주 찾는 질문의 답변이 작성됩니다.
                                        자주 찾는 질문의 답변이 작성됩니다.
                                        자주 찾는 질문의 답변이 작성됩니다.
                                    </p>
                                </div>
                            </li>
                            <li class="faq_list_box">
                                <div class="faq_list_tit">
                                    <p class="faq_text">자주 찾는 질문이 작성됩니다.
                                    </p>
                                    <i class="ic ic_close_m_bk"></i>
                                </div>
                                <div class="faq_list_detail">
                                    <p class="faq_text">
                                        자주 찾는 질문의 답변이 작성됩니다.
                                        자주 찾는 질문의 답변이 작성됩니다.
                                        자주 찾는 질문의 답변이 작성됩니다.
                                        자주 찾는 질문의 답변이 작성됩니다.
                                        자주 찾는 질문의 답변이 작성됩니다.
                                    </p>
                                </div>
                            </li>
                            <li class="faq_list_box">
                                <div class="faq_list_tit">
                                    <p class="faq_text">자주 찾는 질문이 작성됩니다.
                                    </p>
                                    <i class="ic ic_close_m_bk"></i>
                                </div>
                                <div class="faq_list_detail">
                                    <p class="faq_text">
                                        자주 찾는 질문의 답변이 작성됩니다.
                                        자주 찾는 질문의 답변이 작성됩니다.
                                        자주 찾는 질문의 답변이 작성됩니다.
                                        자주 찾는 질문의 답변이 작성됩니다.
                                        자주 찾는 질문의 답변이 작성됩니다.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                
            </main>
            <!-- MAIN end -->

            <!-- FOOTER start -->
            <footer id="footer" class="footer main_footer">
                <div class="footer_in">
                    <div class="footer_top">
                        <div class="footer_logo">
                            <a href="../views/index_en.html">
                                <img src="../imglogo_white.png" alt="logo_white" />
                            </a>
                        </div>
                        <div class="main_sns">
                            <ul>
                                <li class="sns_icon">
                                    <a href="https://t.me/KonnectAnnouncements" target="_blank">
                                        <img
                                            src="../img/svg/sns_telegram_wh.svg"
                                            alt="sns_telegram"
                                        />
                                    </a>
                                </li>
                                <li class="sns_icon">
                                    <a
                                        href="https://twitter.com/KONNECT_KCT"
                                        target="_blank"
                                    >
                                        <img
                                            src="../img/svg/sns_twitter_wh2.svg"
                                            alt="sns_twitter"
                                        />
                                    </a>
                                </li>
                                <li class="sns_icon">
                                    <a href="https://www.instagram.com/konnectkct/" target="_blank">
                                        <img
                                            src="../img/svg/sns_instagram_wh.svg"
                                            alt="sns_instagram"
                                        />
                                    </a>
                                </li>
                                <li class="sns_icon">
                                    <a href="https://medium.com/@KONNECT_KCT" target="_blank">
                                        <img src="../img/svg/sns_medium_wh.svg" alt="sns_medium" />
                                    </a>
                                </li>
                                <!-- <li class="sns_icon">
                                    <a href="https://pf.kakao.com/_yQxcNb" target="_blank">
                                        <img src="../img/svg/sns_kakao_wh.svg" alt="sns_kakao" />
                                    </a>
                                </li> -->
                                <li class="sns_icon">
                                    <a
                                        href="https://blog.naver.com/konnect_finance"
                                        target="_blank"
                                    >
                                        <img src="../img/svg/sns_blog_wh.svg" alt="sns_blog" />
                                    </a>
                                </li>
                                <li class="sns_icon">
                                    <a href="https://discord.com/invite/konnect" target="_blank">
                                        <img
                                            src="../img/svg/sns_discord_wh.svg"
                                            alt="sns_discord"
                                        />
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="app_download">
                            <ul>
                                <li class="app_down_link">
                                    <a
                                        href="https://bit.ly/kctios"
                                        target="_blank"
                                    >
                                        <img
                                            src="../img/temp/appstore_wh.png"
                                            alt="appstore_wh"
                                        />
                                    </a>
                                </li>
                                <li class="app_down_link">
                                    <a
                                        href="https://bit.ly/kctand"
                                        target="_blank"
                                    >
                                        <img
                                            src="../img/temp/googleplay_wh.png"
                                            alt="googleplay_wh"
                                        />
                                    </a>
                                </li>
                            </ul>
                            <a href="https://d1mrs9xylgng0j.cloudfront.net/apk/konnect.apk" target="_blank">
                                <p class="app_help">
                                    <i class="ic ic_notice"><img src="../img/svg/ic_notice_wh.svg" alt="ic_notice"/></i>
                                    Can't find konnect app in google store?
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="footer_bottom">
                        <ul>
                            <li>
                                <h3 class="footer_tit">Head</h3>
                                <p class="footer_detail">
                                    CDF Switzerland GmbH - <b>Konnect</b><br />
                                    21 Banhhofstrasse 6300 Zug, Switzerland<br />
                                    contact@konnect.finance
                                </p>
                            </li>
                            <li>
                                <h3 class="footer_tit">Korea Branch</h3>
                                <p class="footer_detail">
                                    씨디에프 스위치랜드 유한책임회사<br />
                                    (CDF Switzerland GmbH)<br />
                                    대표자 김주영 / 사업자등록번호 518-84-00025
                                </p>
                            </li>
                        </ul>
                        <p class="copyright">© Copyright 2023 KCT All right are reserved.</p>
                        <p class="copyright">
                            A space where virtual and reality
                            connect&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;©2023 Konnect
                        </p>
                    </div>
                </div>
            </footer>
            <!-- FOOTER end -->
        </div>

    </body>
</html>


<!-- //js script -->
<script src="../js/libs/jquery-3.6.0.min.js"></script>
<script src="../js/libs/swiper.min.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript"> 

    //video play&pause 버튼
    $(document).ready(function () {
        var ctrlVideo = document.getElementById("video");

            $('.video_button').click(function () {
            if (ctrlVideo.paused) {
            ctrlVideo.play();
            $('.video_button').html("Pause");
            } else {
            ctrlVideo.pause();
            $('.video_button').html("Play");
            }
        });
    });





</script>

<!-- //js script -->