 <!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no"
        />
        <meta name="format-detection" content="telephone=no" />

        <title>Konnect World</title>

        <!-- meta tag -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"> 
        <meta property="image" content="https://s3.ap-northeast-2.amazonaws.com/asset.konnect-world.com/images/share.png">
        <meta name="title" content="Konnect World">
        <meta name="description" content="Connect virtual and reality. Meet the real benefits through the story of Konnect World and NFTs from Konnect.">
        <meta name="keywords" content="Konnect World, Konnect, Konnectworld, KCT, kct, konnectkct, NFT, nft, Duman, DUMAN, 듀먼, 커넥트, 커넥트 월드">
        <meta name="robots" content="index, follow">
        <meta name="language" content="English">
        <meta name="revisit-after" content="1 days">
        <meta name="author" content="KCT-Konnect">
        <!-- // meta tag -->

        <!-- Open Graph -->
        <meta property="og:locale" content="us_EN">
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="Konnect World">
        <meta property="og:title" content="Konnect World">
        <meta property="og:description" content="Connect virtual and reality. Meet the real benefits through the story of Konnect World and NFTs from Konnect.">
        <meta property="og:url" content="https://konnect-world.com">
        <meta property="og:image" content="https://s3.ap-northeast-2.amazonaws.com/asset.konnect-world.com/images/share.png">
        <meta property="og:image:alt" content="Konnect World"><meta property="og:image:width" content="650">
        <meta property="og:image:height" content="650"><meta name="twitter:card" content="summary">
        
        <meta property="og:url" content="https://konnect-world.com/invitation">
        <meta property="og:title" content="Konnect Membership">
        <meta property="og:description" content="당신의 라이프스타일에 딱 맞는 멤버십 (Perfect Fit Your Lifestyle Membership)">
        <meta property="og:image" content="https://s3.ap-northeast-2.amazonaws.com/asset.konnect-world.com/images/invitation_banner.png">
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://konnect-world.com/invitation">
        <meta property="twitter:title" content="Konnect Membership">
        <meta property="twitter:description" content="당신의 라이프스타일에 딱 맞는 멤버십 (Perfect Fit Your Lifestyle Membership)">
        <meta property="twitter:image" content="https://s3.ap-northeast-2.amazonaws.com/asset.konnect-world.com/images/invitation_banner.png">
        <meta property="og:type" content="website"><meta property="og:url" content="https://konnect-world.com/invitation">
        <meta property="og:title" content="Konnect Membership">
        <meta property="og:description" content="당신의 라이프스타일에 딱 맞는 멤버십 (Perfect Fit Your Lifestyle Membership)">
        <meta property="og:image" content="https://s3.ap-northeast-2.amazonaws.com/asset.konnect-world.com/images/invitation_banner.png">

        <meta name="twitter:title" content="Konnect World"><meta name="twitter:site" content="@KONNECT_KCT">
        <meta name="twitter:description" content="Connect virtual and reality. Meet the real benefits through the story of Konnect World and NFTs from Konnect.">
        <meta name="twitter:image" content="https://s3.ap-northeast-2.amazonaws.com/asset.konnect-world.com/images/share.png">
        <meta name="twitter:image:alt" content="Konnect World"><meta property="og:type" content="website">

        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
        <!-- Open Graph -->

        <!-- Icon & Favicon -->  
        <link rel="apple-touch-icon" sizes="180x180" href="../img/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon/favicon-16x16.png">
        <link rel="manifest" href="../img/favicon/site.webmanifest">
        <link rel="mask-icon" href="../img/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <!-- // Icon & Favicon -->

        <link rel="stylesheet" href="../css/common.css" />


    </head>

    <body class="body_bg">
        <div class="wrap">
            <!-- HEADER start -->
            <header id="header" class="header main_header">
                <div class="header_wrap">
                    <div class="header_logo">
                        <a href="../views/home_ko.html">
                            <div class="header_logo">
                                <img src="../img/main_logo.png" alt="" />
                            </div>
                        </a>
                    </div>
                    <div class="header_right">
                        <div class="language">
                            <div class="language_status language_box">
                                <img src="../img/svg/global.svg" alt="global">
                                <p class="language_text is-active">KR</p>
                            </div>
                            <ul class="language_list">
                                <li>
                                    <a href="../views/home_ko.html">
                                        <p class="language_text is-active">KR</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="../views/home_en.html">
                                        <p class="language_text">EN</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER end -->


            <!-- MAIN start -->
            <main id="main" class="main_content">
                <!-- 메인 동영상 --> 
                <section class="section main_img">
                    <!-- <img src="../img/m_main_banner.png"> -->
                    <video id="video" autoplay muted playsinline>
                        <source id="video_intro" src="../video/mobile_Intro.mp4" type="video/mp4" />
                        <source
                            id="video_loop"
                            src="../video/mobile_Looping.mp4"
                            type="video/mp4"
                        />
                    </video>
                </section>
                <!-- konnect info start -->
                <section class="section">
                    <div class="content konnect_info_box p_side_28">
                        <ul class="info_box">
                            <li class="info_box_list info_box_list2">
                                <div class="info_box_top">
                                    <div class="text_img">
                                        <img src="../img/temp/text_img1.png" alt="text_img1" />
                                    </div>
                                </div>
                                <div class="info_box_bottom">
                                    <div>
                                        <h5 class="bold ko">커넥트가 제안하는<br/>Web3 최초의 실생활 혜택</h5>
                                        <h3 class="pt_16 en">Discount Rate</h3>
                                        <h5 class="semibold pt_10 ko">뷰티&스파 10%<br/>
                                            면세점 30%<br/>
                                            호텔 15%<br/>
                                            의료 25%<br/>
                                            교통 5%</h5>
                                    </div>
                                    <div class="info_box_img">
                                        <img src="../img/temp/info_box_img1.png" alt="info_box_img1" />
                                    </div>
                                </div>
                            </li>
                            <li class="info_box_list">
                                <div class="info_box_top">
                                    <h2 class="en">
                                        Curation<br/>
                                        Membership
                                    </h2>
                                </div>
                                <div class="info_box_bottom">
                                    <div>
                                        <p class="ko responsive">
                                            내 라이프스타일에 꼭 맞는 혜택을 담은<br/>
                                            큐레이션 멤버십과 더 많은 혜택을 누릴 수 있게<br/>
                                            해주는 유저 인센티브
                                        </p>
                                    </div>
                                    <div class="info_box_img">
                                        <img src="../img/temp/service_list.png" alt="service_list" />
                                    </div>
                                </div>
                            </li>
                            <li class="info_box_list">
                                <div class="info_box_top">
                                    <h2 class="en">
                                        Collaboration<br/>
                                        Membership
                                    </h2>
                                </div>
                                <div class="info_box_bottom">
                                    <div>
                                        <p class="ko responsive">
                                            고객 충성도를 높여줄 브랜드별 특화 멤버십과<br/>
                                            유명 인플루언서와 함께 만드는<br/>
                                            콜라보 멤버십까지
                                        </p>
                                    </div>
                                    <div class="info_box_img">
                                        <img src="../img/temp/collabo_list.png" alt="collabo_list" />
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="konnect_info">
                            <div class="konnect_main_img">
                                <img src="../img/temp/konnect_main.png" alt="konnect_main"/>
                            </div>
                            <h5 class="tx_center ko">
                                Web3의 가능성과 Web2의 혜택이 만나<br/>
                                전 세계 어디서나 한 번의 로그인으로<br/>
                                다양한 실생활 혜택을 누리는<br/>
                                <b>Real World Benefit 멤버십의 시작</b>
                            </h5>
                            <div class="btn_box">
                                <button type="button" class="btn btn_full btn_primary_stroke" onclick="location.href='../membership/benefit_rwb.html'">제휴처 및 혜택보기</button>
                                <button type="button" class="btn btn_full btn_primary" onclick="location.href='../partnership/application_partnership.html'">멤버십 제휴 신청</button>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- membership info start -->
                <section class="section">
                    <div class="content membership_list_box tx_center p_side_28">
                        <div class="tit_box">
                            <img class="text_logo" src="../img/temp/konnect_text_logo.png" alt="konnect_text_logo"/>
                            <h2 class="tx_center extrabold en">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2023<br/>
                                Launch Membership
                            </h2>
                            <p class="ko">
                                2023년도에 출시한 커넥트와 파트너사들의<br/>
                                다양한 혜택이 담긴 멤버십들을 소개할게요
                            </p>
                        </div>

                        <!-- membership list swiper start -->
                        <div class="swiper membership_list_swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <li class="membership_list">
                                        <div class="membership_img">
                                            <img src="../img/temp/membership_blue.png" alt="membership_blue"/>
                                        </div>
                                       <div class="membership_info_detail">
                                            <div class="membership_logo">
                                                <img src="../img/main_logo.png" alt="main_logo"/>
                                            </div>
                                            <div class="membership_name">
                                                <h4 class="bold en">FLEX MEMBERSHIP</h4>
                                                <p class="detail_text">GOLD / BLUE</p>
                                            </div>
                                            <div class="ko">
                                                <p>커넥트와 수많은 파트너사의 다양한<br/>
                                                    혜택을 담아 출시한 첫 번째 멤버십
                                                </p>
                                            </div>
                                       </div>
                                    </li>
                                </div>
                                <!-- gateio membership info -->
                                <div class="swiper-slide">
                                    <li class="membership_list">
                                        <div class="membership_img">
                                            <img src="../img/temp/gateio_membership_black.png" alt="gateio_membership_black"/>
                                        </div>
                                       <div class="membership_info_detail">
                                            <div class="membership_logo">
                                                <img src="../img/temp/gateio_logo.png" alt="gateio_logo"/>
                                            </div>
                                            <div class="membership_name">
                                                <h4 class="bold en">Gate.io MEMBERSHIP</h4>
                                                <p class="detail_text">VVIP / VIP</p>
                                            </div>
                                            <div class="ko">
                                                <p>Gate.io와 Konnect의 파트너십을 통해<br/>
                                                    양사의 VIP에게 지급되는 멤버십
                                                </p>  
                                            </div>
                                       </div>
                                    </li>
                                </div>
                                <!-- kn membership info -->
                                <div class="swiper-slide">
                                    <li class="membership_list">
                                        <div class="membership_img">
                                            <img src="../img/temp/huobi_membership_gold.png" alt="huobi_membership_gold"/>
                                        </div>
                                       <div class="membership_info_detail">
                                            <div class="membership_logo membership_logo2">
                                                <img src="../img/temp/tron_htx_logo.png" alt="tron_htx_logo"/>
                                            </div>
                                            <div class="membership_name">
                                                <h4 class="bold en">Konnect Night MEMBERSHIP</h4>
                                                <p class="detail_text">VVIP / VIP / BLUE</p>
                                            </div>
                                            <div class="ko">
                                                <p>2023 커넥트 나이트를 기념해 TRON×Huobi의<br/>
                                                    VIP와 고객들을 위한 혜택을 담은 멤버십
                                                </p>
                                            </div>
                                       </div>
                                    </li>
                                </div>
                                <!-- yootuber collabo membership info -->
                                <div class="swiper-slide">
                                    <li class="membership_list">
                                        <div class="membership_img">
                                            <img src="../img/temp/poonam_membership_gold.png" alt="poonam_membership_gold"/>
                                        </div>
                                       <div class="membership_info_detail">
                                            <p class="membership_logo_name">YOUTUBER POONAM</p>
                                            <div class="membership_name">
                                                <h4 class="bold en">POONAM MEMBERSHIP</h4>
                                                <p class="detail_text">GOLD / BLUE</p>
                                            </div>
                                            <div class="ko">
                                                <p>
                                                    유튜버 Poonam의 라이프스타일에 맞춘 풍성한<br/>
                                                    혜택을 팬들과 함께 누릴 수 있도록 만들어진 멤버십
                                                </p>
                                            </div>
                                       </div>
                                    </li>
                                </div>
                            </div>
                            <div class="swiper-pagination membership_pagination"></div>
                            <div class="swiper-button-next membership_button_next"></div>
                            <div class="swiper-button-prev membership_button_prev"></div>
                        </div>
                        <!-- membership list swiper close -->

                        <div class="closed">        
                            <img src="../img/temp/bye.png" alt="bye"/>
                            <h4 class="ko bold">
                                2023 멤버십 가입은 마감되었습니다 <br/>
                                2024 새로운 멤버십으로 찾아뵐게요
                            </h4>
                        </div>
                    </div>
                </section>
                <!-- benefit info start -->
                <section class="section">
                    <div class="content2 membership_info_more_box">
                        <div class="tit_box">
                            <h3 class="ko">
                                놀라운 혜택의 커넥트 멤버십<br/>
                                더 자세히 알아볼까요?
                            </h3>
                        </div>
                        <div class="benefit_tab_box">
                            <div class="tab_box p_side_28">
                                <div class="tab_top benefit_tab">
                                    <input type="radio" id="radio-1" name="tabs" checked />
                                    <label class="benefit_tab_list benefit_tab1" data-tab="benefit_tab1" for="radio-1">큐레이션 멤버십</label>
                                    <input type="radio" id="radio-2" name="tabs" />
                                    <label class="benefit_tab_list benefit_tab2" for="radio-2" data-tab="benefit_tab2">콜라보 멤버십</label>
                                    <span class="glider"></span>
                                </div>
                            </div>
                            <div class="tab_content_wrap">
                                <!-- tab1 - 큐레이션 멤버십 start -->
                                <div class="tab_content tab_content1 p_side_28 mt_80" id="benefit_tab1">
                                    <div class="benefit_box">
                                        <div class="tit_box">
                                            <h4 class="ko">나의 라이프스타일에 딱 맞는 혜택만!</h4>
                                            <h1 class="en">
                                                CURATION<br/>
                                                MEMBERSHIP
                                            </h1>
                                        </div>
                                        <img class="card_list_img" src="../img/temp/service_list.png" alt="service_list"/>
                                        <div class="tit_box gap8">
                                            <h4 class="ko semibold">
                                                커넥트와 파트너가 함께 제공하는<br/>
                                                다양하고 놀라운 혜택을
                                            </h4>
                                            <p class="ko">
                                                FLEX / DAILY / VOYAGE / SOCIAL 등<br/>
                                                라이프스타일 타입에 맞춰 큐레이션 한 멤버십이에요
                                            </p>
                                        </div>
                                    </div>
                                    <!-- 첫번째, 큐레이션 멤버십 -->
                                    <div class="benefit_box">
                                        <div>
                                            <div class="badge">첫번째, 큐레이션 멤버십</div>
                                            <h1 class="en">FLEX TYPE</h1>
                                            <h4 class="ko pt_16 bold">
                                                일상을 특별하게 해줄<br/>
                                                19개의 브랜드 혜택
                                            </h4>
                                        </div>
                                        <!-- flex membership -->
                                        <div class="swiper flex_membership_swiper">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <div class="card_img">
                                                        <img src="../img/temp/membership_blue.png" alt="membership_blue"/>
                                                    </div>
                                                    <div class="membership_detail gap8">
                                                        <h2>FLEX&nbsp;<span class="tx_blue2">BLUE</span></h2>
                                                        <p class="detail_text ko">월 $9.9 / 연 $99</p>
                                                        <!-- 멤버십 설명글 -->
                                                        <p class="ko">커넥트가 제안하는 첫번째 라이프스타일 멤버십</p>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="card_img">
                                                        <img src="../img/temp/membership_gold.png" alt="membership_gold"/>
                                                    </div>
                                                    <div class="membership_detail gap8">
                                                        <!-- 멤버십 종류 택1 -->
                                                        <h2>FLEX&nbsp;<span class="tx_gold">GOLD</span></h2>
                                                        <p class="detail_text ko">월 $99 / 연 $990</p>
                                                        <!-- 멤버십 설명글 -->
                                                        <p class="ko">더 많은 혜택, 더 높은 할인율에 무료바우처까지</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-button-next flex_button_next"></div>
                                            <div class="swiper-button-prev flex_button_prev"></div>
                                        </div>
                                        <div class="btn_box mt_30">
                                            <button class="btn btn_full btn_darkblue" type="button" onclick="location.href='../membership/benefit_flex.html'">
                                                혜택 확인하기
                                                <i class="ic ic_arrow_s_wh"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <!-- 멤버십 가입 방법 -->
                                    <div class="benefit_box">
                                        <div>
                                            <div class="badge">멤버십 가입 방법</div>
                                            <h3 class="ko">멤버십 이용방법을 확인하세요!</h3>
                                            <div class="number_box mt_60">
                                                <h2>01</h2>
                                                <h5 class="ko bold">
                                                    가입유형선택<br/>   
                                                    <p class="pt_4">
                                                        커넥트의 큐레이션 멤버십은<br/>
                                                        2가지 유형으로 가입할 수 있어요
                                                    </p>
                                                </h5>
                                            </div>
                                            <ul class="asset_box box_blue box_2">
                                                <li>
                                                    <img src="../img/temp/kct_s.png" alt="kct_s"/> 
                                                    <div class="tx_left">
                                                        <h5 class="ko bold">세이빙형</h5>
                                                        <p class="detail_text ko">KCT로 이용하는 멤버십</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <img src="../img/temp/dollar_s.png" alt="dollar_s"/>
                                                    <div class="tx_left">
                                                        <h5 class="ko bold">구독형</h5>
                                                        <p class="detail_text ko">일반결제로 이용하는 멤버십</p>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="number_box">
                                                <h2>02</h2>
                                                <h5 class="ko bold">
                                                    세이빙형만의 장점<br/>   
                                                    <p class="pt_4">
                                                        간단한 주간 미션 수행 때마다<br/>
                                                        가입비로 낸 KCT를 돌려받을 수 있어요
                                                    </p>
                                                </h5>
                                            </div>
                                            <div class="roulette_box">
                                                <div class="roulette_text">
                                                    <p class="detail_text semibold pb_10">26주차 동안 세이빙한</p>
                                                    <h3 class="pb_24"><span class="big_tit">13</span>KCT</h3>
                                                    <p class="detail_text semibold tx_left">돌려받기까지 26주차 남았어요!</p>
                                                </div>  
                                                <img src="../img/temp/roulette.png" alt="roullette"/>
                                            </div>
                                            <div class="number_box">
                                                <h2>03</h2>
                                                <h5 class="ko bold">
                                                    다양한 리워드<br/>   
                                                    <p class="pt_4">
                                                        멤버십 가입 후 다양한 리워드 획득하세요
                                                    </p>
                                                </h5>
                                            </div>
                                            <ul class="asset_box box_blue box_4">
                                                <li>
                                                    <img src="../img/temp/krown_s.png" alt="krwon_s"/>
                                                    <p class="detail_text">+KROWN</p>
                                                </li>
                                                <li>
                                                    <img src="../img/temp/flex_blue_s.png" alt="flex_blue_s"/>
                                                    <p class="detail_text">+FLEX BLUE</p>
                                                </li>
                                                <li>
                                                    <img src="../img/temp/nft_s.png" alt="nft_s"/>
                                                    <p class="detail_text">+NFT CARD</p>
                                                </li>
                                                <li>
                                                    <img src="../img/temp/save_s.png" alt="save_s"/>
                                                    <p class="detail_text">+SAVING 이용권</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- tab2 - 콜라보 멤버십 start -->
                                <div class="tab_content tab_content2 p_side_28 mt_80" id="benefit_tab2">
                                    <div class="benefit_box">
                                        <div class="tit_box">
                                            <h4 class="ko">브랜드 및 인플루언서와 함께 만드는</h4>
                                            <h1 class="en">
                                                COLLABO<br/>
                                                MEMBERSHIP
                                            </h1>
                                        </div>
                                        <img class="card_list_img" src="../img/temp/collabo_list.png" alt="collabo_list"/>
                                        <div class="tit_box">
                                            <h4 class="ko semibold">
                                                커넥트는 두 가지 종류의<br/>
                                                콜라보 멤버십을 제공해요
                                            </h4>
                                            <ul class="text_box mt_20">
                                                <div class="detail_text box_green number">
                                                    <li>
                                                        브랜드사가 제공하는 특별한 혜택을 함께 담은
                                                        브랜드 콜라보 멤버십
                                                    </li>
                                                </div>
                                                <div class="detail_text box_green number">
                                                    <li>
                                                        인플루언서의 취향과 라이프스타일에 맞춘
                                                        혜택을 담은 엠배서더 멤버십
                                                    </li>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- 멤버십 제휴 신청하기 -->
                                    <div class="benefit_box d_flex align_center direction_column gap14">
                                        <i class="ic ic_notice_wh"></i>
                                        <p class="ko semibold">고객과 팬들을 위한<br/>
                                            우리만의 콜라보 멤버십을 만들고 싶다면?
                                        </p>
                                        <div class="btn_box pt_10">
                                            <button class="btn btn_full btn_secondary" type="button" onclick="location.href='../partnership/application_partnership.html'">
                                                멤버십 제휴 신청하기
                                            </button>
                                        </div>
                                    </div>
                                    <!-- 다양한 콜라보 멤버십 소개 -->
                                    <div class="benefit_box">
                                        <div>
                                            <div class="badge">COLLABO MEMBERSHIP</div>
                                            <h3 class="ko">           
                                                커넥트와 함께 만든<br/>
                                                다양한 콜라보 멤버십
                                            </h3>
                                        </div>
                                        <!-- collabo membership -->
                                        <div class="swiper flex_membership_swiper"> 
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <div class="card_img">
                                                        <img src="../img/temp/huobi_membership_gold.png" alt="huobi_membership_gold"/>
                                                    </div>
                                                    <div class="membership_detail">
                                                        <h2>Konnect Night</h2>
                                                        <h5 class="en">Membership</h5>
                                                        <!-- 멤버십 설명글 -->
                                                        <p class="ko regular pt_10">
                                                            2023 커넥트 나이트를 기념해 TRON×Huobi의 
                                                            VIP와 고객들을 위한 혜택을 담은 멤버십
                                                        </p>
                                                    </div>
                                                    <div class="btn_box mt_30">
                                                        <button class="btn btn_full btn_darkgreen" type="button" onclick="location.href='../membership/benefit_kn.html'">
                                                            멤버십 혜택 확인하기
                                                            <i class="ic ic_arrow_s_wh"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="card_img">
                                                        <img src="../img/temp/gateio_membership_black.png" alt="gateio_membership_black"/>
                                                    </div>
                                                    <div class="membership_detail">
                                                        <h2>Gate.io <span class="extralight">×</span> Konnect</h2>
                                                        <h5 class="en">Membership</h5>
                                                        <!-- 멤버십 설명글 -->
                                                        <p class="ko regular pt_10">
                                                            Gate.io와 Konnect의 파트너십을 통해 
                                                            양사의 VIP에게 지급되는 멤버십
                                                        </p>
                                                    </div>
                                                    <div class="btn_box mt_30">
                                                        <button class="btn btn_full btn_darkgreen" type="button" onclick="location.href='../membership/benefit_gateio.html'">
                                                            멤버십 혜택 확인하기
                                                            <i class="ic ic_arrow_s_wh"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="card_img">
                                                        <img src="../img/temp/poonam_membership_gold.png" alt="poonam_membership_gold"/>
                                                    </div>
                                                    <div class="membership_detail">
                                                        <h2>Youtuber Poonam</h2>
                                                        <h5 class="en">Membership</h5>
                                                        <!-- 멤버십 설명글 -->
                                                        <p class="ko regular pt_10">
                                                            유튜버 Poonam의 라이프스타일에 맞춘 풍성한 
                                                            혜택을 팬들과 함께 누릴 수 있도록 만들어진 멤버십
                                                        </p>
                                                    </div>
                                                    <div class="btn_box mt_30">
                                                        <button class="btn btn_full btn_darkgreen" type="button" onclick="location.href='../membership/benefit_poonam.html'">
                                                            멤버십 혜택 확인하기
                                                            <i class="ic ic_arrow_s_wh"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-button-next flex_button_next"></div>
                                            <div class="swiper-button-prev flex_button_prev"></div>
                                        </div>
                                    </div>
                                    <!-- 콜라보 멤버십 획득 방법 -->
                                    <div class="benefit_box">
                                        <div>
                                            <div class="badge">콜라보 멤버십 획득 방법</div>
                                            <h3 class="ko">
                                                언제 뜰지 모르는 콜라보 멤버십<br/>
                                                어떻게 획득할 수 있나요?
                                            </h3>
                                            <img class="poster_img mt_40" src="../img/temp/kn_poster.png" alt="kn_poster"/>
                                            <div class="d_flex direction_column gap20 mt_40">
                                                <p class="ko">
                                                    콜라보 멤버십 출시는 메인 배너에 공지해요!<br/>
                                                    앱 다운로드 후 이벤트 페이지에서 코드를 입력하면 <br/>
                                                    콜라보 멤버십을 획득하실 수 있어요 <br/>
                                                </p>
                                                <p class="detail_text ko tx_green">
                                                    * 콜라보 멤버십은 적용 대상자는 출시 브랜드 및<br/> 
                                                    인플루언서의 별도 공지를 통해 코드를 받으실 수 있어요
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 콜라보 멤버십 만들기 -->
                                    <div class="benefit_box">
                                        <div>
                                            <div class="badge">콜라보 멤버십 만들기</div>
                                            <h5 class="ko bold">
                                                브랜드와 고객을, 인플루언서와 팬들을<br/>
                                                더 강력하게 연결해 줄 커넥트 콜라보 멤버십
                                            </h5>
                                            <div class="full_img">
                                                <img class="connect_hand_img" src="../img/temp/connect_hand.png" alt="connect_hand"/>
                                            </div>
                                        </div>
                                        <div class="text_box  mt_20">
                                            <ul class="detail_text box_green number">
                                                <p class="tx_center bold pb_10">브랜드사</p>
                                                <li>브랜드 VIP를 위한 특별한 혜택 제공</li>
                                                <li>차별화된 혜택 제공으로 충성고객으로 유인</li>
                                            </ul>
                                            <ul class="detail_text box_green number">
                                                <p class="tx_center bold pb_10">인플루언서</p>
                                                <li>소중한 팬들에게 주는 특별한 멤버십 선물(한정)</li>
                                                <li>자신의 라이프스타일에 맞춘 혜택을 팬들과 공유</li>
                                            </ul>
                                        </div>
                                        <div class="btn_box mt_30">
                                            <button type="button" class="btn btn_full btn_secondary" onclick="location.href='../partnership/application_partnership.html'">멤버십 제휴 신청하기</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
               <!-- ecosystem info start -->
                <section class="section">
                    <div class="content2 ecosystem_info_box p_side_28">
                        <!-- ecosystem 커넥트 프로젝트 소개 -->
                        <div class="info_box">
                            <div class="tit_box">
                                <h1 class="tx_blue extrabold">ECOSYSTEM</h1>
                                <img class="kct_l" src="../img/temp/kct_l.png" alt="kct_l"/>
                                <p class="bold ko">
                                    커넥트 프로젝트는<br/>
                                    <span class="detail_text medium">
                                        WEB 2.0 (1.면세점 커머스 유통 2.케이팝 3.메디컬 4.관광<br/>
                                        5.통신) 인프라를 기반으로 한, 멤버십 유틸리티에<br/>
                                        WEB 3.0 유틸리티를 접목시켜 실사용성을 극대화 하는<br/>
                                        여행 토큰 이코노미 생태계 구축을 목표로 합니다
                                    </span>
                                </p>
                            </div>
                        </div>
                        <!-- Investment -->
                        <div class="info_box">
                            <div class="tit_box">
                                <h2 class="tx_blue">Investment Strategy<br/>in Konnect </h2>
                                <h5 class="bold ko">
                                    Real World Benefit Ecosystem 구축<br/>
                                    <span class="detail_text medium">
                                        기업, 정부, 인플루언서 콜라보(커넥트 혜택 plug in)를
                                        통한 WINWIN 생태계 확장
                                    </span>
                                </h5>
                                <img class="investment" src="../img/temp/investment.png" alt="investment"/>
                            </div>
                        </div>
                        <!-- Token Burn -->
                        <div class="info_box">
                            <div class="tit_box">
                                <h2 class="tx_blue">Token Burn</h2>
                                <h5 class="bold">
                                    Mint : Fiat , Crypto(ETH, USDT)<br/>
                                    Using App Service
                                </h5>
                            </div>
                            <ul class="text_box mt_20">
                                <div class="detail_text box_gray number ko">
                                    <li>
                                        멤버십 민팅
                                    </li>
                                    <li>
                                        커머스(KCT > KROWN)
                                    </li>
                                    <li>
                                        메디컬 바우처(KCT > KROWN) - 브랜드제품, 호텔, 통신, 그외 브랜드 바우처
                                    </li>
                                    <li>
                                        프로모션 참여(KCT > KROWN)
                                    </li>
                                </div>
                            </ul>
                        </div>
                        <!-- Tokenomics --> 
                        <div class="info_box">
                            <div class="tit_box">
                                <h2 class="tx_blue">Tokenomics</h2>
                                <img class="tokenomics" src="../img/temp/tokenomics.png" alt="tokenomics"/>
                                <div class="tx_left d_flex direction_column gap6">
                                    <p class="semibold">Total Supply : 100million</p>
                                    <p class="semibold">Token Standard : ERC-20</p>
                                    <p class="semibold">Bridge : Chainlink CCIP</p>
                                </div>
                            </div>
                        </div>
                        <!-- infta --> 
                        <div class="info_box">
                            <ul class="asset_box box_3">
                                <li>
                                    <a href="https://chain.link/economics/build-program" target="_blank">
                                        <img src="../img/temp/infra_chainlink.png" alt="infra_chainlink"/>
                                        <p class="detail_text bold text_link">CHAINLINK<br/>BUILD</p>    
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.htx.com/en-us/trade/kct_usdt" target="_blank">
                                        <img src="../img/temp/infra_htx.png" alt="infra_htx"/>
                                        <p class="detail_text bold text_link">LISTED ON<br/>
                                            HTX</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.gate.io/price/konnect-kct" target="_blank">
                                        <img src="../img/temp/infra_gateio.png" alt="infra_gateio"/>
                                        <p class="detail_text bold text_link">LISTED ON<br/>
                                            GATE.IO
                                            </p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
                <!-- ecosystem start -->
                <section class="section">
                    <div class="ecosystem_box">
                        <div class="ecosystem_img">
                            <img src="../img/temp/ecosystem.png" alt="ecosystem"/>
                        </div>
                    </div>
                </section>
            </main>
            <!-- MAIN end -->

            <!-- FOOTER start -->
            <footer id="footer" class="footer main_footer">
                <div class="footer_in">
                    <div class="footer_top">
                        <div class="footer_logo">
                            <a href="../views/home_ko.html">
                                <img src="../img/logo_white.png" alt="logo_white" />
                            </a>
                        </div>
                        <div class="main_sns">
                            <ul>
                                <li class="sns_icon">
                                    <a href="https://t.me/KonnectAnnouncements" target="_blank">
                                        <img
                                            src="../img/svg/sns_telegram_wh.svg"
                                            alt="sns_telegram"
                                        />
                                    </a>
                                </li>
                                <li class="sns_icon">
                                    <a
                                        href="https://twitter.com/KONNECT_KCT"
                                        target="_blank"
                                    >
                                        <img
                                            src="../img/svg/sns_twitter_wh2.svg"
                                            alt="sns_twitter"
                                        />
                                    </a>
                                </li>
                                <li class="sns_icon">
                                    <a href="https://www.instagram.com/konnectkct/" target="_blank">
                                        <img
                                            src="../img/svg/sns_instagram_wh.svg"
                                            alt="sns_instagram"
                                        />
                                    </a>
                                </li>
                                <li class="sns_icon">
                                    <a href="https://medium.com/@KONNECT_KCT" target="_blank">
                                        <img src="../img/svg/sns_medium_wh.svg" alt="sns_medium" />
                                    </a>
                                </li>
                                <!-- <li class="sns_icon">
                                    <a href="https://pf.kakao.com/_yQxcNb" target="_blank">
                                        <img src="../img/svg/sns_kakao_wh.svg" alt="sns_kakao" />
                                    </a>
                                </li> -->
                                <li class="sns_icon">
                                    <a
                                        href="https://blog.naver.com/konnect_finance"
                                        target="_blank"
                                    >
                                        <img src="../img/svg/sns_blog_wh.svg" alt="sns_blog" />
                                    </a>
                                </li>
                                <li class="sns_icon">
                                    <a href="https://discord.com/invite/konnect" target="_blank">
                                        <img
                                            src="../img/svg/sns_discord_wh.svg"
                                            alt="sns_discord"
                                        />
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="app_download">
                            <ul>
                                <li class="app_down_link">
                                    <a
                                        href="https://bit.ly/kctios"
                                        target="_blank"
                                    >
                                        <img
                                            src="../img/temp/appstore_wh.png"
                                            alt="appstore_wh"
                                        />
                                    </a>
                                </li>
                                <li class="app_down_link">
                                    <a
                                        href="https://bit.ly/kctand"
                                        target="_blank"
                                    >
                                        <img
                                            src="../img/temp/googleplay_wh.png"
                                            alt="googleplay_wh"
                                        />
                                    </a>
                                </li>
                            </ul>
                            <!-- <a href="https://d1mrs9xylgng0j.cloudfront.net/apk/konnect.apk" target="_blank">
                                <p class="app_help">
                                    <i class="ic ic_notice_wh"></i>
                                    구글스토어에서 앱이 검색되지 않나요?
                                </p>
                            </a> -->
                        </div>
                    </div>
                    <div class="footer_bottom">
                        <ul>
                            <li>
                                <h3 class="footer_tit">Head</h3>
                                <p class="footer_detail">
                                    CDF Switzerland GmbH - Konnect 
                                    21 Banhhofstrasse 6300 Zug, Switzerland<br/>
                                    contact@konnect.finance
                                </p>
                            </li>
                            <li>
                                <h3 class="footer_tit">Korea Branch</h3>
                                <p class="footer_detail">
                                    씨디에프 스위치랜드 유한책임회사
                                    (CDF Switzerland GmbH)<br />
                                    대표자 김주영 / 사업자등록번호 518-84-00025
                                </p>
                            </li>
                        </ul>
                        <p class="copyright">© 2023. Konnect All rights reserved.</p>
                        <!-- <p class="copyright">
                            A space where virtual and reality
                            connect&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;©2023 Konnect
                        </p> -->
                    </div>
                </div>
            </footer>
            <!-- FOOTER end -->
        </div>

    </body>
</html>


<!-- //js script -->
<script src="../js/libs/jquery-3.6.0.min.js"></script>
<script src="../js/libs/swiper.min.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript"> 

    //video play&pause 버튼
    $(document).ready(function () {
        var ctrlVideo = document.getElementById("video");

            $('.video_button').click(function () {
            if (ctrlVideo.paused) {
            ctrlVideo.play();
            $('.video_button').html("Pause");
            } else {
            ctrlVideo.pause();
            $('.video_button').html("Play");
            }
        });
    });



    // video.js
    document.addEventListener('DOMContentLoaded', function () {
        var video = document.getElementById('video');
        var introSource = document.getElementById('video_intro');
        var loopSource = document.getElementById('video_loop');

        video.addEventListener('ended', function () {
            introSource.removeEventListener('ended', replayIntro);
            video.src = loopSource.src;
            video.loop = true;
            video.play();
        });

        function replayIntro() {
            introSource.play();
        }

        introSource_m.addEventListener('ended', replayIntro);
    });

</script>

<!-- //js script -->