<div id="safe_area_top" class="status_bar"></div>
<div class="arrow_title">
    <div class="navigation_bar">
        <div class="arrow_title">
            <div class="arrow_back go_back" onclick="goBack();">
                <i class="ic ic_arrow_L_bk rotate_90"></i>
            </div>
            <!-- 각 화면에 맞는 화면명을 넣어주세요 -->
            <div class="nav_title tx_white">멤버십 제휴 신청</div>
        </div>
    </div>
</div>



<script>
    $(function(){
        // 스크롤 시 header fade-in
        $(document).on('scroll', function(){
            if($(window).scrollTop() > 0){
                $(".sub_header").removeClass("deactive");
                $(".sub_header").addClass("active");
            }else{
                $(".sub_header").removeClass("active");
                $(".sub_header").addClass("deactive");
            }
        })
    
    });
    
    </script>