<div class="bottom_fix_box">
    <button type="button" class="btn btn--full btn--lg btn--primary2" onclick="location.href=''">
        FLEX 블루 멤버십 가입하기
    </button>
</div>


<script>
    $(function(){
        // 스크롤 시 header fade-in
        $(document).on('scroll', function(){
            if($(window).scrollTop() > 550){
                $(".bottom_fix").removeClass("deactive");
                $(".bottom_fix").addClass("active");
            }else{
                $(".bottom_fix").removeClass("active");
                $(".bottom_fix").addClass("deactive");
            }
        })
    
    });
    
    </script>