<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
        <meta name="format-detection" content="telephone=no">

        <title>Konnect</title>

        <!-- SEO meta tag -->
        <meta name="apple-mobile-web-app-title" content=""> 
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"> 
        <meta name="title" content="Konnect">
        <meta name="description" content="">
        <meta name="keywords" content="Konnect Web3, Konnect, KCT, kct, konnectkct, NFT, nft, Duman, DUMAN, 듀먼, 커넥트, 커넥트 웹3">
        <meta name="robots" content="index, follow">
        <meta name="language" content="English">
        <meta name="author" content="KCT-Konnect">
        <!-- // SEO meta tag -->

        <!-- Open Graph -->
        <meta property="og:url" content="">
        <meta property="og:image" content="">
        <meta property="og:type" content="">
        <meta property="og:site_name" content="">
        <meta property="og:locale" content="">
        <meta property="og:title" content="">
        <meta property="og:description" content="">
        <meta property="og:country-name" content="">
        <!-- // Open Graph -->

        <!-- Icon & Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="../img/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon/favicon-16x16.png">
        <link rel="manifest" href="../img/favicon/site.webmanifest">
        <link rel="mask-icon" href="../img/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <!-- // Icon & Favicon -->

        <link rel="stylesheet" href="../css/common.css">
        
    </head>

    <body class="body_bg_bk"> 
        <div class="wrap">
            <!-- // Header -->
            <header id="header" class="header main_header"></header>
            <!-- // Content -->                 
            <main id="content" class="main_content">
                <section class="section section_main">
                    <div class="main_slide po_relative">                    
                        <div class="swiper main_swiper">
                            <div class="swiper-wrapper main_slide">
                                <div class="swiper-slide main_slide_li">
                                    <div class="main_btn_box p_side_20">
                                        <button class="btn btn--full btn--lg btn--white-stroke">무료멤버십 받기</button>
                                    </div>
                                    <img src="../img/temp/main_banner1.png" alt="main_banner"/>
                                </div>
                                <div class="swiper-slide main_slide_li">
                                    <img src="../img/temp/main_banner2.png" alt="main_banner"/>
                                    <div class="main_btn_box p_side_20">
                                        <button class="btn btn--full btn--lg btn--white-stroke">게이트 아이오 멤버십 받기</button>
                                    </div>
                                </div>
                                <div class="swiper-slide main_slide_li">
                                    <img src="../img/temp/main_banner2.png" alt="main_banner"/>
                                    <div class="main_btn_box p_side_20">
                                        <button class="btn btn--full btn--lg btn--white-stroke">게이트 아이오 멤버십 받기</button>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-pagination main_pagination dark_pagination"></div>
                        </div>
                    </div>
                    <!-- 공지사항 롤링 배너 start -->
                    <div class="section_in p_side_20">
                        <div class="notice_area">
                            <div class="notice_box">
                                <div class="notice_icon">
                                    <i class="ic ic_alarm"><img src="../img/svg/alarm_blue.svg" alt="alarm"/></i>
                                </div>
                                <div class="notice_text">
                                    <div class="notice">
                                        <ul class="rolling">
                                            <li><a href="#" class="link">[공지] 공지1 알려드립니다.</a></li>
                                            <li><a href="#" class="link">[공지] 공지2 알려드립니다.</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 멤버십 안내 start -->
                    <div class="section_in mt_60">
                        <div class="membership">
                            <div class="section_header p_side_20">
                                <p class="label label--stroke-blue2">MEMBERSHIP</p>
                                <h1 class="main_tit tx--white">당신의 라이프 스타일에<br/>딱 맞는 멤버십</h1>
                            </div>
                            <div class="swiper membership_swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="membership_img">
                                            <img src="../img/temp/membership_white.png"/>
                                        </div>
                                        <div class="membership_text">
                                            <h3 class="big_tit mb_8">WHITE</h3>
                                            <p class="main_detail bold">“가입만 해도 받는, 무료 멤버십”</p>
                                            <p class="regular_text medium mb_8">“커넥트가 제안하는 첫번째 라이프스타일 멤버십”</p>
                                            <p class="default_text tx--lightgray">#호캉스 #분좋카 #스파 #피부관리 #성형</p>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="membership_img">
                                            <img src="../img/temp/membership_blue.png"/>
                                        </div>
                                        <div class="membership_text">
                                            <h3 class="big_tit mb_8">FLEX&nbsp;&nbsp;<span class="tx--blue1">BLUE</span></h3>
                                            <p class="main_detail bold">“일상을 특별함으로 FLEX 하다”</p>
                                            <p class="regular_text medium mb_8">“커넥트가 제안하는 첫번째 라이프스타일 멤버십”</p>
                                            <p class="default_text tx--lightgray">#호캉스 #분좋카 #스파 #피부관리 #성형</p>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="membership_img">
                                            <img src="../img/temp/membership_gold.png"/>
                                        </div>
                                        <div class="membership_text">
                                            <h3 class="big_tit mb_8">FLEX&nbsp;&nbsp;<span class="tx--gold1">GOLD</span></h3>
                                            <p class="main_detail bold">“일상을 특별함으로 FLEX 하다”</p>
                                            <p class="regular_text medium mb_8">“커넥트가 제안하는 첫번째 라이프스타일 멤버십”</p>
                                            <p class="default_text tx--lightgray">#호캉스 #분좋카 #스파 #피부관리 #성형</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-pagination membership_pagination dark_pagination"></div>
                            </div>
                        </div>
                        <div class="p_side_20">
                            <div class="text_box"></div>
                        </div>
                    </div>
                    <!-- 혜택 리스트 start -->
                    <div class="section_in benefit">
                        <div class="section_header p_side_20">
                            <h1 class="main_tit tx--white">어떤 혜택을<br/>사용할 수 있나요?</h1>
                        </div>
                        <div class="tab_list">
                            <ul class="tab_category">
                                <li class="tab_category_item tab_item0"><button type="button" class="tab_category_btn tab_btn0 filter-tab1">ALL</button></li>
                                <li class="tab_category_item tab_item0"><button type="button" class="tab_category_btn tab_btn0 filter-tab2">숙박</button></li>
                                <li class="tab_category_item tab_item0"><button type="button" class="tab_category_btn tab_btn0 filter-tab3">F&B</button></li>
                                <li class="tab_category_item tab_item0"><button type="button" class="tab_category_btn tab_btn0 filter-tab4">아트&컬쳐</button></li>
                                <li class="tab_category_item tab_item0"><button type="button" class="tab_category_btn tab_btn0 filter-tab5">라이프</button></li>
                                <li class="tab_category_item tab_item0"><button type="button" class="tab_category_btn tab_btn0 filter-tab6">뷰티&스파</button></li>
                                <li class="tab_category_item tab_item0"><button type="button" class="tab_category_btn tab_btn0 filter-tab7">레져</button></li>
                                <li class="tab_category_item tab_item0"><button type="button" class="tab_category_btn tab_btn0 filter-tab8">쇼핑</button></li>
                                <li class="tab_category_item tab_item0"><button type="button" class="tab_category_btn tab_btn0 filter-tab9">헬스&메디컬</button></li>
                                <li class="tab_category_item tab_item0"><button type="button" class="tab_category_btn tab_btn0 filter-tab10">교통&통신</button></li>
                                <li class="tab_category_item tab_item0"><button type="button" class="tab_category_btn tab_btn0 filter-tab11">교육</button></li>
                            </ul>
                        </div>
                        <div class="swiper benefit_swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide brand_slide_group">
                                    <a class="brand_banner" href="../brand/brand_detail.html"><img src="../img/temp/brand/banner-alounge-ko.png" alt="alounge"/></a>
                                    <a class="brand_banner" href="../brand/brand_detail.html"><img src="../img/temp/brand/banner-movv-ko.png" alt="movv"/></a>
                                    <a class="brand_banner" href="../brand/brand_detail.html"><img src="../img/temp/brand/banner-oakvalley-ko.png" alt="oakvalley"/></a>
                                </div>
                                <div class="swiper-slide brand_slide_group">
                                    <a class="brand_banner" href="../brand/brand_detail.html"><img src="../img/temp/brand/banner-aiden-ko.png" alt="aiden"/></a>
                                    <a class="brand_banner" href="../brand/brand_detail.html"><img src="../img/temp/brand/banner-mygb-ko.png" alt="mygb"/></a>
                                    <a class="brand_banner" href="../brand/brand_detail.html"><img src="../img/temp/brand/banner-headspa-7-ko.png" alt="headspa7"/></a>
                                </div>
                            </div>
                            <div class="swiper-pagination benefit_pagination dark_pagination"></div>
                        </div>
                    </div>
                    <!-- 이벤트 배너 start -->
                    <div class="section_in event_banner">
                        <div class="swiper event_banner_swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide event_banner_item">
                                    <a class="img_full" href=""><img src="../img/temp/home_banner6_ko.png" alt="event_banner1"></a>
                                </div>
                                <div class="swiper-slide event_banner_item">
                                    <a class="img_full" href=""><img src="../img/temp/home_banner7_ko.png" alt="event_banner2"></a>
                                </div>
                            </div>
                            <div class="swiper-pagination count_pagination"></div>
                        </div>                      
                    </div>
                    <!-- 베스트 리뷰 start -->
                    <div class="section_in review">
                        <div class="section_header p_side_20">
                            <h1 class="main_tit tx--white">먼저 경험한 분들의<br/>베스트 후기</h1>
                        </div>
                        <div class="swiper review_swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide review_slide">
                                    <a class="review_banner" href="">
                                        <div class="review_frame">
                                            <div class="review_img">
                                                <img src="../img/temp/review_1.png" alt="alounge"/>
                                            </div>
                                            <div class="review_content">
                                                <p class="review_title regular_text semibold">커넥트 할인율 미쳤네요 ㅎㄷㄷㄷ</p>
                                                <p class="review_detail default_text">호캉스가 너무 가고 싶었는데, 커넥트 멤버십 혜택으로 남들보다 20%나 싸게 예약했어요.</p>
                                                <p class="review_user default_text tx--lightgray">@zooniii</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide review_slide">
                                    <a class="review_banner" href="">
                                        <div class="review_frame">
                                            <div class="review_img">
                                                <img src="../img/temp/review_3.png" alt="alounge"/>
                                            </div>
                                            <div class="review_content">
                                                <p class="review_title regular_text semibold">최고의 멤버십, 커넥트</p>
                                                <p class="review_detail default_text">요고요고 예약하기 옴청 편하네요_!<br/>커넥트 회원이라하니까, 웰컴푸드도 주시더라구요!</p>
                                                <p class="review_user default_text tx--lightgray">@ZZAO</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 크라운 사용법 안내 start -->
                    <div class="section_in krown_info">
                        <div class="section_header p_side_20">
                            <h1 class="main_tit tx--white">크라운, 알차게 모아서<br/>똑똑하게 쓰는 법</h1>
                        </div>
                    </div>

                </section>
            </main>
            <!-- // Footer -->
            <footer id="footer" class="footer main_footer"></footer>
            <!-- // Tab Bar -->
            <div id="tabbar" class="tabbar"></div>

            <div id="safe_area_bottom"></div>
        </div>
        
        
    
        <!-- //js script -->
        <script src="../js/libs/jquery-3.6.0.min.js"></script>
        <script src="../js/libs/swiper.min.js"></script>
        <script type="text/javascript" src="../js/common.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $(".main_header").load("../views/main_header.html");
                $(".main_footer").load("../views/main_footer.html");
                $(".tabbar").load("../views/tabbar.html");
            });
        </script>
        <!-- //js script -->

    </body>
</html> 