<div class="business_info">
    <div class="business_title">
        <p class="regular_text tx--white semibold">커넥트 사업자 등록 정보</p>
        <i class="ic ic_arrow_s_wh rotate_180">
            <img src="../img/svg/arrow_s_wh.svg" alt="arrow_s_wh"/>
        </i>
    </div>
    <ul class="business_detail">
        <li>
            <p class="bold">개인정보 처리 방침</p>
        </li>
        <li>
            <p><span>회사명</span>씨디에프 스위치랜드 유한책임회사 한국지사 </p>
            <p><span>주소</span>서울특별시 서초구 강남대로 93길 32, 2층</p>
            <p><span>대표이사</span>김주영</p>
            <p><span>사업자등록번호</span>518-84-00025</p>
            <p><span>통신판매업신고번호</span>제2023-서울서초-0901호</p>
            <div class="d_flex gap10">
                <p><span>TEL</span>070-4694-1406</p>
                <p><span>이메일</span>support@konnect.finance</p>
            </div>
            <p><span>사업제휴문의</span>bd@konnect.finance</p>
        </li>
        <li>
            <span>
                CDF Switzerland GmbH - Konnect<br/>
                21 Banhhofstrasse 6300 Zug, Switzerland<br/>
                © 2023. Konnect All rights reserved.
            </span>
        </li>
    </ul>
</div>
<div class="footer_fix">
    <ul class="quick_menu">
        <li><a href="../member/login.html">로그인</a></li>
        <li><a href="../mypage/inquiry.html">문의하기</a></li>
    </ul>
    <div class="language"></div>
</div>



<!-- //js script -->
<script type="text/javascript">

//footer toggle - 정보 더보기
$(function () {
    $(".business_title").click(function () {
        $(".business_detail").slideToggle(0);
        $(".ic_arrow_s_wh")
        .toggleClass('on')
        .siblings()
        .removeClass('on');
    });
});
</script>
<!-- //js script -->