<div id="safe_area_top" class="status_bar"></div>
<div class="navigation_bar main_top">
    <div class="header_logo">
        <img src="../img/main_logo.png" alt="main_logo"/>
    </div>
    <div class="nav_icon_box">
        <i class="ic ic_mypage"onclick="location.href='../menu_all/menu_all.html'">
            <img src="../img/svg/mypage_wh.svg" alt=""/>
        </i>
        <i class="ic ic_menu mb_4" onclick="location.href='../menu_all/menu_all.html'">
            <img src="../img/svg/hamburger_menu_wh.svg" alt=""/>
        </i>
    </div>
</div>