<div class="tabbar_wrap">
    <button class="tabbar_nav_item" onclick="location.href='../views/main.html'">
        <div class="tabbar_icon">
            <i class="ic ic_home"></i>
        </div>
        <p class="tabbar_title">홈</p>
    </button>
    <button class="tabbar_nav_item">
        <div class="tabbar_icon">
            <i class="ic ic_wallet"></i>
        </div>
        <p class="tabbar_title">지갑</p>
    </button>
    <button class="tabbar_nav_item">
        <div class="center_logo">
            <img src="../img/logo.png" alt="logo">
        </div>
    </button>
    <button class="tabbar_nav_item" onclick="location.href='../views/main.html'">
        <div class="tabbar_icon">
            <i class="ic ic_brand"></i>
        </div>
        <p class="tabbar_title">브랜드관</p>
    </button>
    <button class="tabbar_nav_item">
        <div class="tabbar_icon">
            <i class="ic ic_store"></i>
        </div>
        <p class="tabbar_title">스토어</p>
    </button>
</div>


<script>
    // tabbar 클릭 이벤트.js
    $(document).ready(function() {       

        $(document).ready(function() { 
            $('.tabbar_nav_item').click(function(){

                if($(this).hasClass('is-active')){
                    $('.tabbar_nav_item').removeClass('is-active');
                } else {
                    $('.tabbar_nav_item').removeClass('is-active');
                    $(this).addClass('is-active');
                }
            });
        });
    });

</script>