<div class="tabbar_wrap">
    <button type="button" class="tabbar_nav_item" onclick="location.href='../views/main.html'">
        <div class="tabbar_icon">
            <i class="ic ic_home"></i>
        </div>
        <p class="tabbar_title">HOME</p>
    </button>
    <button type="button" class="tabbar_nav_item" onclick="location.href='../wallet/wallet_main.html'">
        <div class="tabbar_icon">
            <i class="ic ic_wallet"></i>
        </div>
        <p class="tabbar_title">WALLET</p>
    </button>
    <button type="button" class="tabbar_nav_item" onclick="location.href='../membership/membership_main.html'">
        <div class="center_logo">
            <img src="../img/logo.png" alt="logo">
        </div>
    </button>
    <button type="button" class="tabbar_nav_item" onclick="location.href='../brand/brand_main_en.html'">
        <div class="tabbar_icon">
            <i class="ic ic_brand"></i>
        </div>
        <p class="tabbar_title">BRAND</p>
    </button>
    <button type="button" class="tabbar_nav_item" onclick="location.href='../store/store_main_en.html'">
        <div class="tabbar_icon">
            <i class="ic ic_store"></i>
        </div>
        <p class="tabbar_title">STORE</p>
    </button>
</div>


<script>
    // tabbar 클릭 이벤트.js
    $(document).ready(function() {       

        $(document).ready(function() { 
            $('.tabbar_nav_item').click(function(){

                if($(this).hasClass('is-active')){
                    $('.tabbar_nav_item').removeClass('is-active');
                } else {
                    $('.tabbar_nav_item').removeClass('is-active');
                    $(this).addClass('is-active');
                }
            });
        });
    });

</script>