<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
        <meta name="format-detection" content="telephone=no">

        <title>Konnect UIO</title>

        <!-- SEO meta tag -->
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="date" content="">
        <meta name="sitecode" content="">
        <!-- // SEO meta tag -->

        <!-- Open Graph -->
        <meta property="og:url" content="">
        <meta property="og:image" content="">
        <meta property="og:type" content="">
        <meta property="og:site_name" content="">
        <meta property="og:locale" content="">
        <meta property="og:title" content="">
        <meta property="og:description" content="">
        <meta property="og:country-name" content="">
        <!-- // Open Graph -->

        <!-- Icon & Favicon -->
        <link rel="shortcut icon" href="../">
        <link rel="icon" type="image/png" sizes="16x16" href="../">
        <link rel="icon" type="image/png" sizes="32x32" href="../">
        <link rel="apple-touch-icon" href="../">
        <!-- // Icon & Favicon -->

        <link rel="stylesheet" href="../css/common.css">


    </head>

    <body data-pagestatus="">

        <div id="wrap" class="uio_wrap">


            <h2>Icon</h2>
            <div class="uio_box bg--gray">
                <h2>Size 32px</h2>
                <div class="uio_box">
                    <i class="ic ic_notice"></i>
                    <i class="ic ic_close_xl"></i>
                    <i class="ic ic_close_xl_wh"></i>
                </div>

                <h2>Size 24px</h2>
                <div class="uio_box">
                    <i class="ic ic_global"></i>
                    <i class="ic ic_hamburger"></i>
                    <i class="ic ic_mypage_wh"></i>
                    <i class="ic ic_global_wh"></i>
                    <i class="ic ic_hamburger_wh"></i>
                    <i class="ic ic_event_blue1"></i>

                    <i class="ic ic_arrow_s_wh"></i>
                    <i class="ic ic_home"></i>
                    <i class="ic ic_wallet"></i>
                    <i class="ic ic_brand"></i>
                    <i class="ic ic_store"></i>

                    <i class="ic ic_all_view"></i>
                    <i class="ic ic_arrow2"></i>
                    <i class="ic ic_close_l"></i>
                    <i class="ic ic_close_l_bk"></i>

                    <i class="ic ic_arrow_L"></i>
                    <i class="ic ic_arrow_L_wh"></i>

                    <i class="ic ic_krown_front"></i>
                    <i class="ic ic_mypage"></i>
                </div>

                <h2>Size 20px</h2>
                <div class="uio_box">
                    <i class="ic ic_arrow_m"></i>
                    <i class="ic ic_arrow_m_blue1"></i>
                    <i class="ic ic_arrow_m_blue2"></i>
                    
                    <i class="ic ic_location"></i>
                    <i class="ic ic_phone"></i>
                    <i class="ic ic_copy"></i>
                    <i class="ic ic_krown"></i>
                    <i class="ic ic_membership"></i>
                </div>

                <h2>Size 20px</h2>
                <div class="uio_box">
                    <i class="ic ic_arrow_s"></i>
                </div>
            </div>


            <h2>Text</h2>
            <div class="uio_box">
                <h2>Title</h2>
                <div class="uio_box">
                    <h1 class="huge_tit tx--left">가장 큰 타이틀 / Huge Title</h1>
                    <br/>
                    <h1 class="big_tit tx--left">큰 타이틀 / Big Title</h1>
                    <br/>
                    <h1 class="main_tit tx--left">메인 타이틀 / Main Title</h1>
                    <br/>
                    <h1 class="sub_tit tx--left">상세화면 타이틀 / Sub Title</h1>
                    <br/>
                    <h1 class="sub_tit2 tx--left">상세화면 타이틀2 / Sub Title2</h1>
                </div>

                <h2>Detail</h2>
                <div class="uio_box">
                    <p class="main_detail tx--left">메인 디테일 / Main Detail</p>                
                    <br/>
                    <p class="regular_text">레귤러 텍스트 / Regular Text</p>
                    <br/>
                    <p class="default_text">디폴트 텍스트 / Default Text</p>
                    <br/>
                    <br/>
                    <h1 class="nav_title">네비게이션 타이틀 / Nav Title</h1>
                    <br/>
                    <p class="text_link">텍스트 링크 / Text Link</p>
                </div>

                <h2>Text Color</h2>
                <div class="uio_box bg--gray">
                    <p class="main_detail tx--left tx--black">Text Black</p>                
                    <br/>
                    <p class="main_detail tx--left tx--darkgray">Text Darkgray</p>                
                    <br/>
                    <p class="main_detail tx--left tx--darkgray2">Text Darkgray2</p>                
                    <br/>
                    <p class="main_detail tx--left tx--lightgray">Text Lightgray</p>                
                    <br/>
                    <p class="main_detail tx--left tx--white">Text White</p>                
                    <br/>
                    <p class="main_detail tx--left tx--darkblue">Text Darkblue</p>                
                    <br/>
                    <p class="main_detail tx--left tx--lightblue">Text Lightblue</p>                
                    <br/>
                    <p class="main_detail tx--left tx--gold1">Text Gold1</p>                
                    <br/>
                    <p class="main_detail tx--left tx--gold2">Text Gold2</p>                
                    <br/>
                    <p class="main_detail tx--left tx--gold3">Text Gold3</p>                
                    <br/>
                    <p class="main_detail tx--left tx--silver">Text Silver</p>                
                    <br/>
                    <p class="main_detail tx--left tx--bronze">Text Bronze</p>                
                    <br/>
                    <p class="main_detail tx--left tx--warning">Text Warning</p>                
                    <br/>
                    <p class="main_detail tx--left tx--gradient">Text Gradient</p>                
                    <br/>
                </div>

                <h2>Font Weight</h2>
                <div class="uio_box">
                    <p class="main_detail tx--left thin">Font Thin</p>                
                    <br/>
                    <p class="main_detail tx--left regular">Font Regular</p>                
                    <br/>
                    <p class="main_detail tx--left medium">Font Medium</p>                
                    <br/>
                    <p class="main_detail tx--left semibold">Font Semibold</p>                
                    <br/>
                    <p class="main_detail tx--left bold">Font Bold</p>                
                    <br/>
                    <p class="main_detail tx--left extrabold">Font Extrabold </p>                
                    <br/>
                    <p class="main_detail tx--left fw_black">Font Black </p>                
                    <br/>
                </div>
            </div>
            

            <h2>Button</h2>
            <div class="uio_box">
                <h2>Size (xs)</h2>
                <div class="uio_box">
                    <button type="button" type="button" class="btn btn--xs btn--primary1 btn--icon">
                        <span>ICON</span>
                        <img src="../img/svg/arrow_right_wh_sm.svg">
                    </button>
                </div>
                
                <h2>Size (L)</h2>
                <div class="uio_box bg--gray">
                    <button type="button" class="btn btn--lg btn--primary1">Fill Primary1</button>
                    <br/>
                    <br/>
                    <button type="button" class="btn btn--lg btn--primary2">Fill Primary2</button>
                    <br/>
                    <br/>
                    <button type="button" class="btn btn--lg btn--white-stroke">Stroke White</button>
                    <br/>
                    <br/>
                    <button type="button" class="btn btn--lg btn--stroke-primary1">Stroke Primary1</button>
                    <br/>
                    <br/>
                    <button type="button" class="btn btn--lg btn--primary1 disable">Disable</button>
                    <br/>
                    <br/>
                    <button type="button" class="btn btn--lg btn--no-border">Border None</button>
                    <br/>
                    <button type="button" class="btn btn--lg btn--full">Full Button</button>
                </div>
            </div>


            <h2>Label & Badge</h2>
            <div class="uio_box">
                <h2>Label</h2>
                <div class="uio_box">
                    <div class="label label--fill-blue1">Label Fill Blue1</div>
                    <br/>
                    <br/>
                    <div class="label label--fill-blue2">Label Fill Blue2</div>
                    <br/>
                    <br/>
                    <div class="label label--stroke-blue2">Label Stroke Blue2</div>
                </div>

                <h2>Badge</h2>
                <div class="uio_box" style="width:200px;">
                    <div class="badge">뱃지 기본</div>
                    <br/>
                    <div class="badge en">Badge Default</div>
                    <br/>
                    <div class="badge badge--fill-gray">Badge Fill Gray</div>
                    <br/>
                    <div class="badge badge--fill-lightgray">Badge Fill Lightgray</div>
                    <br/>
                    <div class="badge badge--fill-blue1">Badge Fill Blue1</div>
                    <br/>
                    <div class="badge badge--fill-blue2">Badge Fill Blue2</div>
                    <br/>
                    <div class="badge badge_square">Badge Square</div>
                    <br/>
                    <div class="badge badge_circle">Badge Circle</div>
                    <br/>
                </div>
            </div>

            <h2>quantity</h2>
            <div class="uio_box">
                <h2>quantity</h2>
                <div class="uio_box">
                    <div class="quantity">
                        <input class="quantity_btn" type='button' onclick='count("minus")' value='-'/>
                        <div id='quantity_value' class="quantity_value">0</div>
                        <input class="quantity_btn" type='button' onclick='count("plus")' value='+'/>
                    </div>
                </div>
            </div>
        </div>


        <!-- //js script -->
        <script src="../js/libs/jquery-3.6.0.min.js"></script>
        <script src="../js/libs/swiper.min.js"></script>
        <script type="text/javascript" src="../js/common.js"></script>
        <script type="text/javascript">

            $(document).ready( function() {
                $("#top_nav").load("../main/top_nav.html");
                $("#side_nav").load("../main/side_nav.html");

            });

        </script>
        <!-- //js script -->
        

    </body>

</html>