<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
        <meta name="format-detection" content="telephone=no">

        <title>Konnect Admin</title>

        <!-- SEO meta tag -->
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="date" content="">
        <meta name="sitecode" content="">
        <!-- // SEO meta tag -->

        <!-- Open Graph -->
        <meta property="og:url" content="">
        <meta property="og:image" content="">
        <meta property="og:type" content="">
        <meta property="og:site_name" content="">
        <meta property="og:locale" content="">
        <meta property="og:title" content="">
        <meta property="og:description" content="">
        <meta property="og:country-name" content="">
        <!-- // Open Graph -->

        <!-- Icon & Favicon -->
        <link rel="shortcut icon" href="../">
        <link rel="icon" type="image/png" sizes="16x16" href="../">
        <link rel="icon" type="image/png" sizes="32x32" href="../">
        <link rel="apple-touch-icon" href="../">
        <!-- // Icon & Favicon -->

        <link rel="stylesheet" href="../css/common.css">


    </head>

    <body data-pagestatus="">

        <div id="wrap" class="uio_wrap">

            <h2>Text</h2>
            <div class="uio_box">

            </div>

            <h2>Button</h2>
            <div class="uio_box">
                <h2>버튼 사이즈별</h2>
                <button type="button" class="btn btn--xs">버튼</button>
                <button type="button" class="btn btn--md">버튼</button>
                <button type="button" class="btn btn--lg">버튼</button>
                <br/>
                <br/</br>
                <h2>버튼 상태별</h2>
                <button type="button" class="btn btn--xs">버튼</button>
                <button type="button" class="btn btn--xs btn--primary">버튼</button>
                <button type="button" class="btn btn--xs btn--secondary">버튼</button>
                <button type="button" class="btn btn--xs btn--warning">버튼</button>
                <button type="button" class="btn btn--xs disabled">버튼</button>
                <button type="button" class="btn btn--xs btn_noline">버튼</button>
                <button type="button" class="btn btn_close"></button>
            </div>
            
        </div>




        <!-- //js script -->
        <script src="../js/jquery-3.6.0.min.js"></script>
        <script src="../js/bootstrap.js"></script>
        <script src="../js/common.js"></script>
        <script type="text/javascript">

            $(document).ready( function() {
                $("#top_nav").load("../main/top_nav.html");
                $("#side_nav").load("../main/side_nav.html");

            });
        </script>
        <!-- //js script -->
        

    </body>

</html>