body,
button,
input,
select,
textarea {
    font-family: 'Pretendard',sans-serif;
    color:#666;
}

[role=button] {
    cursor: pointer;
  }
  
select {
    word-wrap: normal;
}
select:disabled {
    opacity: 1;
}


/****************** 색상 color ******************/
.bg--white{
    background-color:#fff !important;
}
.bg--gray{
    background-color:#f3f4f6 !important;
}
.bg--black{
    background-color:#000 !important;
}


/****************** 마진 margin ******************/
.mt_2{
    margin-top:2px !important;
}
.mt_4{
    margin-top:4px !important;
}
.mt_8{
    margin-top:8px !important;
}
.mt_10{
    margin-top:10px !important;
}
.mt_20{
    margin-top:20px !important;
}
.mt_30{
    margin-top:30px !important;
}
.mt_40{
    margin-top:40px !important;
}
.mt_80{
    margin-top:80px !important;
}

.mb_2{
    margin-bottom:2px !important;
}
.mb_4{
    margin-bottom:4px !important;
}
.mb_8{
    margin-bottom:8px !important;
}
.mb_10{
    margin-bottom:10px !important;
}
.mb_20{
    margin-bottom:20px !important;
}
.mb_30{
    margin-bottom:30px !important;
}
.mb_40{
    margin-bottom:40px !important;
}
.mb_60{
    margin-bottom:60px !important;
}

.mr_4{
    margin-right:4px !important;
}


/****************** 마진 margin ******************/

/****************** 패딩 padding ******************/
.p_side_20{
    padding:0 20px;
}
.pl_4{
    padding-left:4px !important;
}
.pl_8{
    padding-left:8px !important;
}
.pl_10{
    padding-left:10px !important;
}

.pb_20{
    padding-bottom:20px !important;
}
.pb_40{
    padding-bottom:40px !important;
}

.pt_20{
    padding-top:20px;
}

/****************** width height ******************/
.w_100per{
    width:100% !important;
}
.w_50per{
    width:50% !important;
}

.w_70{
    width:70px !important;
}
.w_100{
    width:100px !important;
}



.h_100{
    height:100px !important;
}
.h_300{
    height:300px !important;
}


.min_h_100{
    min-height:100px !important;
}
.min_h_300{
    min-height:300px !important;
}

/****************** 폰트 font ******************/
@font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    src: url("../../font/Pretendard-Thin.ttf") format("ttf");
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    src: url("../../font/Pretendard-ExtraLight.ttf") format("ttf"); 
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    src: url("../../font/Pretendard-Light.ttf") format("ttf");
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    src: url("../../font/Pretendard-Regular.ttf") format("ttf");
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    src: url("../../font/Pretendard-Medium.ttf") format("ttf");
} 

@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    src: url("../../font/Pretendard-SemiBold.ttf") format("ttf");
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    src: url("../../font/Pretendard-Bold.ttf") format("ttf");
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    src: url("../../font/Pretendard-ExtraBold.ttf") format("ttf");
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    src: url("../../font/Pretendard-Black.ttf") format("ttf");
}



/** 텍스트 스타일 text style **/

.tx_left{
    text-align:left !important;
}
.tx_center{
    text-align:center !important;
}
.tx_right{
    text-align:right !important;
}

.tx--white{
    color:#fff !important;
}
.tx--black{
    color:#000 !important;
}
.tx--blue1{
    color:#0039CC !important;
}
.tx--blue2{
    color:#00A3FF !important;
}
.tx--warning{
    color:#CE2827 !important;
}


.medium{
    font-weight:500 !important;
}
.semibold{
    font-weight:700 !important;
}
.bold{
    font-weight:700 !important;
}


.title_box{
    width:100%;
    display:flex;
    justify-content: space-between;
    margin-bottom:10px;
    /* padding:6px 0 10px; */
    /* border-bottom:1px solid #ddd; */
}
.main_tit{
    font-weight:700;
    font-size:22px;
    line-height:1.4;
    color:#313a46;
}
.sub_tit_box{
    width:100%;
    margin-bottom:10px;
}
.sub_tit_box.button{
    display:flex;justify-content: space-between;
}

.sub_tit{
    font-weight:700;
    font-size:18px;
    color:#313a46;
    line-height:1.4;
}
.default_text{
    font-size:12.5px;
    line-height:1.4;
    color:#313a46;
}




.required:after {
    content: '*';
    color:#ec0000;
    position:absolute;
    right:3px;
    top:14px;
}
.error_message:after{
    content:'필수 입력 항목입니다.';
    color:#ec0000;
    font-size:12px;
    position:absolute;
    left:0;
    bottom:-18px;
}





/****************** 버튼 button ******************/

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}
button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}

.btn{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    padding: 6px 12px;
    font-weight:500;
}



.btn--full{
    width:100%;
}
.btn--xs{
    height:24px;
    font-size:12.5px;
    font-weight:500;
}
.btn--md{
    height:32px;
    font-size:13px;
    font-weight:600;
}
.btn--lg{
    height:40px;
    font-size:15px;
    font-weight:700;
    min-width:80px;
}


.btn--cancle{
    color: #555;
}
.btn--confirm{
    color: #3b71ca;
}

.btn--option{
    background-color:#313a46;
    color:#fff;
}
.btn--option:hover{
    background-color:#4c5f77;
    border-color:#4c5f77;
}


.btn--basic{
    border-color:#ccc;
    color: #555;
}
.btn--basic:hover{
    background-color:#555;
    color:#fff;
}


.btn--fill-primary{
    border-color:#3b71ca;
    background-color:#3b71ca;
    color:#fff;
}
.btn--fill-primary:hover{
    border-color:#3b71ca;
    background-color:#fff;
    color:#3b71ca;
}
.btn--primary{
    border-color:#3b71ca;
    background-color:#fff;
    color:#3b71ca;
}
.btn--primary:hover{
    background-color:#3b71ca;
    color:#fff;
}

.btn--secondary{
    background-color:#00a3ff;
    color:#fff;
}


.btn--warning{
    border-color:#dc4c64;
    background-color:#fff;
    color:#dc4c64;
}

.btn--warning:hover{
    background-color:#dc4c64;
    color:#fff;
}


.btn--white-stroke{
    border:2px solid #fff;
    color:#fff;
    background-color:rgba(0,0,0,0);
}
.btn_noline{
    border:none !important;
}


.btn.disabled {
    background-color:#ddd;
    color:#555;
}

.btn_close{   
    background-image:url(../img/svg/ic_close_m.svg);
    background-repeat:no-repeat;
    background-position:center;
    width: 32px;
    height:32px; 
}
.btn_close:hover{
    border-width:2px;
    border-color:#4c5f77;
    /* background-image:url(../img/svg/ic_close_m_wh.svg);
    background-repeat:no-repeat;
    background-position:center;
    width:28px;
    height:28px; */
} 



/****************** 폼 form ******************/

input:focus{
    /* outline:2px solid rgba(64, 168, 253, 0.5); */
    outline:none;
}
.input_form{
    border: 1px solid #d3d8e3;
    border-radius:4px;
    padding:5px 8px;
    font-size:13px;
    display:flex;
    height:32px;
    align-items: center;
}
.input_search{
    min-width:240px;
}
.input_form::placeholder{
    color:#a6adbb;
}


select.input_form option{
    padding:6px;
    height:30px;
}
.multiple-select{
    height:28px;
    border-radius:4px;
    padding:6px 8px;
    width:120px;
    background-image:url(../img/svg/ic_arrow.svg);
    background-repeat: no-repeat;
    background-position:95%;
    background-size: auto;
    font-size:12.5px;
}
.multiple-select:active{
    color:#000;
}
.multiple-select_s{
    width:60px;
}
.none_select{
    color:#999;
}


/** textarea **/
.textarea_form{
    border: 1px solid #d3d8e3;
    font-size:13px;
    line-height:1.6;
    padding:5px 8px;
    width:100%;
    border-radius: 4px;
}
.textarea_form::placeholder{
    color:#a6adbb;
}



/** check_form **/



.check_form{
    display: block;
    min-height: 1.35rem;
    margin-bottom: 0;
    cursor:pointer;
}

.check_form_inline{
    display:flex;
    flex-direction: row;
    gap:20px;
}
.check_form_solo{
    cursor:default;
}
.check_form_solo .check_form_input{
    margin-right:0;
}


.check_form_input{
    width: 15px;
    height: 15px;
    margin-top: 3px;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    margin-right:4px;
    cursor:pointer;
}

.check_form_label{
    cursor:pointer;
}
.check_form_input.radio{
    border-radius:50%;
    background-image:url(../img/svg/radio_off.svg);
}
.check_form_input.radio:checked {
    background-image:url(../img/svg/radio_on.svg);
}

.check_form_input.checkbox{
    border-radius:2px;
    background-image:url(../img/svg/checkbox_off.svg);
}
.check_form_input.checkbox:checked {
    background-image:url(../img/svg/checkbox_on.svg);
}


/** select_option_form **/

.option_btn_group{
    gap:4px;
    display:flex;
    flex-direction: row;
}
  .select_option{
    position: relative;
    user-select: none;
    height:32px;
    border-radius:4px;
    padding:5px 18px 5px 8px;
    width:120px;
    background-image:url(../img/svg/ic_arrow.svg);
    background-repeat: no-repeat;
    background-position:right 5px center;
    background-size: auto;
    font-size:13px;
    color: #9493a7;
  }


  .select_option .default_option{
    position: relative;
    cursor: pointer;
    width:100%;
  }
  .select_option .default_option .option{
    color:#666;
  }
  .select_option .select_ul{
    position: absolute;
    top: 34px;
    left: 0;
    width: 100%;
    background: #fff;
    border-radius: 4px;
    display: none;
    border:1px solid #ccc;
    max-height:200px;
    overflow-x: hidden;
    overflow-y: overlay;
  }


  .select_ul::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 14px;
  }
.select_ul::-webkit-scrollbar-thumb {
    border:5px solid transparent;
    border-radius: 100px;
    background-color: #ddd;
    background-clip: padding-box;
}      
.select_ul::-webkit-scrollbar-track {
    background-color:transparent ;
}
  


  
  .select_option .select_ul .option{
    padding:10px 8px;
    cursor: pointer;        
    display: block;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
    white-space: nowrap;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  
  .select_option .select_ul .option:first-child:hover{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .select_option .select_ul .option:last-child:hover{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .select_option .select_ul .option:hover{
    background: #f6f7fb;
    color:#000;
  }
  
  
  .select_option .option .icon{
    background: url('https://i.imgur.com/oEZu0sK.png') no-repeat 0 0;
      width: 32px;
      height: 32px;
    margin-right: 15px;
  }
  
  .select_option.active .select_ul{
    display: block;
  }


/****************** display 정렬 ******************/

.d_inline {
    display: inline !important;
  }
.d_inline_block {
    display: inline-block !important;
}
.d-block {
    display: block !important;
}

.d_flex {
    display: flex !important;
  }
.d_inline_flex {
    display: inline-flex !important;
}
.d_none{
    display:none !important;
}

.align_center{
    align-items: center !important;
}

.gap4{
    gap:4px !important;
}
.gap6{
    gap:6px !important;
}
.gap10{
    gap:10px !important;
}



/****************** 포지션 position ******************/
.po_relative{
    position:relative;
}
.po_absolute{
    position:absolute;
}




/****************** transform ******************/
.rotate_180{
    transform:rotate(180deg);
}



/****************** table 테이블 ******************/

.table_form{
    width:100%;
    padding-top:10px;
    overflow-x: auto;;
}
.table_default{
    min-width:800px;
}
.table_bg_gray{
    background-color:#f1f1f1;
}
.top_border_bold{
    border-top:1px solid #EBEDF3;
}
.left_border{
    border-left:1px solid #e1e1e1;
}
.right_border{
    border-right:1px solid #e1e1e1;
}



/** 테이블 가로정렬 **/
.table_type1{
    width:100%;
}
.table_type1_head{
    padding: 0 0.6rem;
    color:#313a46;
    font-size: 14px;
    font-weight: 600;
    border-bottom:1px solid #EBEDF3;
    height:50px;
    background-color:#f3f6f9;
    border-top:1px solid #313a46;
}
.table_type1_data{
    padding: 0 0.6rem;
    font-size:14px;
    border-bottom:1px solid #EBEDF3;
    text-align:center;
    height:50px;
}

.table_nodata{
    font-size: 13px;
    text-align: center;

}
.table_nodata td{
    padding: 80px 0;
    border-bottom:1px solid #EBEDF3;

}



/** 테이블 세로정렬 **/
.table_type2{
    width:100%;
    padding:20px;
}
.table_type2_row{
    width:100%;
    display: flex;
}
.table_type2_row:first-child{
    padding-top:10px;
}
.table_type2_row:last-child{
    padding-bottom:10px;
}


.table_type2_row.long_type .table_type2_head{
    align-items: flex-start;
}


.table_type2_head{
    padding: 1rem 0.7rem;
    font-size: 14px;
    width:160px;
    min-width:160px;
    font-weight:700;
    line-height:1.6;
    color:#9493a7;
    display:flex;
    justify-content: flex-end;
    align-items: flex-start;
    position:relative;
}
.table_type2_data{
    padding: 1rem 0.7rem;
    font-size:13px;
    line-height:1.6;
    text-align:left;
    width: 50%;
    min-width:600px;
    display: flex;
    vertical-align: middle;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color:#3a394a;
}
.table_type2_data.table_type2_input{
    padding: 0.65rem 0.7rem;
}

.table_type2_data p + p{
    margin-top:8px;
}


/****************** badge 뱃지 ******************/
.badge_form{
    display: inline-block;
    padding: 4px 8px;
    border-radius: 13px;
    font-size: 12px;
    line-height: normal;
    font-weight:600;
}
.badge_form.is-blue{
    color:#285192;
    background-color:#e4ebf7;
}
.badge_form.is-red{
    color:#b0233a;
    background-color:#fae0e9;
}
.badge_form.is-gray{
    color:#666;
    background-color:#eee;
}


/****************** breadcrumb 목차 ******************/
.breadcrumb_form{
    display:flex;
}
.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: flex-end;
}
.breadcrumb-item{
    height:20px;
    font-size: 14px;
}
.breadcrumb-item + .breadcrumb-item {
    padding-left: 0.5rem;
}
.breadcrumb-item.active{
    color:#0039CC !important;
}
.breadcrumb-item + .breadcrumb-item::before {
    float: left;
    padding-right: 0.5rem;
    color: #6c757d;
    content: var(--bs-breadcrumb-divider, "/");
}
.breadcrumb .breadcrumb-item a {
    text-decoration: none;
}



/****************** icon 아이콘 ******************/

/** icon 24px **/
.ic_search{
    background-image:url(../img/svg/ic_search.svg);
    background-repeat:no-repeat;
    background-position:center;
    width:24px;
    height:24px; 
}
.ic_alarm{
    background-image:url(../img/svg/ic_alarm.svg);
    background-repeat:no-repeat;
    background-position:center;
    width:24px;
    height:24px; 
}
.ic_setting{
    background-image:url(../img/svg/ic_setting.svg);
    background-repeat:no-repeat;
    background-position:center;
    width:24px;
    height:24px; 
}
.ic_close_l{
    background-image:url(../img/svg/ic_close_l.svg);
    background-repeat:no-repeat;
    background-position:center;
    width:24px;
    height:24px; 
}



/** icon 20px **/
.ic_close_m{
    background-image:url(../img/svg/ic_close_m.svg);
    background-repeat:no-repeat;
    background-position:center;
    width:20px;
    height:20px; 
}
.ic_close_m.is{
    background-image:url(../img/svg/ic_close_m.svg);
    background-repeat:no-repeat;
    background-position:center;
    width:20px;
    height:20px; 
}



/** icon 12px **/
.ic_arrow{
    background-image:url(../img/svg/ic_arrow.svg);
    background-repeat:no-repeat;
    background-position:center;
    width:12px;
    height:12px; 
}
.ic_close_s{
    background-image:url(../img/svg/ic_close_s.svg);
    background-repeat:no-repeat;
    background-position:center;
    width:12px;
    height:12px; 
}