#wrap{
    /* display:flex; */
    height:auto;
    min-height:100vh;
    /* min-width:1000px; */
    min-width:1500px;
    /* position:relative; */
}

.uio_wrap{
    margin:0 auto;
    width:1080px;
    margin-top:40px;
    height:auto !important;
    margin-bottom:100px;
}
.uio_wrap h2{
    padding-bottom:10px;
}

.uio_box{
    border:2px solid #dddd;
    margin-top:12px;
    margin-bottom:30px;
    padding:20px;
}


/** 좌측 left nav menu **/
.side_nav{
    width: 240px;
    height:100%;
    background-color:#323d4d;   
    position:fixed;
    top:0;
    left:0;
    z-index:9999;
}


.nav_list_box{
    height: 100%;
}

.logo_box{
    width:240px;
    height:70px;
    padding:0 35px;
    background-color:#323d4d;   
    border-bottom:1px solid rgba(255,255,255,0.1);
}
.logo{
    height:auto;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.logo > img{
    width:100%;
    height:auto;
}





.nav_list{
    overflow-y:auto;
    height:calc(100% - 70px);
}
.nav_list::-webkit-scrollbar {
    width: 9px;
  }
.nav_list::-webkit-scrollbar-thumb {
    background-color: #788daa;
    border-radius: 18px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.nav_list::-webkit-scrollbar-track {
    background-color:#323d4d ;
}

.nav_link{
    color:#fff;
    transition: all .25s ease-in-out;
}
.nav_link {
    display:block;
    padding:20px 15px 20px 20px;
    color:#a9bbd0;
    font-weight:500;
}

.sub_nav_list{
    width:100%;
    height:auto;
    display:none;
    background-color:#1f2327;
}  



.nav_item{
    display:block;
    color:#a9bbd0;
    font-size:14px;
    font-weight:500;
}
.nav_item1{
    font-size:16px;
}


.sub_nav_tit{
    display:block;
    padding:20px 20px;    
    color:#a9bbd0;
    font-size:14px;
    font-weight:500;
}

.sub_nav_item > .nav_link{    
    display:block;
    padding:14px 24px;    
    color:#a9bbd0;
    font-size:14px;
}
.sub_nav_item:hover > .nav_link{
    color:#fff;
    transition: all .25s ease-in-out;
}
.sub_nav_item{
    display:block;
    padding:15px 20px;
    color:#a9bbd0;
    font-size:14px;
    font-weight:500;
}
.sub_nav_item.is-active > a{
    transition: all .25s ease-in-out;
    font-weight:500;
    color:#fff;
}




.nav_item.open .nav_item > ul{
    display:none;
}

.nav_item1.open{
    display:block;
    transition: all .25s ease-in-out;
    font-weight:600;
    color:#fff;
}


.nav_item1.open > .nav_link{
    display:block;
    transition: all .25s ease-in-out;
    font-weight:600;
    color:#fff;
}

.nav_item2 > a{
    display:block;
    padding:15px 20px;    
    color:#a9bbd0;
    font-size:14px;
    font-weight:500;
}
.nav_item2 .sub_nav_item{
    padding:15px 15px 15px 35px;
}
.nav_item2.open > a{
    font-weight:500;
    color:#fff;
}



/** 본문내용 **/
.wrapper{
    min-height:calc(100vh - 70px);
    padding-bottom:50px;
    margin-left:240px;
    background-color:#f6f7fb;
    position:relative;
}


/** 상단 navbar **/
.top_nav{
    height:70px;
    background-color:#fff;
    position:sticky;
    top:0;
    z-index:999;
    -webkit-box-shadow: 2px 1px 16px 0 rgba(0, 0, 0, 0.05), 0 0 1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 2px 1px 16px 0 rgba(0, 0, 0, 0.05), 0 0 1px 0 rgba(0, 0, 0, 0.1);
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.top_nav_inner{
    padding:10px 20px;
    display: flex;
    justify-content: space-between;
    width:100%;
}



.top_nav_left{
    display:flex;
    gap:20px;
    align-items: center;
    padding-left:240px;
}
.top_nav_left > li{
    display:inline-flex;
    font-size:14px;
    color:#6c757d;
}
.top_nav_left > li > .btn{
    font-size:14px;
}

.top_nav_right{
    display:flex;
    gap:10px;
    align-items: center;
}
.top_nav_right > li{
    display:inline-flex;
    font-size:14px;
}
.top_nav_right > li.nav_item{
    padding-right:10px;
}
.top_nav_right .nav_link:hover{
    color:#000;
    font-weight:600;
    transition: all .25s ease-in-out;
    display:block;
}
.top_nav_right .nav_link.is-active{
    font-weight:600;
    transition: all .25s ease-in-out;
    color:#000;
}


.user{
    padding: 10px 0 10px 20px;
    color:#333;
}

.dropdown-toggle{
    white-space: nowrap; 
    padding:6px 6px;
    color:#6c757d;
    font-weight:600;
    display: flex;
    align-items: center;
    gap: 4px;
}
.dropdown-toggle:hover{
    color:#000;
    font-weight:600;
}
.dropdown-toggle.is-active > .ic_arrow.is-active{ 
    background-image:url(../img/svg/ic_arrow_bk.svg);
  }

.dropdown-toggle.show{
    color:#000;
    font-weight:600;
}

.dropdown-menu{
    z-index:1000;
    min-width:100px;
    font-size:13px;
    background:#fff;
    border:1px solid #ccc;
    display:none;
    border-radius:4px;
}
.dropdown-menu.show{
    display:block;
    transform:translate(50%, 50%);
    margin-top:6px !important;
}
.dropdown-menu > li{
    width:100%;
    display:block;
    padding:12px;
    color:#6c757d;
    font-weight:500;
}
.dropdown-menu > li:hover{
    background: #f6f7fb;
    color:#000;
}
.dropdown-menu > li > a{
    display:block;
}
.dropdown_icon .dropdown-toggle{ 
    padding:6px 2px;
}


/** 검색창 **/
.top_search{
    display:flex;
    width: auto;
    gap:6px;
    padding: 4px 10px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.search_form{
    display: block;
    border:none;
    width:200px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
}

.search_form:focus {
    color: #333;
    background-color: #fff;
    outline: 0;
  }
.search_form::placeholder{
    color:#bbb;
}




/** 메인 콘텐츠 content **/
.content_bg{
    display:flex;
    flex-direction: column;
    padding:20px;
    height:100%;
}

.row_box{
    width:100%;
    display:flex;
    flex-direction: column;
}
.row_box + .row_box{
    margin-top:20px;
}

.column_box{
    display: flex;
    flex-direction: column;
    width:100%;
}
.column_box + .column_box{
    margin-left:20px;
}



.content{
    width:100%;
    height:auto;
    background-color:#fff;
    padding:20px;
    border-radius:4px;
    box-shadow: 0px 0px 35px 0px rgba(154, 161, 171, 0.15);
    min-width:1200px;
}
.content + .content{
    margin-top:20px;
}

.check_option_box{
    width: 100%;
    font-size: 14px;
    height:32px;
    display:flex;
    gap:50px;
    color:#9493a7;
}
.check_option_box + .check_option_box{
    margin-top:12px;
}
.option_group{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:6px;
}
.btn_group{
    display:inline-flex;
    border:1px solid #ccc;
    overflow:hidden;
    border-radius:4px;
    height:32px;
}
.btn_box_tit{
    font-weight:700;
    min-width:84px;
    line-height: 32px;
    height: 32px;
}
.btn_box_tit_s{
    min-width:60px;
}
.btn_group_inner{
    border:none;
    color: #666;
    font-size:12.5px;
    border-right:1px solid #ccc;
    border-radius:0;
}
.btn_group_inner:last-child{
    border:none;
}
.btn_group_inner.is-active{
    background-color:#313a46;
    color:#fff;
}
.btn_group_inner:active{
    background-color:#313a46;
    color:#fff;
}
.btn_group_inner:hover{
    background-color:#313a46;
    color:#fff;
}


.calendar_box{
    display:flex;
    align-items: center;
    gap:4px;
    font-size:16px;
    color:#666;
}
.date_input{
    height:32px;
    width:110px;
    /* font-weight:500; */
    background-image:url(../img/svg/ic_calendar.svg);
    background-repeat: no-repeat;
    background-position:97%;
    background-size: auto;
}



/** 갯수 선택 옵션 **/
.table_top{
    display:flex;
    justify-content:space-between;
}
.filter_option{
    display: flex;
    align-items: center;
    gap:6px;
}
.btn_option{
    display:flex;
    gap:6px;
}



/******** 상세화면 상단 detail_box  *********/
.content_top{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.content_tab{
    width:100%;
    height:50px;
    background-color:#fff;
    border-top:1px solid #ebedf3;  
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.detail_box{
    display:flex;
    
}
.detail_box_li{
    width:33%;
    border-right:1px solid #ebedf3;
    display:flex;
    padding:5px 20px;
}
.detail_box_li:last-child{
    border-right:0;
}

.profile_info{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:8px;
}

.profile_detail{
    display:flex;
    align-items: center;
    gap:15px;
}




.info_group{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.info_group_box{
    grid-column: 1 / 3;
    grid-row: 1;
}



.table_form2{
    display:flex;
}

ㅡㅜ


/** pagination   **/
.table_bottom{
    width: 100%;
    height: 34px;
    margin-top: 10px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.table_bottom_left{
    float: left;
}
.table_bottom_left span{
    font-size:12.5px;
}
.table_bottom_right{
    float: right;
}

.page_list{
    display:inline-block;
}
.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    font-size: 12.5px;
}
.page-item:first-child .page-link {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
.page-link {
    position: relative;
    display: block;
    color: #555;
    text-decoration: none;
    background-color: #fff;
    /* border: 1px solid #dee2e6; */
    padding:0.25rem 0.55rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.page-link:hover{
    background-color:#f1f1f1;
    border-radius:4px;
    color:#000;
}
.page-link:active{
    color:#000;
}

.page_input_frame{
    display: inline-block;
    font-size: 12.5px;
}
.page_input {
    width: 44px;
    border: 1px solid #ccc;
    border-radius: 0;
    color: #555;
    margin-right: 5px;
    text-align: center;
    font-size:12.5px;
    font-weight:600;
    border-radius:4px;
    height: 24px;
    padding:0 4px;
}
.btn.page_btn {
    width: 30px;
    height: 24px;
    font-size: 12.5px;
    color: #555;
    border: 1px solid #ccc;
    padding: 0;
    margin-left: 5px;
}


.brand_info_number{
    display: flex;
    width: 100%;
    gap:12px;
}
.brand_info_number + .brand_info_number{
    padding-top:12px;
}
.brand_info_number > button{
    width:50px;
}
.brand_info_number_in{
    display: flex;
    width: 55%;
    gap: 4px;
    flex-direction: column;
}



.btn_box{
    margin-top:30px;
    display: flex;
    justify-content: flex-end;
    gap:4px;
}


.profile_photo{
    width:100px;
    height:100px;
    border-radius:50%;
    border:2px solid #eee;
    overflow:hidden;
}
.profile_photo > img{
    width: 100%;
    height:auto;
}


.brand_logo{
    width:240px;
    height:60px;
}
.brand_logo > img{
    width:auto;
    height:100%;
}



/** footer **/
.footer{
    height:50px;
    background-color:#f6f7fb;
    display:flex;
    align-items: center;
    padding-left :30px;
    border-top:1px solid #ddd;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
}
.footer_detail{
    font-size:12.5px;
}



/************** 팝업 popup ***************/
#popup_wrap{
    background-color:#fff;
}

.popup_top{
    width:100%;
    height:50px;
    border-bottom:1px solid #EBEDF3;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.popup_tit{
    font-size:18px;
    font-weight:700;
    padding:0 20px;
}
.logo_bk{
    height:40px;
    width:170px;
    padding:0 20px;
}

.popup_content{
    width:100%;
    height:auto;
    padding:20px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom:1px solid #EBEDF3;
}
.popup_content > p{
    font-size:15px;
    line-height:1.4;
}

.popup_content > img{
    width:100%;
    height:auto;
}
.popup_btn{
    width:100%;
    padding:20px;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:4px;
}



/************** 모달 modal ***************/
#modal_wrap{
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    display:none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index:99999;
}
.modal_bg {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.modal_window {
    background:#fff;   
    box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.2 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 100%;
    height:auto;
    position: absolute;
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%);
}


.modal_s{
    width:400px;
}
.modal_m{
    width:600px;
}
.modal_l{
    width:800px;

}
.modal_top{
    width:100%;
    height:50px;
    border-bottom:1px solid #EBEDF3; 
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.modal_tit {
    font-size:18px;
    font-weight:700;
    padding:0 20px;

}
 .modal_title h2 {
    display: inline;
}
.modal_close {
    display: inline;
    float: right;
    padding-right: 10px;
    cursor: pointer;
}

.modal_content {
    flex-direction: column;
    align-items: flex-start;
}



/************** 알럿 alert ***************/

.alert_window{
    width:300px;
}
.alert_content{
    text-align:center;
    font-size:18px;
    font-weight:500;
    line-height:1.5;
    height:180px;
}

.popup_btn.alert{
    padding:0;
    gap:0;
}
.popup_btn.alert .btn{
    border:none;
    padding:0;
    width:50%;
    border-radius:0;
    height:50px;
    font-size:14px;
}


.popup_btn.alert .btn + .btn{
    border-left:1px solid #EBEDF3;
}


