#wrap{
    /* display:flex; */
    height:100vh;
    min-width:1000px;
}

/** 좌측 left nav menu **/
.side_nav{
    width: 240px;
    height:100%;
    background-color:#323d4d;   
    position:fixed;
    top:0;
    left:0;
    padding-top:70px;
}
.nav_list_box{
    overflow-y:scroll;
    height: 100%;
}

.nav_list_box::-webkit-scrollbar {
    width: 9px;
  }
  .nav_list_box::-webkit-scrollbar-thumb {
    background-color: #788daa;
    border-radius: 18px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }
  .nav_list_box::-webkit-scrollbar-track {
    background-color:#323d4d ;
  }


.logo_box{
    width:240px;
    height:70px;
    background-color:#323d4d;   
    border-bottom:1px solid rgba(255,255,255,0.1);
}
.logo{
    height:70px;
    width:auto;
    display:flex;
    justify-content: center;
    align-items: center;
}
.logo > img{
    width:auto;
    height:100%;
}


.nav_list > li:hover > a{
    color:#fff;
    transition: all .25s ease-in-out;
}
.nav_list > li > a {
    display:block;
    padding:20px 14px 20px 20px;
    color:#a9bbd0;
    font-weight:500;
}

.sub_nav_list{
    width:100%;
    height:auto;
    display:none;
    background-color:#293038;
}  


.nav_group .nab_link.is-active{
    background-color:#293038;
}
.nav_link.is-active{
    display:block;
    transition: all .25s ease-in-out;
    font-weight:600;
    color:#fff;
}

.sub_nav_item > a{    
    display:block;
    padding:14px 24px;    
    color:#a9bbd0;
    font-size:14px;
}
.sub_nav_item:hover > a{
    color:#fff;
    transition: all .25s ease-in-out;
}



/** 본문내용 **/
.wrapper{
    width:100%;
    height:calc(100vh - 120px);
    padding-left:240px;
    background-color:#fff;
}


/** 상단 navbar **/
.top_nav{
    height:70px;
    background-color:#fff;
    position:sticky;
    top:0;
    z-index:9999;
    -webkit-box-shadow: 2px 1px 16px 0 rgba(0, 0, 0, 0.05), 0 0 1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 2px 1px 16px 0 rgba(0, 0, 0, 0.05), 0 0 1px 0 rgba(0, 0, 0, 0.1);
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.top_nav_inner{
    padding:10px 20px;
    width:calc(100% - 240px);
    display: flex;
    justify-content: space-between;
}


.dropdown-toggle{
    white-space: nowrap; 
}
.dropdown-toggle:hover{
    color:#000;
    font-weight:600;
}
.dropdown-toggle.show{
    color:#000;
    font-weight:600;
}
.dropdown-toggle::after{
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.dropdown-menu{
    z-index:1000;
    min-width:100px;
    font-size:13px;
    background-color:#fff;
    border:1px solid #ccc;
    padding:6px 0;
    display:none;
    border-radius:8px;
}
.dropdown-menu.show{
    display:block;
    margin-left:8px !important;
}
.dropdown-menu > li{
    width:100%;
    display:block;
    padding:8px 12px;
    color:#555;
}
.dropdown-menu > li:hover{
    /* background-color:#f6f7fb; */
    color:#000;
    font-weight:600;
}
.dropdown-menu > li > a{
    display:block;
}



.top_nav_left{
    display:flex;
    gap:6px;
    align-items: center;
}
.top_nav_left > li{
    display:inline-flex;
    font-size:14px;
    color:#555;
}
.top_nav_left > li > .btn{
    font-size:14px;
}

.top_nav_right{
    display:flex;
    gap:20px;
    align-items: center;
}
.top_nav_right > li{
    display:inline-flex;
    font-size:14px;
    color:#555;
    padding-left:10px;
}
.top_nav_right .nav_link:hover{
    color:#000;
    font-weight:600;
    transition: all .25s ease-in-out;
    display:block;
}
.top_nav_right .nav_link.is-active{
    font-weight:600;
    transition: all .25s ease-in-out;
    color:#000;
}




/** 검색창 **/
.top_search{
    display:flex;
    width: auto;
    gap:6px;
    padding: 4px 10px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.search_form{
    display: block;
    border:none;
    width:140px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
}

.search_form:focus {
    color: #000;
    background-color: #fff;
    outline: 0;
  }
.search_form::placeholder{
    color:#999;
}




/** 메인 콘텐츠 content **/
.content_bg{
    display:flex;
    height:calc(100vh - 120px);
    background-color:#f6f7fb;
    padding:20px 20px 0px 20px;
}
.content{
    width:100%;
    height:auto;
    background-color:#fff;
    padding:20px;
}

.check_option{
    width: 100%;
    padding: 15px;
    border: 2px solid #ddd;
    font-size: 13px;
    margin-top: 25px;
}


/** footer **/
.footer{
    width:100%;
    height:50px;
    background-color:#f6f7fb;
    display:flex;
    align-items: center;
    padding-left :30px;
}
.footer_detail{
    font-size:12px;
    
}