#wrap{
    /* display:flex; */
    height:100vh;
    min-width:1000px;
}

/** 좌측 left nav menu **/
.side_nav{
    width: 240px;
    height:100%;
    background-color:#323d4d;   
    position:fixed;
    top:0;
    left:0;
    z-index:9999;
}


.nav_list_box{
    height: 100%;
}

.logo_box{
    width:240px;
    height:70px;
    background-color:#323d4d;   
    border-bottom:1px solid rgba(255,255,255,0.1);
}
.logo{
    height:62px;
    width:auto;
    display:flex;
    justify-content: center;
    align-items: center;
}
.logo > img{
    width:auto;
    height:100%;
}



.nav_list{
    overflow-y:auto;
    height:calc(100% - 70px);
}
.nav_list::-webkit-scrollbar {
    width: 9px;
  }
.nav_list::-webkit-scrollbar-thumb {
    background-color: #788daa;
    border-radius: 18px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.nav_list::-webkit-scrollbar-track {
    background-color:#323d4d ;
}


.nav_list > li:hover > a{
    color:#fff;
    transition: all .25s ease-in-out;
}
.nav_list > li > a {
    display:block;
    padding:20px 14px 20px 20px;
    color:#a9bbd0;
    font-weight:500;
}

.sub_nav_list{
    width:100%;
    height:auto;
    display:none;
    background-color:#293038;
}  


.nav_group .nab_link.is-active{
    background-color:#293038;
}
.nav_link.is-active{
    display:block;
    transition: all .25s ease-in-out;
    font-weight:600;
    color:#fff;
}

.sub_nav_item > a{    
    display:block;
    padding:14px 24px;    
    color:#a9bbd0;
    font-size:14px;
}
.sub_nav_item:hover > a{
    color:#fff;
    transition: all .25s ease-in-out;
}



/** 본문내용 **/
.wrapper{
    width:100%;
    /* height:calc(100vh - 120px); */
    height:auto;
    padding-left:240px;
    background-color:#fff;
}


/** 상단 navbar **/
.top_nav{
    height:70px;
    background-color:#fff;
    position:sticky;
    top:0;
    z-index:999;
    -webkit-box-shadow: 2px 1px 16px 0 rgba(0, 0, 0, 0.05), 0 0 1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 2px 1px 16px 0 rgba(0, 0, 0, 0.05), 0 0 1px 0 rgba(0, 0, 0, 0.1);
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.top_nav_inner{
    padding:10px 20px;
    display: flex;
    justify-content: space-between;
    width:100%;
}



.top_nav_left{
    display:flex;
    gap:20px;
    align-items: center;
    padding-left:240px;
}
.top_nav_left > li{
    display:inline-flex;
    font-size:14px;
    color:#6c757d;
}
.top_nav_left > li > .btn{
    font-size:14px;
}

.top_nav_right{
    display:flex;
    gap:10px;
    align-items: center;
}
.top_nav_right > li{
    display:inline-flex;
    font-size:14px;
}
.top_nav_right > li.nav_item{
    padding-right:10px;
}
.top_nav_right .nav_link:hover{
    color:#000;
    font-weight:600;
    transition: all .25s ease-in-out;
    display:block;
}
.top_nav_right .nav_link.is-active{
    font-weight:600;
    transition: all .25s ease-in-out;
    color:#000;
}


.user{
    padding: 10px 0 10px 20px;
    color:#333;
}

.dropdown-toggle{
    white-space: nowrap; 
    padding:6px 6px;
    color:#6c757d;
    font-weight:600;
    display: flex;
    align-items: center;
    gap: 4px;
}
.dropdown-toggle:hover{
    color:#000;
    font-weight:600;
}
.dropdown-toggle.is-active > .ic_arrow.is-active{ 
    background-image:url(../img/svg/ic_arrow_bk.svg);
  }

.dropdown-toggle.show{
    color:#000;
    font-weight:600;
}

.dropdown-menu{
    z-index:1000;
    min-width:100px;
    font-size:13px;
    background:#fff;
    border:1px solid #ccc;
    display:none;
    border-radius:4px;
}
.dropdown-menu.show{
    display:block;
    transform:translate(50%, 50%);
    margin-top:6px !important;
}
.dropdown-menu > li{
    width:100%;
    display:block;
    padding:12px;
    color:#6c757d;
    font-weight:500;
}
.dropdown-menu > li:hover{
    background: #f6f7fb;
    color:#000;
}
.dropdown-menu > li > a{
    display:block;
}
.dropdown_icon .dropdown-toggle{ 
    padding:6px 2px;
}


/** 검색창 **/
.top_search{
    display:flex;
    width: auto;
    gap:6px;
    padding: 4px 10px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.search_form{
    display: block;
    border:none;
    width:200px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
}

.search_form:focus {
    color: #333;
    background-color: #fff;
    outline: 0;
  }
.search_form::placeholder{
    color:#bbb;
}




/** 메인 콘텐츠 content **/
.content_bg{
    display:flex;
    flex-direction: column;
    background-color:#f6f7fb;
    padding:20px;
    height:100%;
}
.content{
    width:100%;
    height:auto;
    background-color:#fff;
    padding:20px;
    border-radius:4px;
    box-shadow: 0px 0px 35px 0px rgba(154, 161, 171, 0.15);
}
.content + .content{
    margin-top:20px;
}

.check_option_box{
    width: 100%;
    /* border: 2px solid #ddd; */
    font-size: 13px;
    height:28px;
    display:flex;
    gap:50px;
}
.check_option_box + .check_option_box{
    margin-top:12px;
}
.option_group{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:6px;
}
.btn_group{
    display:inline-flex;
    border:1px solid #ccc;
    overflow:hidden;
    border-radius:4px;
    height:28px;
}
.btn_box_tit{
    font-weight:700;
    min-width:84px;
    line-height: 28px;
    height: 28px;
}
.btn_box_tit_s{
    min-width:60px;
}
.btn_group_inner{
    border:none;
    color: #666;
    font-size:12px;
    border-right:1px solid #ccc;
    border-radius:0;
}
.btn_group_inner:last-child{
    border:none;
}
.btn_group_inner.is-active{
    background-color:#313a46;
    color:#fff;
}
.btn_group_inner:active{
    background-color:#313a46;
    color:#fff;
}
.btn_group_inner:hover{
    background-color:#313a46;
    color:#fff;
}


.calendar_box{
    display:flex;
    align-items: center;
    gap:4px;
    font-size:16px;
    color:#666;
}
.date_input{
    height:28px;
    width:110px;
    /* font-weight:500; */
    background-image:url(../img/svg/ic_calendar.svg);
    background-repeat: no-repeat;
    background-position:97%;
    background-size: auto;
}



/** 갯수 선택 옵션 **/
.table_top{
    display:flex;
    justify-content:space-between;
}
.filter_option{
    display: flex;
    align-items: center;
    gap:6px;
}
.btn_option{
    display:flex;
    gap:6px;
}


.text_link{
    color:#0039cc;
    /* font-weight:500; */
}




/** pagination   **/
.table_bottom{
    width: 100%;
    height: 34px;
    margin-top: 10px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.table_bottom_left{
    float: left;
}
.table_bottom_left span{
    font-size:12px;
}
.table_bottom_right{
    float: right;
}

.page_list{
    display:inline-block;
}
.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    font-size: 12px;
}
.page-item:first-child .page-link {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
.page-link {
    position: relative;
    display: block;
    color: #555;
    text-decoration: none;
    background-color: #fff;
    /* border: 1px solid #dee2e6; */
    padding:0.25rem 0.55rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.page-link:hover{
    background-color:#f1f1f1;
    border-radius:4px;
    color:#000;
}
.page-link:active{
    color:#000;
}

.page_input_frame{
    display: inline-block;
    font-size: 12px;
}
.page_input {
    width: 40px;
    border: 1px solid #ccc;
    border-radius: 0;
    color: #555;
    margin-right: 5px;
    text-align: center;
    font-size:12px;
    font-weight:600;
    border-radius:4px;
    height: 20px;
}
.btn.page_btn {
    width: 30px;
    height: 20px;
    font-size: 11px;
    color: #555;
    border: 1px solid #ccc;
    padding: 0;
    margin-left: 5px;
}





.btn_box{
    margin-top:30px;
}

/** footer **/
.footer{
    width:100%;
    height:50px;
    background-color:#f6f7fb;
    display:flex;
    align-items: center;
    padding-left :30px;
    border-top:1px solid #ddd;
}
.footer_detail{
    font-size:12px;
    
}